<pre>&#x3C;div class=&#x22;row&#x22;&#x3E;
  &#x3C;div class=&#x22;col-xs-12  col-md-6&#x22;&#x3E;
    [text* name class:form-control placeholder &#x22;Name *&#x22;]
  &#x3C;/div&#x3E;
  &#x3C;div class=&#x22;col-xs-12  col-md-6&#x22;&#x3E;
    [text* surname class:form-control placeholder &#x22;Surname *&#x22;]
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row&#x22;&#x3E;
  &#x3C;div class=&#x22;col-xs-12  col-md-6&#x22;&#x3E;
    [email* email class:form-control placeholder &#x22;E-mail *&#x22;]
  &#x3C;/div&#x3E;
  &#x3C;div class=&#x22;col-xs-12  col-md-6&#x22;&#x3E;
    [text service class:form-control placeholder &#x22;Service&#x22;]
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row&#x22;&#x3E;
  &#x3C;div class=&#x22;col-xs-12&#x22;&#x3E;
    [textarea your-message class:form-control placeholder &#x22;Your Message *&#x22;]
    &#x3C;div class=&#x22;wpcf7-notice&#x22;&#x3E;All fields with * are obligatory&#x3C;/div&#x3E;
    [submit class:btn class:btn-primary &#x22;SEND MESSAGE&#x22;]
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>