<h3 id="icons-font-awesome">Icons - Font Awesome</h3>
<p>
	Shortcode for Font Awesome is very similar to the buttons shortcode. It looks like this: <code>[fa]</code><br>
	There are 3 options with different attributes - <b>icon</b>, <b>href</b>, <b>target</b> and <b>color</b>.
</p>
<p>
	<b>Icon:</b> You can use any <a href="https://fortawesome.github.io/Font-Awesome/icons/" target="_blank"> 519 FontAwesome icon</a>. To set the selected icon, just get the title of the icon, for example "fa-phone".<br>
	Example: <code>[fa icon="fa-phone"]</code>
</p>
<p>
	<b>Href:</b> You can add URL to the icon.<br>
	Example: <code>[fa href="https://www.proteusthemes.com"]</code>
</p>
<p>
	<b>Target:</b> You can choose if you want to open the link in the same - <b>"_self"</b> or new - <b>"_blank"</b> window.<br>
	Example: <code>[fa target="_blank"]</code>
</p>
<p>
	<b>Color:</b> You can set a custom color to your icon.<br>
	Example: <code>[fa color="#ff00ff"]</code>
</p>
<p>
	So a Font Awesome icon shortcode with a home icon, linking to a page and opening in a new window/tab would look like this:
	<code>[fa icon="fa-home" href="https://www.proteusthemes.com" target="_blank"]</code>
</p>
