<p>
	To achieve the same design for the testimonial widget as on our demo page you have to click on <b>Layout</b> tab and set the <b>Bottom Margin</b> to <b>100</b>px, <b>Padding</b> to <b>90, 0, 74, 0</b>px and the <b>Row Layout</b> to <b>Full Width</b>. Then click on the <b>Design</b> tab, set the <b>Background Color</b> to <b>#e7ecee</b> and for the <b>Background Image</b> select the <b>pattern_light.png</b> image.
</p>