<h4 id="page-builder-widget-style">Page Builder Widget Style</h4>
<p>
	In this theme we added 1 new widget style. You can now set a nice box around the widget. This option can be choosed for all widgets in the page builder under the tab Design.
</p>