<h3 id="page-builder-widgets">Page Builder Widgets</h3>
<p>
	You can use almost any widget in the Page Builder. Let's take a look at few not so straight forward ones.
</p>
<h4>SiteOrigin Editor Widget</h4>
<p>
	SiteOrigin Editor will create you the same editor environment as a normal WordPress editor does. You can use this widget if you want normal text editing options. SiteOrigin Editor Widget is part of <a href="https://wordpress.org/plugins/so-widgets-bundle/" target="_blank">Site Origin Widgets Bundle</a>.
</p>

{{!-- Call To Action widget --}}
{{> call-to-action-widget}}

<h4>Post Tiles Widget</h4>
<p>
	Post tiles is our new widget made specifically for Beauty theme. It will show your posts in gorgeous grid with date, title, excerpt and image.
</p>
<img src="images/post-tiles.png" alt="Post Tiles widget">
<p>
	In the backend you will find 6 different predefined layouts which you can choose. You can also stack one or more Post Tiles widgets one under another. This is why setting for "Start with post number" will come in handy.
</p>
<img src="images/post-tiles-backend.png" alt="Post Tiles widget backend">

{{!-- Open Position widget --}}
{{> open-position-widget}}

{{!-- Twiter widget --}}
{{> twiter-widget}}