<div class="info">
	<a href="http://support.proteusthemes.com/hc/en-us/articles/205617131-How-to-install-the-LegalPress-theme-and-import-the-demo-data" target="_blank">Check out our guide on how to install the LegalPress theme and how to import it's demo data</a>
</div>