<h3 id="top-bar">Top Bar</h3>
<p>
	On the left side you can put Site Tagline <b>Appearance » Customize » Site Title &amp; Tagline</b>, very usefull for all kinds of slogans.
</p>
<p>
	The right side is top menu area so you can make a new menu in the <b>Appearance » Menus</b>. You must choose <b>Top Bar Menu</b> theme location and that's it.
</p>