<h3 id="demo-images">Demo Images</h3>
<p>
	All images used in {{extras.themeName}} can be found on <a href="{{extras.shutterstockURL}}" target="_blank">Shutterstock</a>. Images from slider:
	<ul>
		<li><a href="https://www.shutterstock.com/image-photo/conference-training-planning-learning-coaching-business-367746761"></a>Slider 1</li>
		<li><a href="https://www.shutterstock.com/image-photo/pretty-young-business-woman-giving-presentation-176222933">Slider 2</a></li>
	</ul>
</p>
<div class="info">
	All the images shown in the demo page of {{extras.themeName}} are copyrighted and come blurry with the theme (demo content).
</div>