<div class="info">
	<a href="http://support.proteusthemes.com/hc/en-us/articles/203669641-How-to-install-the-CargoPress-theme-and-import-the-demo-data" target="_blank">Check out our guide on how to install the CargoPress theme and how to import it's demo data</a>.
</div>