<h4>Title with Button Element</h4>
<p>
	In order to recreate the <strong>Title with Button</strong> widget in Visual Composer you will have to use the <strong>Raw HTML</strong> element in which you have to paste this code bellow and change the words ("Latest News" and "MORE NEWS") to your liking.
</p>
<pre>
&#x3C;div class=&#x22;widget-title--big&#x22;&#x3E;
  &#x3C;div class=&#x22;title-with-button&#x22;&#x3E;
    &#x3C;h3 class=&#x22;widget-title&#x22;&#x3E;
      &#x3C;span class=&#x22;widget-title__inline&#x22;&#x3E;Latest News&#x3C;/span&#x3E;
    &#x3C;/h3&#x3E;
    &#x3C;a href=&#x22;https://demo.proteusthemes.com/repairpress/latest-news&#x22; target=&#x22;_self&#x22; class=&#x22;btn  btn-primary  title-with-button__button&#x22;&#x3E;MORE NEWS&#x3C;/a&#x3E;
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
</pre>