<h3 id="visual-composer">Visual Composer</h3>
<p>
	<strong>Visual Composer: Page Builder for WordPress</strong> is supported for our <strong>RepairPress</strong> theme.
</p>
<div class="info">
	Please watch our video on <strong><a href="https://www.youtube.com/watch?v=dHN_MQlft0g" target="_blank">How to setup Visual Composer as the main page editor</a></strong>, replacing our default page editor: Page Builder by SiteOrigin.
</div>
<p>
	We have converted our widgets to the Visual Composer content elements, so you can use them in the VC editor. You can add them to your site from the <strong>Add new Element</strong> menu. Our elements are marked with our ProteusThemes icon, so they are easy to spot.
</p>
<img src="images/vc_add_new_element.png" alt="ProteusThemes Visual Editor elements"></p>
<h4>Templates for Visual Composer</h4>
<p>
	We've also made it very easy to create our original demo page layout templates with Visual Composer. You can choose from these premade templates: <strong>Home Page</strong>, <strong>About Us</strong>, <strong>Contact Us</strong> and <strong>Our Services</strong>. To recreate the RepairPress Home Page you need to:
</p>
<ol>
	<li>Create a new page and set the page template to <strong>Front Page with Slider</strong> and set the slider images below the editor.</li>
	<li>In the Visual Composer editor click on <strong>Templates</strong> icon, click on <strong>Default Templates</strong> tab and then select <strong>RepairPress: Home Page</strong> template:<img src="images/vc_home_page_template.png" alt="Visual Composer default templates"><img src="images/vc_select_front_page_template.png" alt="Visual Composer default templates"></li>
	<li>Close the templates widow and publish/update the page.</li>
</ol>
<h4>Nested Visual Composer Elements</h4>
<p>
	Some of our Visual Composer elements are nested elements. That means that once you select the element you will have to add it's child element in order to achieve the desired result.
</p>
<p>
	Lets take <strong>Social Icons</strong> as an example of the nested element. When you select <strong>Social Icons</strong> element in the VC editor a window will pop up with just a simple option to open links in a new tab and a "container" will be displayed in the editor.
</p>
<img src="images/vc_social_icons.png" alt="Social Icons VC element">
<p>
	Now you have to click the + icon and add a <strong>Social Icon</strong> element, edit it's settings (that will actually add a social icon to the page). With this method you can add as many social Icons as you want. And that's why we use nested elements.
</p>
<p>
	Other nested elements are: <strong>Accordion</strong>, <strong>Icon Menu</strong>, <strong>Steps</strong>, <strong>Google Map</strong>, <strong>Number Counter</strong> and <strong>Testimonials</strong>. They all work on the same principle, they enable you to add multiple locations, counters, testimonials, menu items ans so on...
</p>
<h4>Title with Button Element</h4>
<p>
	In order to recreate the <strong>Title with Button</strong> widget in Visual Composer you will have to use the <strong>Raw HTML</strong> element in which you have to paste this code bellow and change the words ("Latest News" and "MORE NEWS") to your liking.
</p>
<pre>
&#x3C;div class=&#x22;widget-title--big&#x22;&#x3E;
  &#x3C;div class=&#x22;title-with-button&#x22;&#x3E;
    &#x3C;h3 class=&#x22;widget-title&#x22;&#x3E;
      &#x3C;span class=&#x22;widget-title__inline&#x22;&#x3E;Latest News&#x3C;/span&#x3E;
    &#x3C;/h3&#x3E;
    &#x3C;a href=&#x22;https://demo.proteusthemes.com/repairpress/latest-news&#x22; target=&#x22;_self&#x22; class=&#x22;btn  btn-primary  title-with-button__button&#x22;&#x3E;MORE NEWS&#x3C;/a&#x3E;
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
</pre>