<h3 id="tables">Tables</h3>
<p>
	Tables are in fact not made with real shortcodes but very simple <a href="http://www.w3schools.com/html/html_tables.asp" target="_blank">html tables</a>.
</p>
<p>
	They must be inserted in the <b>Text</b> page editor or in the Text widget. Look at the images bellow:
</p>
<img src="images/table-text.jpg" alt="Table Text" width="1905" height="952">
<img src="images/table-widget.jpg" alt="Table Widget" width="1905" height="952">
<p>
	After that all you need to do is to add our <code>.shaka-table</code> class in the <code>&#x3C;table&#x3E;</code> and that's it.
</p>
<p>
	Example for our demo <b>Pricing Tables</b>:
</p>
<pre>&#x3C;table class=&#x22;shaka-table&#x22;&#x3E;
  &#x3C;thead&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;th&#x3E;GEAR FOR RENT&#x3C;/th&#x3E;
      &#x3C;th class=&#x22;align-center&#x22;&#x3E;Renting price&#x3C;/th&#x3E;
      &#x3C;th class=&#x22;align-center&#x22;&#x3E;Boat trip price + eqipment&#x3C;/th&#x3E;
    &#x3C;/tr&#x3E;
  &#x3C;/thead&#x3E;
  &#x3C;tbody&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;Neoprene suit&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;Free (on all trips over $50)&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;Free (on all trips over $50)&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;SNORKELLING FINS&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$22.95&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$20.95&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;SNORKELING MASK/td&#x26;gt;
      &#x3C;/td&#x3E;&#x3C;td class=&#x22;align-center&#x22;&#x3E;$16.95&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$10.95&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;SQUBA PRO&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$23.95&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$20.95&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;OCEANIC COMPASS&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$9.95&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;&#x3C;a href=&#x22;https://demo.proteusthemes.com/shaka/services/diving-and-snorkeling/&#x22;&#x3E;GET IN TOUCH&#x3C;/a&#x3E;&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
  &#x3C;/tbody&#x3E;
&#x3C;/table&#x3E;</pre>