<section>
	<h2 id="header">Header</h2>

	{{!-- Top Bar --}}
	{{> top-bar}}

	{{!-- Logo --}}
	{{> logo}}

	{{!-- Favicon --}}
	{{> favicon}}

	<h3 id="header-widgets">Slider Widgets</h3>
	<p>
		You can put a lot of widgets in the <strong>Slider</strong> widget area, but the slider will look great with the following widgets:
	</p>

	{{!-- Header Widgets --}}
	{{> header-widgets}}

	<h4>Social Icons</h4>
	<p>
		Very easy to use widget. Insert your link to the social network and select your social network icon or input the name of the icon from the <a href="http://fontawesome.io/icons/" target="_blank">Font Awesome collection</a>.
	</p>

	{{!-- Main Menu --}}
	{{> main-menu}}

	{{!-- After Header --}}
	{{> after-header}}
</section>