/*
	Variables and Bootstrap overrides
*/

// Brand colors
// -------------------------
$primary-color: #3298cb;

// Typography
// -------------------------
$default-font: 'Roboto', Helvetica, Arial, sans-serif;
$line-height-base: 1.5;

// Bootstrap fonts path
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// Grid system
// -------------------------
$grid-float-breakpoint: 992px;

// Custom medic icons
.pt-medic-icons-list {
	margin-top: 30px;

	.content & p {
		margin-bottom: 10px;
	}

	.content & div {
		margin-bottom: 10px;
	}
}

/* Medic Fonts */
@font-face {
	font-family: 'ptmedic';
	src: url('../fonts/ptmedic.eot');
	src: url('../fonts/ptmedic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ptmedic.ttf') format('truetype'),
		url('../fonts/ptmedic.woff') format('woff'),
		url('../fonts/ptmedic.svg?#ptmedic') format('svg');
	font-weight: normal;
	font-style: normal;
}

.mp {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'ptmedic';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 48px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mp-ambulance-car::before {
	content: '\e900';
}

.mp-bandage::before {
	content: '\e901';
}

.mp-brain::before {
	content: '\e902';
}

.mp-breast::before {
	content: '\e903';
}

.mp-checkin-hospital::before {
	content: '\e904';
}

.mp-clipboard::before {
	content: '\e905';
}

.mp-crutch::before {
	content: '\e906';
}

.mp-dental-chair::before {
	content: '\e907';
}

.mp-dna::before {
	content: '\e908';
}

.mp-doctor::before {
	content: '\e909';
}

.mp-dropper::before {
	content: '\e90a';
}

.mp-drugs::before {
	content: '\e90b';
}

.mp-eye::before {
	content: '\e90c';
}

.mp-firstaidkit::before {
	content: '\e90d';
}

.mp-firstaidkit-02::before {
	content: '\e90e';
}

.mp-healing::before {
	content: '\e90f';
}

.mp-heart-rate-monitor::before {
	content: '\e910';
}

.mp-heartbeat::before {
	content: '\e911';
}

.mp-hospital::before {
	content: '\e912';
}

.mp-hospital-bed::before {
	content: '\e913';
}

.mp-hospital-bed02::before {
	content: '\e914';
}

.mp-hospital02::before {
	content: '\e915';
}

.mp-intestine::before {
	content: '\e916';
}

.mp-joint::before {
	content: '\e917';
}

.mp-kidney::before {
	content: '\e918';
}

.mp-lung::before {
	content: '\e919';
}

.mp-medical::before {
	content: '\e91a';
}

.mp-medical-app::before {
	content: '\e91b';
}

.mp-medical-assist::before {
	content: '\e91c';
}

.mp-medical-document::before {
	content: '\e91d';
}

.mp-medical-record::before {
	content: '\e91e';
}

.mp-medical-rounded::before {
	content: '\e91f';
}

.mp-medicine::before {
	content: '\e920';
}

.mp-medicine-bottle::before {
	content: '\e921';
}

.mp-medicine-bottle02::before {
	content: '\e922';
}

.mp-molecule::before {
	content: '\e923';
}

.mp-nurse::before {
	content: '\e924';
}

.mp-saline-solution::before {
	content: '\e925';
}

.mp-saline-solution02::before {
	content: '\e926';
}

.mp-stethoscope::before {
	content: '\e927';
}

.mp-stomach::before {
	content: '\e928';
}

.mp-surgery::before {
	content: '\e929';
}

.mp-syringe::before {
	content: '\e92a';
}

.mp-syringe02::before {
	content: '\e92b';
}

.mp-testube::before {
	content: '\e92c';
}

.mp-testube02::before {
	content: '\e92d';
}

.mp-thermometer::before {
	content: '\e92e';
}

.mp-tooth::before {
	content: '\e92f';
}

.mp-uterus::before {
	content: '\e930';
}

.mp-wheelchair::before {
	content: '\e931';
}
