<h3 id="top-bar">Top bar</h3>
<p>
	There are two widget areas in the top bar: <b>Top Left</b> and <b>Top Right</b>.
</p>
<p>
	You can add widgets to this two areas in <kbd><kbd><samp>wp-admin</samp></kbd>&nbsp;→ <kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Widgets</samp></kbd></kbd>.
</p>
<p>
	There are also settings on when to display this two widget areas in <kbd><kbd><samp>wp-admin</samp></kbd>&nbsp;→ <kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Customize</samp></kbd>&nbsp;→ <kbd><samp>Theme options</samp></kbd>&nbsp;→ <kbd><samp>Header</samp></kbd></kbd> (show/hide/hide on mobile and display on front page only).
</p>