<div class="info">
	<strong><a href="https://support.proteusthemes.com/hc/en-us/articles/208798149-How-to-install-the-Bolts-theme-and-import-its-demo-data" target="_blank">Check out our guide on how to install the Bolts theme and how to import its demo data</a></strong>
</div>