<h3 id="main-menu">Main Menu</h3>
<p>
	Main Menu can be set in <b>wp-admin » Appearance » Menus</b>. Theme locations for Main Menu is called Main Menu.
</p>
<img class="aligncenter" src="images/main-menu-location.png" alt="Page Template">

<h4 id="main-menu-mega-menu">Mega menu</h4>
<p>
	Please read this help article, for <a href="https://www.proteusthemes.com/help/how-to-edit-the-mega-menu/">instructions on how to add a mega menu item to the main menu</a>.
</p>
<h4 id="main-menu-featured-item">Featured menu item</h4>
<p>
	You can mark a main menu item as <strong>Featured</strong>, by adding a CSS class to the menu item. It looks like this:
</p>
<img class="aligncenter" src="images/closed-featured-menu-item.png" alt="Closed menu featured item">
<img class="aligncenter" src="images/opened-featured-menu-item.png" alt="Opened menu featured item">
<ul>
	<li>a shadow appears over all other page elements, except for the main menu,</li>
	<li>the featured menu item has a different color and has bigger paddings</li>
</ul>

<b>How to mark a menu item as featured?</b>
<ol>
	<li>go to <b>wp-admin » Appearance » Menus</b>,</li>
	<li>in the top right corner of the page click on the <i>Screen Options</i> and make sure, that the <b>CSS Classes</b> checkbox is enabled,</li>
	<li>open the menu item you want to mark as featured and add the <code>featured-dropdown</code> text to the <i>CSS Classes</i> setting. (if you do not have an icon set for this menu item, then add this text to the CSS classes setting: <code>featured-dropdown featured-dropdown--without-icon</code> ) <img class="aligncenter" src="images/featured-menu-item-setting.png" alt="Featured menu item setting"></li>
	<li>save the menu</li>
</ol>

<h4 id="main-menu-labels">Menu item labels</h4>
<p>
	A menu item label can be added in <b>wp-admin » Appearance » Menus</b>, by opening the main menu item, to which you want to add a label and set the text you would like to display in the <b>Label</b> setting:
</p>
<img class="aligncenter" src="images/main-menu-label-setting.png" alt="Main menu item label setting">

<p>
	It will look like this in the main menu:
</p>
<img class="aligncenter" src="images/main-menu-label.png" alt="Main menu item label">

<h3 id="benefit-bar-widget-area">Widget area: Benefit Bar</h3>
<p>
	Below the main menu there is a widget area called <b>Benefit Bar</b>. This is a perfect place for displaying important information (in our demo we use the icon box widgets):
</p>
<img class="aligncenter" src="images/benefit-bar-widget-area.png" alt="Benefit bar widget area">
<p>
	You can add widgets to this area in <b>wp-admin » Appearance » Widgets</b> in the <b>Benefit Bar</b> widget area.
</p>
<p>
	There are also settings on when to display this Benefit Bar widget area in <b>wp-admin » Appearance » Customize » Theme options » Header</b> (show/hide/hide on mobile and display on front page only).
</p>