<h3 id="top-bar">Top bar</h3>
<p>
	There are two widget areas in the top bar: <b>Top Left</b> and <b>Top Right</b>.
</p>
<p>
	You can add widgets to this two areas in <b>wp-admin » Appearance » Widgets</b>.
</p>
<p>
	There are also settings on when to display this two widget areas in <b>wp-admin » Appearance » Customize » Theme options » Header</b> (show/hide/hide on mobile and display on front page only).
</p>