<h3 id="top-bar">Top Bar</h3>
<p>
	On the left side you can put Site Tagline <kbd><kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Customize</samp></kbd>&nbsp;→ <kbd><samp>Site Identity</samp></kbd></kbd>, very useful for slogans.
</p>
<p>
	On the right side is the top menu area so you can make new menu in the <kbd><kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Menus</samp></kbd></kbd>. You must choose Top Bar Menu theme location and that's it.
</p>
<p>
	If you don’t like the Top Bar at all, you can hide it in our Theme Options in the Customizer, at <kbd><kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Customize</samp></kbd>&nbsp;→ <kbd><samp>[PT] Theme Options</samp></kbd>&nbsp;→ <kbd><samp>Header</samp></kbd>&nbsp;→ <kbd><samp>Top Bar Visibility</samp></kbd></kbd>.
</p>
