/* Sidebar */
.sidebar {
	margin-bottom: 30px;

	@media (min-width: $screen-md-min) {
		padding-right: 30px;
	}
}

.sidebar__navigation {
	list-style: none;
	margin: 0;
	padding: 0;

	a {
		text-decoration: none;
	}

	> li {
		position: relative;

		@media (min-width: $screen-md-min) {
			margin-bottom: 1px;
		}

		> a {
			display: block;
			background-color: #f0f0f0;
			color: #999999;
			font-weight: bold;
			padding: 12px 20px;
			border-bottom: 1px solid #ffffff;

			@media (min-width: $screen-md-min) {
				border-bottom: none;
			}

			&:hover {
				background-color: #dddddd;
				color: #333333;
				text-decoration: none;
			}
		}

		&:hover {
			> .sidebar__navigation__dropdown {
				@media (min-width: $screen-md-min) {
					visibility: visible;
					opacity: 1;
				}
			}

			> a {
				@media (min-width: $screen-md-min) {
					background-color: #dddddd;
					color: #333333;
				}
			}
		}
	}

	.active {
		> a {
			@media (min-width: $screen-md-min) {
				background-image: image-url("header-pattern.png");
				color: #ffffff;
			}

			&:hover {
				@media (min-width: $screen-md-min) {
					color: #ffffff;
				}
			}
		}

		&::after {
			@media (min-width: $screen-md-min) {
				border-color: transparent transparent transparent #ee3447;
			}
		}

		&:hover {
			> a {
				@media (min-width: $screen-md-min) {
					color: #ffffff;
				}
			}
		}
	}
}

.sidebar__navigation__dropdown {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;

	@media (min-width: $screen-md-min) {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		left: 100%;
		top: 0;
		min-width: 160px;
	}

	@media (min-width: $screen-lg-min) {
		min-width: 210px;
	}

	> li {
		border-bottom: 1px solid #ffffff;

		@media (min-width: $screen-md-min) {
			margin-left: 1px;
		}

		> a {
			display: block;
			background-color: #f0f0f0;
			color: #999999;
			font-weight: bold;
			padding: 12px 30px;

			@media (min-width: $screen-md-min) {
				padding: 12px 20px;
			}

			&:hover {
				background-color: #dddddd;
				color: #333333;
				text-decoration: none;
			}
		}
	}

	// Delete if you want active sub-menu with the same style as menu.
	.active {
		> a {
			@media (min-width: $screen-md-min) {
				background-image: none;
				background-color: #f0f0f0;
				color: #999999;
			}

			&:hover {
				@media (min-width: $screen-md-min) {
					color: #333333;
				}
			}
		}
	}
}

.dropdown {
	position: relative;

	&::after {
		@media (min-width: $screen-md-min) {
			position: absolute;
			content: "";
			right: 14px;
			top: calc(50% - 5px);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 0 4px 5px;
			border-color: transparent transparent transparent #aaaaaf;
		}
	}
}

.sidebar__divider {
	background-color: #dddddd;
	margin: 30px 0;
	height: 1px;
}

.sidebar__credits {
	font-size: 13px;
	color: #aaaaaa;
}