<section>
	<h2 id="pages">Pages</h2>
	<p><kbd><kbd><samp>wp-admin</samp></kbd> → <kbd><samp>Pages</samp></kbd></kbd> is the area where you will spend most of your time when building a site. We added a few tools in that process so you can create your pages easier and faster.</p>
	{# Page Templates #}
	{% part "content-includes/pages/page-templates" %}

	{# Page Builder #}
	{% part "content-includes/pages/page-builder" %}

	{# Page Builder Widgets #}
	{% part "content-includes/pages/page-builder-widgets" %}
</section>
