<section>
	<h2 id="shortcodes">Shortcodes</h2>
	{# Buttons #}
	{% part "content-includes/shortcodes/buttons" %}

	{# Icons #}
	{% part "content-includes/shortcodes/icons" %}

	{# After Shortcodes #}
	{% part "content-includes/shortcodes/after-shortcodes" %}
</section>