<section>
	<h2 id="header">Header</h2>

	{# Top Bar #}
	{% part "content-includes/theme-header/top-bar" %}

	{# Logo #}
	{% part "content-includes/theme-header/logo" %}

	{# Favicon #}
	{% part "content-includes/theme-header/favicon" %}

	<h3 id="header-widgets">Header Widgets</h3>
	<p>
		You can put a lot of widgets in the <strong>Header</strong> widget area, but your header will look great with the following widgets:
	</p>

	{# Header Widgets #}
	{% part "content-includes/theme-header/header-widgets" %}

	{# Main Menu #}
	{% part "content-includes/theme-header/main-menu" %}

	{# Navigation Widgets #}
	{% part "content-includes/theme-header/navigation-widgets" %}

	{# After Header #}
	{% part "content-includes/theme-header/after-header" %}
</section>