<p>
	To achieve the same design for the testimonial widget as on our demo page you have to click on <b>Layout</b> tab and set the <b>Bottom Margin</b> to <b>60</b>px, <b>Padding</b> to <b>62</b>px and the <b>Row Layout</b> to <b>Full Width</b>. Then click on the <b>Design</b> tab, set the <b>Background Color</b> to <b>#eeeeee</b> and set the <b>Background Image</b> to <code>/assets/images/pattern-background.png</code> that you can find in the theme folder.
</p>