<h4>Default Project Breadcrumbs</h4>
<p>
	To set the correct default <b>Project</b> custom post type breadcrumbs, you should go to <i>Settings » Breadcrumbs NavXT</i> and click on the <b>Post Types</b> tab. Scroll down to the <b>Project</b> section, and set the <b>Project Root Page</b> to your "Projects" page (where you list all your projects), then disable (uncheck) the <b>Project Archive Display</b> and <b>Project Hierarchy Display</b> checkboxs. Save the settings.
</p>