<ul>
	<li><a href="http://www.advancedcustomfields.com/add-ons/repeater-field/" target="_blank">ACF Repeater Field (bundled)</a></li>
	<li><a href="https://wordpress.org/plugins/siteorigin-panels/" target="_blank">Page Builder by SiteOrigin</a></li>
	<li><a href="https://wordpress.org/plugins/black-studio-tinymce-widget/" target="_blank">Black Studio TinyMCE Widget</a></li>
	<li><a href="https://wordpress.org/plugins/one-click-demo-import/" target="_blank">One Click Demo Import</a></li>
	<li><a href="https://wordpress.org/plugins/portfolio-post-type/" target="_blank">Portfolio Post Type</a></li>
	<li><a href="http://codecanyon.net/item/essential-grid-wordpress-plugin/7563340?ref=ProteusThemes" target="_blank">Essential Grid (bundled)</a></li>
	<li><a href="https://wordpress.org/plugins/contact-form-7/" target="_blank">Contact Form 7</a></li>
	<li><a href="https://wordpress.org/plugins/wp-featherlight/" target="_blank">WP Featherlight</a></li>
	<li><a href="https://wordpress.org/plugins/breadcrumb-navxt/" target="_blank">Breadcrumb NavXT</a></li>
	<li><a href="https://wordpress.org/plugins/custom-sidebars/" target="_blank">Custom Sidebars</a></li>
	<li><a href="https://wordpress.org/plugins/woocommerce/" target="_blank">WooCommerce</a></li>
</ul>