<h3 id="custom-sidebars">Custom Sidebars</h3>
<p>
	In our BuildPress theme we use <a href="https://wordpress.org/plugins/custom-sidebars/" target="_blank">Custom Sidebars</a> for Services Sidebar. So instead of Regular Page Sidebar we want to show a sidebar with Our Services related things.
</p>
<p>
	First we need to Create a new sidebar and put widgets inside like in image below.
</p>
<img src="images/custom-sidebar.jpg" alt="Custom Sidebar" width="1353" height="981">
<p>
	After that we need to go to our page with Our Services content and in the Sidebars section we can replace the default sidebar. Instead of Regular Page Sidebar we choose our new Services Sidebar.
</p>
<img src="images/custom-sidebar-page.jpg" alt="Custom Sidebar Page" width="1353" height="981">
<p>
	With this method you can have unlimited unique sidebars for every page.
</p>