<h4>Nested Visual Composer Elements</h4>
<p>
	Some of our Visual Composer elements are nested elements. That means that once you select the element you will have to add its child element in order to achieve the desired result.
</p>
<p>
	Lets take <strong>Testimonials</strong> as an example of the nested element. When you select <strong>Testimonials</strong> element in the VC editor a window will pop up with just some simple options and a "container" will be displayed in the editor.
</p>
<img src="images/vc_testimonials.png" alt="Testimonials VC element">
<p>
	Now you have to click the + icon and add a <strong>Testimonial</strong> element, edit its settings (that will actually add a testimonial quote to the page). With this method you can add as many testimonials as you want. And that's why we use nested elements.
</p>