<p>
	<strong>Visual Composer: Page Builder for WordPress</strong> is supported for our <strong>BuildPress</strong> theme from version 3.1 onwards, so in order to use Visual Composer, it's best to update your BuildPress theme to the latest version. (Note: We do not bundle this plugin with the theme).
</p>