<h3 id="visual-composer">Visual Composer</h3>
<p>
	<strong>Visual Composer: Page Builder for WordPress</strong> is supported for our <strong>BuildPress</strong> theme from version 3.1 onwards, so in order to use Visual Composer, it's best to update your BuildPress theme to the latest version.
</p>
<div class="info">
	Please watch our video on <strong><a href="https://www.youtube.com/watch?v=dHN_MQlft0g" target="_blank">How to setup Visual Composer as the main page editor</a></strong>, replacing our default page editor: Page Builder by SiteOrigin.
</div>
<p>
	We have converted our widgets to the Visual Composer content elements, so you can use them in the VC editor. You can add them to your site from the <strong>Add new Element</strong> menu. Our elements are marked with our ProteusThemes icon, so they are easy to spot.
</p>
<img src="images/vc_add_new_element.png" alt="ProteusThemes Visual Editor elements"></p>
<h4>Front Page template for Visual Composer</h4>
<p>
	We've also made it very easy to create our original Front Page layout (demo page) with Visual Composer. All you need to do is:
</p>
<ol>
	<li>Create a new page and set the page template to <strong>Front Page with Slider</strong> and set the slider images below the editor.</li>
	<li>In the Visual Composer editor click on <strong>Templates</strong> icon, click on <strong>Default Templates</strong> tab and then select <strong>BuildPress: Front Page</strong> template (it has the ProteusThems icon):<img src="images/vc_home_page_template.png" alt="Visual Composer default templates"><img src="images/vc_select_front_page_template.png" alt="Visual Composer default templates"></li>
	<li>Close the templates widow and publish/update the page.</li>
</ol>
<h4>Nested Visual Composer Elements</h4>
<p>
	Some of our Visual Composer elements are nested elements. That means that once you select the element you will have to add its child element in order to achieve the desired result.
</p>
<p>
	Lets take <strong>Testimonials</strong> as an example of the nested element. When you select <strong>Testimonials</strong> element in the VC editor a window will pop up with just some simple options and a "container" will be displayed in the editor.
</p>
<img src="images/vc_testimonials.png" alt="Testimonials VC element">
<p>
	Now you have to click the + icon and add a <strong>Testimonial</strong> element, edit its settings (that will actually add a testimonial quote to the page). With this method you can add as many testimonials as you want. And that's why we use nested elements.
</p>
<p>
	The other nested element, apart from Testimonials is <strong>Google Map</strong>. It works on the same principle, it enables you to add multiple locations on the Google map.
</p>