<p>
	<strong>WPBakery Page Builder (formerly Visual Composer)</strong> is supported for our <strong>Auto</strong> theme from version 1.3 onwards, so in order to use WPBakery Page Builder, it's best to update your Auto theme to the latest version. (Note: We do not bundle this plugin with the theme).
</p>
