<p>These groups match the required and recommended labels in the theme's plugin installer. Install recommended plugins when you need their features.</p>
<h4>Required plugins</h4>
<ul>
	<li><a href="https://wordpress.org/plugins/contact-form-7/" target="_blank">Contact Form 7</a></li>
	<li><a href="https://wordpress.org/plugins/classic-widgets/" target="_blank">Classic Widgets</a></li>
	<li><a href="https://wordpress.org/plugins/classic-editor/" target="_blank">Classic Editor</a></li>
	<li>PT Carpress Custom Post Types (bundled with the theme)</li>
</ul>
<h4>Recommended plugins</h4>
<ul>
	<li><a href="https://wordpress.org/plugins/jetpack/" target="_blank">Jetpack by WordPress.com</a></li>
	<li><a href="https://wordpress.org/plugins/wordpress-importer/" target="_blank">WordPress Importer</a></li>
	<li><a href="https://wordpress.org/plugins/widget-importer-exporter/" target="_blank">Widget Importer &amp; Exporter</a></li>
	<li><a href="https://wordpress.org/plugins/woocommerce/" target="_blank">WooCommerce - excelling eCommerce</a></li>
	<li><a href="https://wordpress.org/plugins/easy-google-fonts/" target="_blank">Easy Google Fonts</a></li>
	<li><a href="https://envato.github.io/wp-envato-market/" target="_blank">Envato Market</a> (installed from the developer's download)</li>
	<li><a href="https://clevrbot.com/" target="_blank">ClevrBot</a> (installed from the developer's download)</li>
</ul>
