<p>
	<strong>Visual Composer: Page Builder for WordPress</strong> is supported for our <strong>Auto</strong> theme from version 1.3 onwards, so in order to use Visual Composer, it's best to update your CargoPress theme to the latest version. (Note: We do not bundle this plugin with the theme).
</p>