<section>
	<h2 id="demo-content">Demo Content</h2>
	<p>
		You may want to import the demo content, just like on our <a href="http://www.proteusthemes.com/themes/?theme=hairpress-wp">preview site</a>.
	</p>
	<p>
		Download the content XML file: <a href="http://artifacts.proteusthemes.com/xml-exports/hairpress-latest.xml">http://artifacts.proteusthemes.com/xml-exports/hairpress-latest.xml</a>
	</p>
	<p>
		In your WP administration navigate to Tools » Import and select Wordpress. You will be asked to install the plugin. Install it and after that you will be able to import the demo file with all the demo pages, posts, settings, sliders ...
	</p>
	<img src="images/import.jpg" alt="Import" width="1031" height="591">
	<p>
		<b>Demo Widgets</b><br>
		After you import the demo content, you can also import the widgets, with the <a href="https://wordpress.org/plugins/widget-importer-exporter/" target="_blank">Widget Importer &amp; Exporter</a> plugin. Download the file for widget import: <a href="http://artifacts.proteusthemes.com/json-widgets/hairpress.json">http://artifacts.proteusthemes.com/json-widgets/hairpress.json</a>. Change the file extension from JSON to WIE (So rename <code>hairpress.json</code> to <code>hairpress.wie</code>). Got to Tools » Widget Import/Export and import the WIE file.
	</p>

	<p>
		If the import files are not available on the URLs above, then you can find them in the <strong>All files &amp; documentation</strong> zip file on ThemeForest.
	</p>
	<p>
		Download the <strong>All files &amp; documentation</strong> zip file from ThemeForest:
		<img src="images/tf-all-files-dl.png" alt="Download all files from ThemeForest">
	</p>
	<p>
		The demo content XML file and the widgets JSON file are located in the <code>extras</code> folder.
	</p>
</section>