<section>
	<h2 id="demo-content">Demo Content</h2>
	<p>
		You may want to import the demo content, just like on our <a href="http://www.proteusthemes.com/themes/?theme=hairpress-wp">preview site</a>.
	</p>
	<p>
		The demo content XML file is located in <code>extras/demo-content.xml</code>.
	</p>
	<p>
		In your WP administration navigate to Tools » Import and select Wordpress. You will be asked to install the plugin. Install it and after that you will be able to import the demo file with all the demo pages, posts, settings, sliders ...
	</p>
	<img src="images/import.jpg" alt="Import" width="1031" height="591">
	<p>
		<b>Demo Widgets</b><br>
		After you import the demo content, you can also import the widgets, with the plugin <a href="https://wordpress.org/plugins/widget-importer-exporter/" target="_blank">Widget Importer &amp; Exporter</a>. The file for import is located at <code>extras/demo-widgets.wie</code>. Got to Tools » Widget Import/Export and import the file.
	</p>
</section>