---
themeName: <%= themename %> WP
themeChangelogURL: https://www.proteusthemes.com/wordpress-themes/<%= theme %>/#go_changelog
shutterstockURL: <%= shutterstockurl %>
---
<section>
	<h2 id="extras">Extras</h2>
	<h3 id="demo-images">Demo Images</h3>
	<p>
		The images available for template preview aren't included in the HTML template because of the licences, but you can buy them at photodune.net:
	</p>
	<ul>
		<li><a href="http://photodune.net/item/sexy-face/2271079?ref=ProteusThemes">Slider img 1</a></li>
		<li><a href="http://photodune.net/item/fashion-blond-girl-beautiful-makeup-and-healthy-hair/3562289?ref=ProteusThemes">Slider img 2</a></li>
		<li><a href="http://photodune.net/item/afro-girl/2221302?ref=ProteusThemes">Slider img 3</a></li>
		<li><a href="http://photodune.net/item/young-slim-sexy-woman-in-black-tight-dress/544956?ref=ProteusThemes">Slider img 4</a></li>
		<li><a href="http://photodune.net/item/girl-with-fluttering-hair/583372?ref=ProteusThemes">Slider img 5</a></li>
		<li><a href="http://photodune.net/item/beautiful-woman-portrait-long-brown-hair/2944684?ref=ProteusThemes">Slider img 6</a></li>
		<li><a href="http://photodune.net/item/beautiful-spa-woman-clean-skin/1593518?ref=ProteusThemes">Services img 1</a></li>
		<li><a href="http://photodune.net/item/creative-styling/2643826?ref=ProteusThemes">Services img 2</a></li>
		<li><a href="http://photodune.net/item/woman-with-red-nails/1217159?ref=ProteusThemes">Services img 3</a></li>
	</ul>
	<div class="info">
		All the images shown in the demo page of {{extras.themeName}} are copyrighted and come blurry with the theme (demo content).
	</div>
	<h3 id="customizations">Customizations</h3>
	<p>If you need advanced customizations for this theme, we can do that. See our <a href="https://www.proteusthemes.com/services/theme-customization/">Theme Customization</a> page for details.</p>
	<h3 id="changelog">Changelog</h3>
	<p>
		<a href="{{extras.themeChangelogURL}}" target="_blank">View the {{extras.themeName}} changelog</a>.
	</p>
	<h3 id="support">Support</h3>
	<p>
		If you need more help after all, you can <a href="https://www.proteusthemes.com/help/" target="_blank">write to us</a>.
	</p>
</section>
