{{!-- This section will be used for Post Types. --}}
{{!-- Post Types --}}
<section>
	<h2 id="post-types">Post Types</h2>
	<p>
		Every post type has its own features. Let's take a look at them:
	</p>
	<h3 id="page">Page</h3>
	<p>
		The WP build-in page post types benefit two features:
	</p>
	<h4>Page Templates</h4>
	<p>
		One can select from several different page templates layouts available for the regular theme. The default template has the sidebar on the left:
	</p>
	<img src="images/page.jpg" alt="Page">
	<h4>HairPress Options Meta Box</h4>
	<p>
		To every page it is possible to add the Subtitle. The subtitle is displayed right below the main title of the page:
	</p>
	<img src="images/subtitle.jpg" alt="Subtitle Page">
	<h3 id="services">Services</h3>
	<h4>HairPress Options Meta Box</h4>
	<p>
		There are two options in the HairPress Options Meta Box for the Services. You can define the subtitle for the service (like for the page) and in addition you can select if you wish that this service is displayed on the front page in the Services Widget.
	</p>
	<h4>Attributes</h4>
	<img class="alignright" src="images/order.jpg" alt="Order">
	<p>
		The order of the services is controlled by the Order under Attributes:
	</p>
	<h4>Excerpt</h4>
	<p>
		The text displayed on the front page can be altered using the <b>Excerpt</b> textarea:
	</p>
	<img src="images/excerpt.jpg" alt="Excerpt">
	<div class="info">
		Note that you need to display some meta boxed using the button <b>Screen Options</b> at the top of the admin panel.
	</div>
	<h3 id="team">Team</h3>
	<p>
		<b>Hairpress Options Meta Box</b><br>
		It is possible to add the various data about each team meber (Age, Zodiac Sign, Education, ...).
	</p>
	<p>
		<b>Featured image</b><br>
		Featured image is used for the display in the list of all members and in the slider on the front page.
	</p>
	<p>
		<b>Attributes</b><br>
		The order of the team members in the list and slider is controlled via Order attribute. Lower numbers at the top.
	</p>
	<h3 id="gallery">Gallery</h3>
	<p>
		In version 3 we made adding the galleries much easier for the end user. Now everything is done using the WP build-in gallery builder, when adding a new media.
	</p>
	<p>
		<b>Hairpress Options Meta Box</b><br>
		You can add subtitle for the gallery.
	</p>
	<h3 id="slider">Slider</h3>
	<div class="warning">
		Theme slider is deprecated and will be removed in the future versions of the theme. Please use the bundled <a href="#slider-revolution">Revolution Slider</a> instead.<br>
		<strike><b>IMPORTANT</b>: This slider is used just on the page template Front Page with Theme Slider. Make sure you have Slider Revolution WP Plugin installed and activated before you add the slider!</strike>
	</div>
	<p>
		<b>Featured image</b><br>
		The featured image of the slider will be used as the main image in the slider. Make sure you upload large version of these images - the slider best works with 1500 (width) x 530 (height) px resolution. The original image must be larger than this.
	</p>
	<p>
		<b>Attributes</b><br>
		The Order attribute will be used to order the images in the slider. Lower numbers will display faster.
	</p>
	<h3 id="testimonials">Testimonials</h3>
	<p>
		<b>Testimonial Options Meta Box</b><br>
		The title of the author of the testimonials can be added in the Testimonial Options.
	</p>
	<p>
		<b>Attributes</b><br>
		The Order attribute will be used to order the testimonials. Lower numbers will display faster.
	</p>
</section>