<section>
	<h2 id="widgets">Widgets</h2>
	<p>
		There are several widgets you can use with the HairPress WP Theme:
	</p>
	<ul>
		<li>Hairpress: Divider - for divider on the front page</li>
		<li>Hairpress: Facebook - for FB like box in the footer</li>
		<li>Hairpress: Latest Galleries - to display latest galleries</li>
		<li>Hairpress: Latest News - to display latest news / blogposts</li>
		<li>Hairpress: Opening time - to display timetable / opening time of the business - can be used above the slider</li>
		<li>Hairpress: Our Services - to display the services on the front page</li>
		<li>Hairpress: Testimonials - to display testimonials on the front page</li>
		<li>Hairpress: Three columns - to display three columns of text on the front page</li>
		<li>Hairpress: Twitter - to display latest Tweets from Twitter</li>
		<li>New in v3.0.0: Hairpress: Custom Width Text For Home - you decide how much space the text widget will take, from 1/12 of the page to the full width of the page</li>
	</ul>
	<img src="images/widgets.jpg" alt="Widgets">
	<p>
		There are 9 different sidebars associated with the theme (look at the image above), so you can easily decide how the different layout types will look like.
	</p>
	<p>
		All the widgets can have the subtitle too. In the "Title" field just add the double forward slash <code>//</code> and the text after the double slash will be used as the subtitle. Example: <code>Widget main title // This is a subtitle</code>.
	</p>
</section>