<h3 id="visual-composer">Visual Composer</h3>
<p>
	<strong>Visual Composer: Page Builder for WordPress</strong> is supported for our <strong>Beauty</strong> theme. (Note: We do not bundle this plugin with the theme).
</p>
<p>
	We have converted our widgets to the Visual Composer content elements, so you can use them in the VC editor. You can add them to your site from the <strong>Add new Element</strong> menu. Our elements are marked with our ProteusThemes icon, so they are easy to spot.
	<img src="images/vc_add_new_element.png" alt="ProteusThemes Visual Editor elements">
</p>
<h4>Templates for Visual Composer</h4>
<p>
	We've also made it very easy to create our original demo page layout templates with Visual Composer. You can choose from these premade templates: <strong>Home Page</strong>, <strong>Who We Are</strong>, <strong>Contact Us</strong>, and <strong>Our Services</strong>. To recreate the Beauty Home Page you need to:
</p>
<ol>
	<li>Create a new page and set the page template to <strong>Front Page with Slider</strong> and set the slider images below the editor.</li>
	<li>In the Visual Composer editor click on <strong>Templates</strong> icon, click on <strong>Default Templates</strong> tab and then select <strong>Beauty: Home Page</strong> template:<img src="images/vc_home_page_template.png" alt="Visual Composer default templates"><img src="images/vc_select_front_page_template.png" alt="Visual Composer default templates"></li>
	<li>Publish/update the page.</li>
</ol>
<h4>Nested Visual Composer Elements</h4>
<p>
	Some of our Visual Composer elements are nested elements. That means that once you select the element you will have to add its child element in order to achieve the desired result.
</p>
<p>
	Lets take <strong>Social Icons</strong> as an example of the nested element. When you select <strong>Social Icons</strong> element in the VC editor a window will pop up with just a simple option to open links in a new tab and a "container" will be displayed in the editor.
</p>
<img src="images/vc_social_icons.png" alt="Social Icons VC element">
<p>
	Now you have to click the + icon and add a <strong>Social Icon</strong> element, edit its settings (that will actually add a social icon to the page). With this method you can add as many social Icons as you want. And that's why we use nested elements.
</p>
<p>
	Other nested elements are: <strong>Accordion</strong>, <strong>Testimonials</strong> and <strong>Pricing List</strong>. They all work on the same principle, they enable you to add multiple accordion items, testimonials and so on...
</p>
<h4>Missing elements</h4>
<p>
	In our Beauty theme we are using the <strong>Tabs widget for Page Builder</strong> plugin, which allows us to create advanced tabs with Page Builder by SiteOrigin editor. The <strong>Tabs</strong> Visual Composer element is not as flexible and so we were not able to implement the design that we want. That's why there are no tabs in the Visual Composer version of our home page template.
</p>
<p>
	In our Beauty demo page we are using <strong>SiteOrigin Google Maps</strong> widget which has the ability to use custom map styles. Visual Composer does not have such element (which would allow custom map styles), that's why the maps on our Visual Composer templates have the default look. You could install a Visual Composer addon, which enables the Google maps styles and use our custom style:
</p>

<pre>[{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]</pre>