<h3 id="featured-page">Featured Page Button</h3>
<p>
	To edit the "Request a quote" button you have to go to <b>wp-admin » Appearance » Customize » Theme Options » Navigation</b> and you will see the <b>Featured Page</b> option that you can configure to your liking. You can select any published page or define your own custom link and text for the button.
</p>
<img class="aligncenter" src="images/featured_page_button.png" alt="Featured page button">