<h3 id="buttons">Buttons</h3>
<p>
	Add a button with <code>[button]Your Text[/button]</code>. Customize it with <b>style</b>, <b>href</b>, <b>target</b>, <b>fa</b>, <b>corners</b>, <b>fullwidth</b>.
</p>
<p>
	<b>Text:</b> Change the text between the opening and closing shortcode.<br>
	Example: <code>[button]New Text[/button]</code>
</p>
<p>
	<b>Style:</b> Choose <b>primary</b>, <b>secondary</b>, <b>danger</b>, <b>success</b>, <b>info</b>, <b>default</b>.<br>
	Example: <code>[button style="primary"]Your Text[/button]</code>
</p>
<p>
	<b>Href:</b> Set the button's destination URL.<br>
	Example: <code>[button href="https://www.proteusthemes.com"]Your Text[/button]</code>
</p>
<p>
	<b>Target:</b> Use <b>_self</b> for the same tab or <b>_blank</b> for a new tab.<br>
	Example: <code>[button href="https://www.proteusthemes.com" target="_blank"]Your Text[/button]</code>
</p>
<p>
	<b>Font Awesome icon:</b> Add an icon before the text.<br>
	Example: <code>[button fa="fa-phone"]Your Text[/button]</code>
</p>
<p>
	<b>Corners:</b> Give the button rounded corners.<br>
	Example: <code>[button corners="rounded"]Your Text[/button]</code>
</p>
<p>
	<b>Full width:</b> Stretch the button to fill its container.<br>
	Example: <code>[button fullwidth="true"]Your Text[/button]</code>
</p>
