<section>
	<h2 id="footer">Footer</h2>
	<p>
		Last but not least there is our footer area. The footer area is divided into:
	</p>
	<h3 id="footer-widgets">Footer Widgets</h3>
	<p>
		Footer Widgets is the place where you can add the last things to your page. You can add widgets in the <kbd><kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Widgets</samp></kbd>&nbsp;→ <kbd><samp>Footer</samp></kbd></kbd>. There are also few options for that area in <kbd><kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Customize</samp></kbd>&nbsp;→ <kbd><samp>Theme Options</samp></kbd>&nbsp;→ <kbd><samp>Footer</samp></kbd></kbd>. Use Footer widgets layout to choose the number of footer widget columns and their widths, and adjust the colors in the same section.
	</p>
	{# Middle Footer  #}
	{% part "content-includes/theme-footer/middle-footer" %}
	<h3 id="bottom-footer">Bottom Footer</h3>
	<p>
		The Bottom Footer area is the place for copyrights or some custom text. The single centered bottom-footer text can be added in live customizer <kbd><kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Customize</samp></kbd>&nbsp;→ <kbd><samp>Theme Options</samp></kbd>&nbsp;→ <kbd><samp>Footer</samp></kbd></kbd>.
	</p>
</section>
