<ul>
	<li><a href="https://wordpress.org/plugins/advanced-custom-fields/" target="_blank">Advanced Custom Fields</a></li>
	<li><a href="https://www.advancedcustomfields.com/add-ons/repeater-field/" target="_blank">ACF Repeater Field (bundled)</a></li>
	<li><a href="https://github.com/proteusthemes/pt-shortcodes" target="_blank">ProteusThemes Shortcodes</a></li>
	<li><a href="https://wordpress.org/plugins/siteorigin-panels/" target="_blank">Page Builder by SiteOrigin</a></li>
	<li><a href="https://wordpress.org/plugins/so-widgets-bundle/" target="_blank">SiteOrigin Widgets Bundle</a></li>
	<li><a href="https://wordpress.org/plugins/one-click-demo-import/" target="_blank">One Click Demo Import</a></li>
	<li><a href="https://wordpress.org/plugins/contact-form-7/" target="_blank">Contact Form 7</a></li>
	<li><a href="https://wordpress.org/plugins/wp-featherlight/" target="_blank">WP Featherlight</a></li>
	<li><a href="https://wordpress.org/plugins/breadcrumb-navxt/" target="_blank">Breadcrumb NavXT</a></li>
	<li><a href="https://wordpress.org/plugins/woocommerce/" target="_blank">WooCommerce</a></li>
</ul>
