<section>
	<h2 id="header">Header</h2>

	{{!-- Top Bar --}}
	{{> top-bar}}

	{{!-- Logo --}}
	{{> logo}}

	{{!-- Favicon --}}
	{{> favicon}}

	{{!-- Main Menu --}}
	{{> main-menu}}

	<h3 id="special-dropdown-menu">Special Dropdown Menu</h3>
	<p>
		GymPress is full of useful features and the special dropdown menu is no different. It is perfect for showcasing your staff in your menu for more personal touch.
	</p>
	<img src="images/special-dropdown-menu-on-desktop.png" alt="Special dropdown menu on desktop">
	<p>
		Adding special dropdown on your site is really simple. First, you will need to add featured images (recommended size is 90x90px) in each page you will like to link in the dropdown. In our case, we use single trainer pages.
	</p>
	<img src="images/special-dropdown-menu-class.png" alt="Special dropdown menu class">
	<p>
		Once you got all the pages ready you will need to add <code>pt-special-dropdown</code> class in the parent link. If you don't see the field for CSS classes you will need to click on screen options at the top of the page and check CSS Classes checkbox.
	</p>

	{{!-- After Header --}}
	{{> after-header}}
</section>