<ul>
	<li>go to <i>Settings » Reading</i>, set the the <strong>Front page displays</strong> to <strong>A static page</strong> and select the front page and the blog page in the appropriate dropdowns,</li>
	<li>go to <i>Appearance » Menus</i>, select the main menu from the dropdown at the top and click on <strong>Select</strong>. Scroll to the bottom and set the <strong>Theme location</strong> to <strong>Main Menu</strong> (if there are more locations you can also assign other menus to those locations),</li>
	<li>go to <i>Appearance » Widgets</i>, and set <strong>Custom menu</strong> widgets, by selecting the correct menu (in <i>footer</i> and <i>our services</i> sidebars). More info on how to create the <strong>Our Services</strong> sidebar, can be found in the <a href="#custom-sidebars">Custom Sidebars</a> section,</li>
	<li>optionally set other things (like logo, colors, ...). These settings can be found in <i>Appearance » Customize</i>.</li>
</ul>