<h3 id="import-essential-grid-projects">Import Essential Grid Projects</h3>
<div class="video">
	<iframe src="https://www.youtube.com/embed/GE9JlzHiW4o?list=PLbSzJ9oeSLcdDegWN6Hv4XMsRa717sWqO" allowfullscreen></iframe>
</div>
<p>
	The Essential Grid export file from our <a href="https://demo.proteusthemes.com/buildpress/">demo page</a> comes with the theme. It is located <strong>inside the theme folder</strong>:
	<ul>
		<li><code>buildpress/demo-content/essential-grid-construction.json</code>, or</li>
		<li><code>buildpress/demo-content/essential-grid-landscape.json</code></li>
	</ul>
</p>
<p>
	First install the theme, install and enable the Essential Grid plugin, then:
</p>
<ol>
	<li>Go to Ess. Grid,</li>
	<li>Import/Export,</li>
	<li>Click on the <strong>Import</strong> section,</li>
	<li>Choose the appropriate file above (construction or landscape JSON file),</li>
	<li>Click on <strong>Read File</strong>, DO NOT click on <i>Import Full Demo Data</i>,</li>
	<li>After the file is read, click on <strong>Import Selected Data</strong>,</li>
</ol>
<p>
	Voila, the new BuildPress skin and the new 2 Essential Grids are imported.
</p>
<p>
	<strong>Front page projects</strong><br>
	Go to Pages » Front page, edit the Widget called Essential Grid and choose Essential Grid: <strong>Projects</strong>.
</p>
<p>
	<strong>Projects Page</strong><br>
	Copy shortcode of the Essential Grid <strong>Projects Page</strong> and paste it to the page Projects.
</p>
