If you know ProteusThemes, you know we make the best construction industry themes available anywhere. Hammer is our latest addition to this niche and we are sure you won't be disappointed. Whether you use it for traditional construction, or any of the surrounding industries - this is a beautifully designed, highly functional and easy-to-use WordPress theme.