<h4>Default Portfolio Breadcrumbs</h4>
<p>
	To set the correct default <b>Portfolio/Project</b> custom post type breadcrumbs, you should go to <i>Settings » Breadcrumbs NavXT</i> and click on the <b>Post Types</b> tab. Scroll down to the <b>Portfolio Item</b> section, and set the <b>Portfolio Item Root Page</b> to your "Projects" page (where you list all your projects), then disable (uncheck) the <b>Portfolio Item Archive Display</b> and <b>Portfolio Item Hierarchy Display</b> checkboxs. Save the settings.
</p>