<h3 id="page-templates">Page Templates</h3>
<img class="alignright" src="images/page-templates.jpg" alt="Page Template" width="390" height="448">
<p>
	You can choose between 3 different Templates - <b>Default Template</b>, <b>Front Page with Slider</b> and <b>Empty Template</b>.
</p>
<p>
	<b>Default Template</b>: Just a default template for simple layouts and Page Builder. First you must choose the Page Builder option under the title and you are ready to go. You can add our widgets here, choose different visual styles and much more. More about that in the next chapter.
</p>
<p>
	<b>Front Page with Slider</b>: Adds the theme's native image and video slider above the page content. It can be used with Page Builder, including on pages other than your homepage. See <a href="#slider">Slider</a> for setup.
</p>
<p>
	<b>Empty Template (no header and footer)</b>: This is an empty page template and it can be used in many different cases. For example a sales page, which should not show any distraction elements (logo, menu, footer,...). When you select this page template, the options for it will display under the content editor, which allow you to enable certain elements, if you need them (logo, menu, footer). The content can be layout out and created with the awesome Page Builder by SiteOrigin editor.
</p>

<h4 id="blog-and-single-post-sidebar">Blog and single post sidebars</h4>
<p>
	Open <b>Appearance &rarr; Customize &rarr; Blog</b>. Use <b>Layout</b> for the blog archive and <b>Single Post</b> for individual posts. Add their widgets to <b>Appearance &rarr; Widgets &rarr; Blog Sidebar</b>.
</p>
<h4 id="regular-page-sidebar">Regular page sidebar</h4>
<p>For pages using <b>Default Template</b>, add widgets to <b>Appearance &rarr; Widgets &rarr; Regular Page Sidebar</b>. Use the page's sidebar setting to choose left, right, or no sidebar.</p>
<h4 id="block-editor">WordPress block editor</h4>
<p>WoonderShop supports wide alignment and a theme color palette in the WordPress block editor. The demo layouts use SiteOrigin Page Builder; edit those layouts with SiteOrigin. The theme does not provide custom blocks or Site Editor templates.</p>
