<h3 id="page-builder">Page Builder</h3>
<p>
	Page Builder is a very powerful tool for making pages. Here is one example of how it looks:
</p>
<img src="images/page-builder-example.png" alt="Page Builder examlpe">
<p>
	You can make any kind of grid with adding new rows and inside them you put widgets. When you are finished with adding widgets you can also move whole rows up and down.
</p>
<p>
	For more information on how to use Page Builder please visit <a href="https://siteorigin.com/page-builder/documentation/" target="_blank">Page Builder by SiteOrigin documentation page</a>.
</p>
<h4 id="page-builder-row-style">Page Builder Row Style</h4>
<p>
	Let's take a look at how we can style Page Builder rows.
</p>
<p>
	To start off we have to click on "Edit Row" for the row that we want to style as shown on the image above. An "Edit Row" window will open, and on the right, there are three setting tabs: <b>Attributes</b>, <b>Layout</b> and <b>Design</b>. Here you can customize different things for this particular row.
</p>
<p>
	In the <b>Layout</b> tab you can set the <b>Bottom Margin</b>, <b>Padding</b> and change the <b>Row Layout</b> to <b>Full Width</b>. In the <b>Design</b> tab you can set the <b>Background Color</b>, <b>Background Image</b> and other things.
</p>

{{!-- Page Builder row style example --}}
{{> page-builder-row-style-example}}

<h4 id="page-builder-flexbox-row">Page Builder Flexbox Row</h4>
<p>
	For wider screen (1260px +) there is really nice option in MedicPress to make first row overlapping over slider. You must edit first row of the page with slider and insert <b>class</b> <code>flexbox-row</code> in the <b>Attributes -> Row Class</b> and in <b>Layout -> Gutter</b> field put <b>0</b>, so there will be no space between widgets.
</p>

<h4 id="page-builder-widgets-background-color">Page Builder Widgets Background Color</h4>
<p>
	Did you change primary or secondary color, but the background color of the widgets is still the same?
</p>
<img src="images/widgets-background-color.jpg" alt="Change Page Builder Widgets Background Color">
<p>
	This happens because Page Builder has its own control for background colors. To change the specific background color of the widgets you will need to go in the wp-admin and edit the page where the widget is inserted. Now click <b>Edit</b> on the widget you want to change. On the right side of <b>Widget Styles</b> menu click on <b>Design</b> and choose a desirable <b>background color</b>. Update the page and your widget will have a new background color.
</p>