<p>
To achieve the same design for the Call to Action widget as on our demo page you have to click on <b>Layout</b> tab and set the <b>Bottom Margin to 85px</b> and the <b>Row Layout to Full Width</b>. Then click on the <b>Design</b> tab and select desired <b>Backgorund Image</b>. The last step is to edit our <b>Call to Action widget</b> in page builder and set the <b>top and bottom padding to 55px</b>.
</p>