<div class="banner">
	<p class="banner__text">Get 10+ WordPress themes for only <span class="banner__smudge">$8.33 per month!</span></p>
	<a class="btn  banner__button" href="https://www.proteusthemes.com/pricing/">Get All Themes Now <img src="images/arrow.svg" alt="Arrow"></a>
</div>