<div class="banner">
	<p class="banner__text">Get 18+ WordPress themes for only <span class="banner__smudge">$149 per year!</span></p>
	<a class="btn  banner__button" href="https://www.proteusthemes.com/pricing/?utm_source=docs&utm_medium=top-banner">Get All Themes Now <img src="images/arrow.svg" alt="Arrow"></a>
</div>