{{!-- General and Installation --}}
{{> general}}

{{!-- Demo Content --}}
{{> demo-content}}

{{!-- Header --}}
{{> theme-header}}

{{!-- Pages --}}
{{> pages}}

{{!-- Slider --}}
{{> slider}}

{{!-- Theme Options --}}
{{> theme-options}}

{{!-- Shortcodes --}}
{{> shortcodes}}

{{!-- Plugins --}}
{{> plugins}}

{{!-- Footer --}}
{{> theme-footer}}

{{!-- Translate --}}
<section>
	<h2 id="translations">10. Translations</h2>
	<h3 id="wpml">10.1. WPML</h3>
	<p>Auto WP officially supports WPML. Head over to the <a href="http://wpml.org/" target="_blank">WPML website</a>, <a href="http://wpml.org/purchase/" target="_blank">buy the subscription</a>, then download and install the following plugins:</p>
	<ul>
		<li><b>WPML Multilingual CMS</b></li>
		<li><b>WPML String Translation</b></li>
		<li><b>WPML Translation Management</b></li>
	</ul>
	<p>After that the WPML wizard will guide you to properly configure the multilingual site.</p>
	<p>For reference: the widgets and theme options can be only translated using the String Translation.</p>
	<h3 id="manual-translation">10.2. Manual translation</h3>
	<p>We have an article with the video how to translate our themes <a href="https://proteusthemes.zendesk.com/hc/en-us/articles/200391371-How-to-translate-the-theme-to-some-other-language-">published on this link</a>.</p>
</section>
{{!-- Extras --}}
<section>
	<h2 id="extras">11. Extras</h2>
	<h3 id="demo-images">11.1. Demo Images</h3>
	<p>All the images used in Auto can be found in the Shutterstock.</p>
	<div class="info">
		All the images shown in the demo page of Auto are copyrighted and come blurry with the theme (demo content).
	</div>
	<h3 id="customizations">11.2. Customizations</h3>
	<p>If you need advanced cusomizations on the theme, we are available for that as well.</p>
	<p>Just let us know your needs on: <script type="text/javascript"><!--
	var byywmsp = ['.','e','t','r','l','e','s','a',':','i','a','i','a','t','i','s','e','"','o','e','a','o',' ','o','l','i','c','m','@','o','a','n','>','s','h','"','=','e','e','p','c','s','m','e','s','u','e','f','u',' ','.','p','t','o','"','"','m','<','o','m','t','l','m','c','s','t','r','h','o','/','m','<','@','h','r','n','f','=','f','>'];var ncmqvei = [34,47,66,4,41,68,43,49,15,50,42,11,78,13,54,65,32,38,57,30,1,23,39,19,51,16,73,37,20,36,10,55,79,71,67,8,7,70,63,21,35,44,48,25,33,26,5,6,64,2,72,59,24,74,46,52,9,76,14,31,62,12,75,40,27,28,22,29,61,77,69,0,58,3,60,17,56,45,18,53];var vwieyoz= new Array();for(var i=0;i<ncmqvei.length;i++){vwieyoz[ncmqvei[i]] = byywmsp[i]; }for(var i=0;i<vwieyoz.length;i++){document.write(vwieyoz[i]);}
	// --></script>
	<noscript>Please enable Javascript to see the email address</noscript></p>
	<p>For your general orientation: <a href="https://www.proteusthemes.com/pricelist.html" target="_blank">our pricelist</a>.</p>
	<h3 id="changelog">11.3. Changelog</h3>
	<p>Changelog of the theme is available on <a href="#">ThemeForest</a> at the end of the item page.</p>
	<h3 id="support">11.4. Support</h3>
	<p>If you need more help after all, you can <a href="http://support.proteusthemes.com/" target="_blank">write to us</a>.</p>
</section>
