{{!-- General and Installation --}}
{{> general}}
{{!-- Demo Content --}}
{{> demo-content}}

{{!-- Header --}}
<section>
	<h2 id="header">3. Header</h2>
	<h3 id="logo-and-favicon">3.1. Logo</h3>
	<p>Logo can be changed in our Theme Options - <b>Appearance » Customize » Theme Options » Logo.</b></p>
	<h3 id="header-widgets">3.2. Header Widgets</h3>
	<p>You can put next widgets on Header widget area: Icon Box, Buttons, Social Icons or Skype Button.</p>
	<h4>3.2.1. Icon Box</h4>
	<img class="alignright" src="images/widget-icon-box.jpg" alt="Widget Icon Box" width="390" height="624">
	<p>With widget Icon Box you can put any kind of title with small text and image in the header. In our demo we use this widget for contact information which we think are very important for customers.</p>
	<p>In this widget you can choose Title, Text and Icon from Font Awesome. You can also choose a link for the whole box. If you let that field empty Icon Box will not be clicakble.</p>
	<p>We give you few Icons to choose from but you can actualy use any icon from <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">519 Font Awesome icons</a>. Just paste the icon title in the Icon field and that's it. How cool is that?</p>
	<p>You can also have more than one Icon Box in the Header.</p>
	<div class="info">
		You can also use <b>tel:</b> and <b>mailto:</b> in the Link area for direct connection with phone or mail. For example: tel:0038631567536 or mailto:info@auto.com.
	</div>
	<h3 id="main-menu">3.3. Main Menu</h3>
	<p>Main Menu must be choosen in the <b>wp-admin » Appearance » Menus</b>. Theme locations for Main Menu is called Main Menu.</p>
	<img class="aligncenter" src="images/main-menu-location.png" alt="Page Template">
	<h3 id="navigation-widgets">3.4. Navigation Widgets</h3>
	<p>Area next to main menu which can be used for Social Icons.</p>
</section>
{{!-- Pages --}}
<section>
	<h2 id="pages">4. Pages</h2>
	<p><b>wp-admin » Pages</b> is the area where you will spend most time when building a site. We added few tools in that process so you can create your pages easier and faster.</p>
	<h3 id="page-templates">4.1. Page Templates</h3>
	<img class="alignright" src="images/page-templates.jpg" alt="Page Template" width="390" height="448">
	<p>You can choose between 3 different Templates - <b>Default Template</b>, <b>Front Page with Slider</b> and <b>Front Page With Layer/Revolution Slider</b>.</p>
	<p><b>Default Template</b>: Just default template for simple layouts and Page Builder. First you must choose Page Builder option under the title and you are ready to go. You can add our widgets here, choose different visual styles and much more. More about that in chapter 4.2.</p>
	<p><b>Front Page with Slider</b>: This is unique template which adds option for slider in the page options. It can be used with Page Builder. More about that in chapter 5.</p>
	<p><b>Front Page with Layer/Revolution Slider</b>: We don't include this two sliders with the theme but we make sure they work since we know our customers want to use them. When you activate this template there is a new field in which you can put alias from Layer/Revolution Slider and that's it.</p>
	<h3 id="page-builder">4.2. Page Builder</h3>
	<p>Page Builder is very powerfull tool for making pages. Here is one example from our demo Home Page:</p>
	<img src="images/page-builder-example.png" alt="Auto Page Builder">
	<p>You can make any kind of grid with adding new rows and inside them you put widgets. When you are finished with adding widgets you can also move whole rows up and down.</p>
	<p>For more information on how to use Page Builder please visit <a href="https://siteorigin.com/page-builder/documentation/" target="_blank">Page Builder by SiteOrigin documentation page</a>.</p>
	<h4 id="page-builder-row-style">4.2.1. Page Builder Row Style</h4>
	<p>Let's take a look at how we can style Page Builder rows. In this example we will take a look at how to configure the row settings to style the background for the testimonial widget.</p>
	<p>To start of we have to click on "Edit Row" for the row that we want to style as shown on the image above. An "Edit Row" window will open, and on the right, there are three setting tabs <b>Attributes</b>, <b>Layout</b> and <b>Design</b>. Here you can customize different things for this particular row.</p>
	<p>To achieve the same design for the testimonial widget as on our demo page you have to click on <b>Layout</b> tab and set the <b>Bottom Margin</b> to <b>60</b>px, <b>Padding</b> to <b>60</b>px and the <b>Row Layout</b> to <b>Full Width</b>. Then click on the <b>Design</b> tab and set the <b>Background Color</b> to <b>#f2f2f2</b>.</p>
	<h4 id="page-builder-widget-style">4.2.2. Page Builder Widget Style</h4>
	<p>In Auto theme we added 1 new widget style. You can now choose bigger heading with line.
	This option can be choosed for all widgets in the page builder under the tab Design.</p>
	<h3 id="page-builder-widgets">4.3. Page Builder Widgets</h3>
	<p>You can use almost any widget in the Page Builder. Let's take a look at few not so straight forward ones.</p>
	<h4>4.3.1. SiteOrigin Editor Widget</h4>
	<p>SiteOrigin Editor will create you the same editor environment as a normal WordPress editor does. You can use this widget if you want normal text editing options. SiteOrigin Editor Widget is part of <a href="https://wordpress.org/plugins/so-widgets-bundle/" target="_blank">Site Origin Widgets Bundle</a>.</p>
	<h4>4.3.2. Call to Action Widget</h4>
	<p>How to add button? With our custom shortcodes. You can find instructions on <a href="#buttons">section 7.1</a>.</p>
	<h4>4.3.3. Open Position Widget</h4>
	<p>Open Position is perfect widget for listing your Jobs. Widget is very easy to use, with clear fields. If you want to use <b>collapse option</b> with the widget you will need to insert <b>Read More</b> tag as seen below. This tag will hide everything beneath it and will add a collapsable <b>Read More</b> link.</p>
	<img src="images/open-position-read-more.png" alt="Read more Open Position widget">
	<h4>4.3.4. Twitter Widget</h4>
	<p>This widget can be included everywhere - in page builder and in a normal sidebar widget. For that widget we again use normal WordPress <b>Text Widget</b>.</p>
	<p>First, go on <a href="https://twitter.com/settings/widgets">https://twitter.com/settings/widgets</a> and click <b>Create new</b>.</p>
	<img src="images/twitter-settings.jpg" alt="Twitter Settings" width="900" height="560">
	<p>Now choose your Username, height of the widget, Theme (Light for default Auto theme) and Link color (Default Auto color is #957aca). When you are happy with your widget click on Create widget button. You will get the code which you copy and paste in the Text Widget in your WordPress site.</p>
	<img src="images/twitter-code.jpg" alt="Twitter Code" width="900" height="600">
</section>
{{!-- Slider --}}
<section>
	<h2 id="slider">5. Slider</h2>
	<p>Building a Theme slider has never been easier.<br>
	You can make Theme slider on any page you want. The only things you must do is to choose page template <b>Front Page With Slider</b> (you can use this template even if is not for front page). The same moment page template is chosen there will be new window at the bottom of the page which is called <b>Front page slider</b>. Add your pictures, your text and slider will be ready to go. This is example from our demo:</p>
	<img src="images/front-page-slider-admin.png" alt="Front Page Slider Admin">
	<p>Recommended size/resolution for slider images is 1920px (width) x 660px (height).</p>
	<div class="info">
		You can also use Layer/Revolution Slider. We don't include them with the theme but we make sure they work. When you activate page template - <b>Front Page With Layer/Revolution Slider</b> there is new field in which you can put alias from Layer/Revolution Slider and that's it.
	</div>
</section>
{{!-- Theme Options --}}
<section>
	<h2 id="proteusthemes-options">6. ProteusThemes Options</h2>
	<p>You can find all <b>Theme Options</b> in the Customizer: <b>Appearance » Customize</b>. This is a live preview editor for your page.</p>
	<p>Here you can change:</p>
	<ul>
		<li><b>Logo</b></li>
		<li><b>Header</b></li>
		<li><b>Navigation</b></li>
		<li><b>Page Header Area</b></li>
		<li><b>Breadcrumbs</b></li>
		<li><b>Theme Layout &amp; Colors</b></li>
		<li><b>Shop</b></li>
		<li><b>Footer</b></li>
		<li><b>Custom Code</b></li>
		<li><b>And Much More ...</b></li>
	</ul>
</section>
{{!-- Shortcodes --}}
<section>
	<h2 id="shortcodes">7. Shortcodes</h2>
	<h3 id="buttons">7.1. Buttons</h3>
	<p>
		For adding buttons you must use button shortcode which looks like this: <code>[button]Your Text[/button]</code><br>
		There are 6 options with different attributes - <b>text</b>, <b>style</b>, <b>href</b>, <b>target</b> and <b>fa</b>.
	</p>
	<p>
		<b>Text:</b> You can change the text of the button.<br>
		Example: <code>[button]New Text[/button]</code>
	</p>
	<p>
		<b>Style:</b> You can choose betwen few styles - <b>primary</b>, <b>secondary</b>,	<b>danger</b>, <b>success</b>, <b>info</b> or <b>default</b>.<br>
		Example: <code>[button style="primary"]Your Text[/button]</code>
	</p>
	<p>
		<b>Href:</b> You can add URL to the button.<br>
		Example: <code>[button href="http://www.proteusthemes.com"]Your Text[/button]</code>
	</p>
	<p>
		<b>Target:</b> You can choose if you want to open link in the same - <b>"_self"</b> or new - <b>"_blank"</b> window.<br>
		Example: <code>[button target="_blank"]Your Text[/button]</code>
	</p>
	<p>
		<b>Font Awesome icon:</b> You can add a font awesome icon to the button.<br>
		Example: <code>[button fa="fa-phone"]Your Text[/button]</code>
	</p>
	<p>
		<b>Cornes:</b> You can change corners of your button to be <b>rounded</b>.<br>
		Example: <code>[button corners="rounded"]Your Text[/button]</code>
	</p>

	<h3 id="icons-font-awesome">7.2. Icons - Font Awesome</h3>
	<p>
		Shortcode for Font Awesome is very simillar to the buttons shortcode. It looks like this: <code>[fa]</code><br>
		There are 3 options with different attributes - <b>icon</b>, <b>href</b> and <b>target</b>.
	</p>
	<p>
		<b>Icon:</b> You can use any of <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank"> 519 FontAwesome icon</a>. To set the selected icon, just get the title of the icon, for example "fa-phone".<br>
		Example: <code>[fa icon="fa-phone"]</code>
	</p>
	<p>
		<b>Href:</b> You can add URL to the icon.<br>
		Example: <code>[fa href="http://www.proteusthemes.com"]</code>
	</p>
	<p>
		<b>Target:</b> You can choose if you want to open link in the same - <b>"_self"</b> or new - <b>"_blank"</b> window.<br>
		Example: <code>[fa target="_blank"]</code>
	</p>
	<p>
		So a Font Awesome icon shortcode with a home icon, linking to a page and opening in a new window/tab would look like this:
		<code>[fa icon="fa-home" href="http://www.proteusthemes.com" target="_blank"]</code>
	</p>
	<p>
		<b>Color:</b> You can set custom color to your icon.<br>
		Example: <code>[fa color="ff00ff"]</code>
	</p>
</section>
{{!-- Plugins --}}
<section>
	<h2 id="plugins">8. Plugins</h2>
	<p>We also use and support some of the best plugins for WordPress.</p>
	<h3 id="contact-form-7">8.1. Contact Form 7</h3>
	<p>We use Contact Form 7 for our Contact Us page. This is the code from our demo:</p>
<pre>&#x3C;div class=&#x22;row&#x22;&#x3E;
  &#x3C;div class=&#x22;col-xs-12  col-lg-6&#x22;&#x3E;
    [text* your-name class:form-control placeholder &#x22;First &#x26; Last Name *&#x22;]
  &#x3C;/div&#x3E;
  &#x3C;div class=&#x22;col-xs-12  col-lg-6&#x22;&#x3E;
    [email* your-email class:form-control placeholder &#x22;E-mail *&#x22;]
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row&#x22;&#x3E;
  &#x3C;div class=&#x22;col-xs-12  col-lg-6&#x22;&#x3E;
    [tel your-telephone class:form-control placeholder &#x22;Phone&#x22;]
  &#x3C;/div&#x3E;
  &#x3C;div class=&#x22;col-xs-12  col-lg-6&#x22;&#x3E;
    [text your-subject class:form-control placeholder &#x22;Service&#x22;]
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row&#x22;&#x3E;
  &#x3C;div class=&#x22;col-xs-12&#x22;&#x3E;
    [textarea your-message class:form-control placeholder &#x22;Message&#x22;]
    &#x3C;div class=&#x22;wpcf7-notice&#x22;&#x3E;Fields with * are required.&#x3C;/div&#x3E;
    [submit class:btn class:btn-primary &#x22;SEND MESSAGE&#x22;]
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>
	<p>After that just place the plugin's shortcode to your contact us page.</p>
	<h3 id="woocommerce">8.2. WooCommerce</h3>
	<p>Auto supports basic WooCommerce integration.</p>
	<p>Once the WooCommerce is activated you will see this notice:</p>
	<img src="images/woocommerce-begin-setup.png" alt="WooCommerce Begin Setup">
	<p>Click on <strong>Run the Setup Wizard</strong> button to begin with the WooCommerce install. That will start the setup wizard, where you can set things like <strong>shop pages</strong>, <strong>store locale</strong>, <strong>shipping & tax</strong> and <strong>payments</strong></p>
	<img src="images/woocommerce-setup-wizard.png" alt="WooCommerce Setup Wizard">
	<p>If you want to change some settings, you can change them in <strong>WooCommerce » Settings</strong>. There are many tabs at the top, you can configure to fit your needs.</p>
	<p>Next, you can install the demo products by the WooCommerce. Go to the <strong>Tools » Import » WordPress</strong> and import the demo XML file which can be found in the folder where the WooCommerce was installed on your server. Usually this is in the <code>wp-content/plugins/woocommerce</code>. Find the file <code>dummy-data.xml</code> there and upload it to the server. Also check the <strong>Download and import file attachments</strong> check-box, so that all product images will be downloaded as well.</p>
	<p>When you're done, you should see the products:</p>
	<img src="images/woocommerce-products.jpg" alt="WooCommerce Products" width="1081" height="746">
	<div class="info">
		If you click on the <strong>star</strong>, which can be found next to the products, than this products will become <strong>featured</strong>.
	</div>
	<p>When you are done with the settings, go to the <strong>Appearance » Widgets</strong>.</p>
	<p>Drag &amp; Drop the WooCommerce widgets that start with "WooCommerce" to the sidebar called <strong>Shop Sidebar</strong>.</p>
	<img class="aligncenter" src="images/woocommerce-shop-sidebar.jpg" alt="WooCommercer Shop Sidebar" width="515" height="481">
	<p>That's all, your WooCommerce shop is now ready!</p>
	<div class="info">
		All further information and documentation for the WooCommerce you can find on official <a href="http://docs.woothemes.com/documentation/plugins/woocommerce/" target="_blank"><strong>WooCommerce website</strong></a>.
	</div>

	{{!-- <h3 id="visual-composer">8.3. Visual Composer</h3>
	<p><strong>Visual Composer: Page Builder for WordPress</strong> is supported for our <strong>Auto</strong> theme. (Note: We do not bundle this plugin with the theme).</p>
	<p>We have converted our widgets to the Visual Composer content elements, so you can use them in the VC editor. You can add them to your site from the <strong>Add new Element</strong> menu. Our elements are marked with our ProteusThemes icon, so they are easy to spot.
	<img src="images/vc_add_new_element.png" alt="ProteusThemes Visual Editor elements"></p>
	<h4>8.3.1 Templates for Visual Composer</h4>
	<p>We've also made it very easy to create our original demo page layout templates with Visual Composer. You can choose from these premade templates: <strong>Home Page</strong>, <strong>Who We Are</strong>, <strong>Contact Us</strong>, and <strong>Our Services</strong>. To recreate the Auto Home Page you need to:</p>
	<ol>
		<li>Create a new page and set the page template to <strong>Front Page with Slider</strong> and set the slider images below the editor.</li>
		<li>In the Visual Composer editor click on <strong>Templates</strong> icon, click on <strong>Default Templates</strong> tab and then select <strong>Auto: Home Page</strong> template:<img src="images/vc_home_page_template.png" alt="Visual Composer default templates"><img src="images/vc_select_front_page_template.png" alt="Visual Composer default templates"></li>
		<li>Publish/update the page.</li>
	</ol>
	<h4>8.3.2 Nested Visual Composer Elements</h4>
	<p>Some of our Visual Composer elements are nested elements. That means that once you select the element you will have to add it's child element in order to achieve the desired result.</p>
	<p>Lets take <strong>Social Icons</strong> as an example of the nested element. When you select <strong>Social Icons</strong> element in the VC editor a window will pop up with just a simple option to open links in a new tab and a "container" will be displayed in the editor.</p>
	<img src="images/vc_social_icons.png" alt="Social Icons VC element">
	<p>Now you have to click the + icon and add a <strong>Social Icon</strong> element, edit it's settings (that will actually add a social icon to the page). With this method you can add as many social Icons as you want. And that's why we use nested elements.</p>
	<p>Other nested elements are: <strong>Accordion</strong>, <strong>Testimonials</strong> and <strong>Pricing List</strong>. They all work on the same principle, they enable you to add multiple accordion items, testimonials and so on...</p>
	<h4>8.3.3 Missing elements</h4>
	<p>In our Auto theme we are using the <strong>Tabs widget for Page Builder</strong> plugin, which allows us to create advanced tabs with Page Builder by SiteOrigin editor. The <strong>Tabs</strong> Visual Composer element is not as flexible and so we were not able to implement the design that we want. That's why there are no tabs in the Visual Composer version of our home page template.</p>
	<p>In our Auto demo page we are using <strong>SiteOrigin Google Maps</strong> widget which has the ability to use custom map styles. Visual Composer does not have such element (which would allow custom map styles), that's why the maps on our Visual Composer templates have the default look. You could install a Visual Composer addon, which enables the Google maps styles and use our custom style:<p>

	<pre>[{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]</pre>
	<h3 id="bookly">8.4. Bookly</h3>
	<p>Bookly is a great easy-to-use and easy-to-manage booking tool for service providers. Plugin supports wide range of services, provided by business and individuals service providers offering reservations through websites.</p>
	<p>In Auto theme we use <strong>free version</strong> of <a href="https://wordpress.org/plugins/bookly-responsive-appointment-booking-tool/">Bookly plugin</a> but you can also buy premium version of plugin if you need more features.</p> --}}

</section>
{{!-- Footer --}}
<section>
	<h2 id="footer">9. Footer</h2>
	<p>Last but not least there is our footer area. Footer area is divided in three - Footer Widgets, Middle Footer and Bottom Footer.</p>
	<h3 id="footer-widgets">9.1. Footer Widgets</h3>
	<p>Footer Widgets is place where you can add the last things to your page. You can add widgets in the <b>Apperance » Widgets » Footer</b>. There are also few options for that area in the <b>Appearance » Customize » Theme Options » Footer</b>. You can changes different colors there.</p>
	<h3 id="middle-footer">9.2. Middle Footer</h3>
	<p>Middle Footer area is place for your additinoal information like social icons, supported credit cards, copyrights or some text. Custom text for left or right of middle footer can be added in live customizer <b>Appearance » Customize » Theme Options » Footer</b>. In that area you will also find Back to Top button which can be turned off in the same place in customizer.</p>
	<h3 id="bottom-footer">9.2. Bottom Footer</h3>
	<p>Bottom Footer area is place for copyrights or some custom text. Custom text for left and right side of bottom footer can be added in live customizer <b>Appearance » Customize » Theme Options » Footer</b>.</p>
</section>
{{!-- Translate --}}
<section>
	<h2 id="translations">10. Translations</h2>
	<h3 id="wpml">10.1. WPML</h3>
	<p>Auto WP officially supports WPML. Head over to the <a href="http://wpml.org/" target="_blank">WPML website</a>, <a href="http://wpml.org/purchase/" target="_blank">buy the subscription</a>, then download and install the following plugins:</p>
	<ul>
		<li><b>WPML Multilingual CMS</b></li>
		<li><b>WPML String Translation</b></li>
		<li><b>WPML Translation Management</b></li>
	</ul>
	<p>After that the WPML wizard will guide you to properly configure the multilingual site.</p>
	<p>For reference: the widgets and theme options can be only translated using the String Translation.</p>
	<h3 id="manual-translation">10.2. Manual translation</h3>
	<p>We have an article with the video how to translate our themes <a href="https://proteusthemes.zendesk.com/hc/en-us/articles/200391371-How-to-translate-the-theme-to-some-other-language-">published on this link</a>.</p>
</section>
{{!-- Extras --}}
<section>
	<h2 id="extras">11. Extras</h2>
	<h3 id="demo-images">11.1. Demo Images</h3>
	<p>All the images used in Auto can be found in the Shutterstock.</p>
	<div class="info">
		All the images shown in the demo page of Auto are copyrighted and come blurry with the theme (demo content).
	</div>
	<h3 id="customizations">11.2. Customizations</h3>
	<p>If you need advanced cusomizations on the theme, we are available for that as well.</p>
	<p>Just let us know your needs on: <script type="text/javascript"><!--
	var byywmsp = ['.','e','t','r','l','e','s','a',':','i','a','i','a','t','i','s','e','"','o','e','a','o',' ','o','l','i','c','m','@','o','a','n','>','s','h','"','=','e','e','p','c','s','m','e','s','u','e','f','u',' ','.','p','t','o','"','"','m','<','o','m','t','l','m','c','s','t','r','h','o','/','m','<','@','h','r','n','f','=','f','>'];var ncmqvei = [34,47,66,4,41,68,43,49,15,50,42,11,78,13,54,65,32,38,57,30,1,23,39,19,51,16,73,37,20,36,10,55,79,71,67,8,7,70,63,21,35,44,48,25,33,26,5,6,64,2,72,59,24,74,46,52,9,76,14,31,62,12,75,40,27,28,22,29,61,77,69,0,58,3,60,17,56,45,18,53];var vwieyoz= new Array();for(var i=0;i<ncmqvei.length;i++){vwieyoz[ncmqvei[i]] = byywmsp[i]; }for(var i=0;i<vwieyoz.length;i++){document.write(vwieyoz[i]);}
	// --></script>
	<noscript>Please enable Javascript to see the email address</noscript></p>
	<p>For your general orientation: <a href="https://www.proteusthemes.com/pricelist.html" target="_blank">our pricelist</a>.</p>
	<h3 id="changelog">11.3. Changelog</h3>
	<p>Changelog of the theme is available on <a href="#">ThemeForest</a> at the end of the item page.</p>
	<h3 id="support">11.4. Support</h3>
	<p>If you need more help after all, you can <a href="http://support.proteusthemes.com/" target="_blank">write to us</a>.</p>
</section>
