<div class="sidebar  navbar-sidebar" data-spy="affix" data-offset-top="610">
	<ul class="nav  sidebar__navigation" role="tablist">
		{{#each sidebar.items}}
		<li class="{{#if subitems}}dropdown{{/if}}">
			<a href="#{{link}}">{{name}}</a>
			{{#if subitems}}
			<ul class="sidebar__navigation__dropdown">
				{{#each subitems}}
				<li><a href="#{{link}}">{{name}}</a></li>
				{{/each}}
			</ul>
			{{/if}}
		</li>
		{{/each}}
	</ul>
	<hr class="sidebar__divider">
	<div class="sidebar__credits">
		© <a href="http://www.proteusthemes.com">ProteusThemes</a>
	</div>
</div>
