<h3 id="favicon">Favicon</h3>
<p>
	Since WordPress version 4.3, the favicon setting can be found in <b>Appearance » Customize » Site Identity</b>, where you have to set the <b>Site Icon</b> option.
</p>