<h3 id="main-menu">Main Menu</h3>
<p>
	Main Menu can be set in <b>wp-admin » Appearance » Menus</b>. Theme locations for Main Menu is called Main Menu.
</p>
<img class="aligncenter" src="images/main-menu-location.png" alt="Page Template">