---
theme: <%= theme %>
---
<section>
	<h2 id="demo-content">Demo Content</h2>
	<h3 id="one-click-demo-install">One Click Demo Install</h3>
	<p>
		You can import demo content from our demo site (with blurred licensed images) in two clicks.
	</p>
	<div class="warning">
		Don't forget to activate all required plugins before importing demo data.
	</div>
	<p>
		Go to <i>wp-admin » Appearance » Import Demo Data</i>. Here, you can select which demo data you want to import. First, choose from one of our four demo pages:
	</p>
	<ul>
		<li>BuildPress Classic</li>
		<li>BuildPress Light</li>
		<li>BuildPress Landscape</li>
		<li>BuildPress RTL</li>
	</ul>
	<p>
		Once you select which demo data you want to import, choose whether you want the SiteOrigin version of the site or the Elementor version of the site.
		Finally, click on the <strong>Import</strong> button to begin the import process. Your site should be ready after a few minutes.
	</p>
	<img src="images/one-click-demo-import.jpg" alt="The “Import Demo Data” page" width="940" height="505">

	<h3 id="import-xml-file">Import XML File</h3>
	<p>
		If you want to import the demo content the old-fashioned way, you can get a fresh copy of the <strong>XML files</strong> on our server at these URLs:
		<ul>
			<li>BuildPress Classic: <a href="https://artifacts.proteusthemes.com/xml-exports/buildpress-latest.xml">https://artifacts.proteusthemes.com/xml-exports/buildpress-latest.xml</a></li>
			<li>BuildPress Light: <a href="https://artifacts.proteusthemes.com/xml-exports/buildpress-light-latest.xml">https://artifacts.proteusthemes.com/xml-exports/buildpress-light-latest.xml</a></li>
			<li>BuildPress Landscape: <a href="https://artifacts.proteusthemes.com/xml-exports/buildpress-landscape-latest.xml">https://artifacts.proteusthemes.com/xml-exports/buildpress-landscape-latest.xml</a></li>
			<li>BuildPress RTL: <a href="https://artifacts.proteusthemes.com/xml-exports/buildpress-rtl-latest.xml">https://artifacts.proteusthemes.com/xml-exports/buildpress-rtl-latest.xml</a></li>
		</ul>
	</p>
	<p>
		Don't forget to activate all required plugins before importing demo data. To import the demo data go to <i>Tools » Import</i>, click on <i>WordPress</i> (install the <strong>WordPress Importer</strong> plugin if not already installed) and upload/import the previously saved xml file (don't forget to enable the <i>Download and import file attachments</i> checkbox to also import the images).
	</p>
	<p>
		<b>Demo Widgets</b><br>After you import the demo content, you can also import widgets the old-fashioned way. The files for widget import are also located on our server:
		<ul>
			<li>BuildPress Classic: <a href="https://artifacts.proteusthemes.com/json-widgets/buildpress.json">https://artifacts.proteusthemes.com/json-widgets/buildpress.json</a></li>
			<li>BuildPress Light: <a href="https://artifacts.proteusthemes.com/json-widgets/buildpress-light.json">https://artifacts.proteusthemes.com/json-widgets/buildpress-light.json</a></li>
			<li>BuildPress Landscape: <a href="https://artifacts.proteusthemes.com/json-widgets/buildpress-landscape.json">https://artifacts.proteusthemes.com/json-widgets/buildpress-landscape.json</a></li>
			<li>BuildPress RTL: <a href="https://artifacts.proteusthemes.com/json-widgets/buildpress-rtl.json">https://artifacts.proteusthemes.com/json-widgets/buildpress-rtl.json</a></li>
		</ul>
		Rename this file to <code>widgets.wie</code> (mind the file extension) and use it in the plugin <a href="https://wordpress.org/plugins/widget-importer-exporter/" target="_blank">Widget Importer &amp; Exporter</a>. Go to <i>Tools » Widget Import/Export</i> and import the file.
	</p>
	<p>
		<b>Customizer settings</b><br>The last thing you have to import are the customizer settings. The files for that can also be found on our server:
		<ul>
			<li>BuildPress Classic: <a href="https://artifacts.proteusthemes.com/customizer-exports/buildpress.dat">https://artifacts.proteusthemes.com/customizer-exports/buildpress.dat</a></li>
			<li>BuildPress Light: <a href="https://artifacts.proteusthemes.com/customizer-exports/buildpress-light.dat">https://artifacts.proteusthemes.com/customizer-exports/buildpress-light.dat</a></li>
			<li>BuildPress Landscape: <a href="https://artifacts.proteusthemes.com/customizer-exports/buildpress-landscape.dat">https://artifacts.proteusthemes.com/customizer-exports/buildpress-landscape.dat</a></li>
			<li>BuildPress RTL: <a href="https://artifacts.proteusthemes.com/customizer-exports/buildpress-rtl.dat">https://artifacts.proteusthemes.com/customizer-exports/buildpress-rtl.dat</a></li>
		</ul>
		Install and activate the <a href="https://wordpress.org/plugins/customizer-export-import/" target="_blank">Customizer Export/Import</a>. Go to <i>Appearance » Customize » Export/Import</i> and import the file (also enable the <i>Download and import image files?</i> checkbox, to import pattern images).
	</p>
	<p>
		<b>After import setup</b><br>After you have imported the demo data, widgets and customizer settings, you should also setup these things:
		{{!-- After Import setup --}}
		{{> after-import-setup}}
	</p>
	<p>
		If for some reason these URLs are not available, then all you need to do is download the <strong>All files & documentation</strong> zip from ThemeForest and you will find these files in the <strong>extras</strong> folder.
	</p>
	<div class="warning">
		Don't forget to activate all required plugins before importing demo data.
	</div>
	{{!-- After Demo Content --}}
	{{> after-demo-content}}
</section>
