<section>
	<h2 id="footer">Footer</h2>
	<p>
		Last but not least there is our footer area. Footer area is divided in two - Footer Widgets and Bottom Footer.
	</p>
	<h3 id="footer-widgets">Footer Widgets</h3>
	<p>
		Footer Widgets is place where you can add the last things to your page. You can add widgets in the <strong>Appearance » Widgets » Footer</strong>. There is also few options for that area in the <strong>Appearance » Customize » Theme Options » Footer</strong>. You can choose how many widgets you want to place there or you can even turn whole area off if you choose <code>0</code>. Here you can also change background pattern and all colors.
	</p>
	<h3 id="bottom-footer">Bottom Footer</h3>
	<p>
		Bottom Footer area is place for copyrights, some custom text or footer menu. We add Footer Menu area in left side of the bottom footer. You can activate that menu in the <strong>Apperance » Menus » Footer Bottom Menu</strong>. Custom text for both left and right side of bottom footer can be added in live customizer <strong>Appearance » Customize » Theme Options » Footer</strong>.
	</p>
</section>