<section>
	<h2 id="proteusthemes-options">ProteusThemes Options</h2>
	<p>You can find all <b>Theme Options</b> in the Customizer: <b>Appearance » Customize</b>. This is a live preview editor for your page.</p>
	<p>Here you can change:</p>
	<ul>
		<li><strong>Logo &amp; Favicon</strong></li>
		<li><strong>Header &amp; Breadcrumbs</strong></li>
		<li><strong>Navigation</strong></li>
		<li><strong>Typography</strong></li>
		<li><strong>Theme Colors</strong></li>
		<li><strong>Footer</strong></li>
		<li><strong>Add Custom Code</strong></li>
		<li><strong>And Much More ...</strong></li>
	</ul>
</section>