<section>
	<h2 id="widgets">Widgets</h3>
	<p>
		You can use almost any widget in the Page Builder. Let's take a look at few, not so straight forward ones.
	</p>
	<h3 id="visual-editor-widget">Visual Editor Widget</h3>
	<p>
		Visual Editor will make you the same editor environment as in normal WordPress editor. You can use that widget if you want normal text but also some of Page Builder widgets/tools. More about that widget can be found <a href="https://wordpress.org/plugins/black-studio-tinymce-widget/screenshots/" target="_blank">here</a>.
	</p>
	<h3 id="banner-widget">Banner Widget</h3>
	<p>
		How to add button? With our custom shortcodes. You can find instructions on <a href="#buttons">Buttons section</a>.
	</p>
	<h3 id="clients">Clients</h3>
	<p>
		This one is actually normal text widget with some html code.
	</p>
<pre>&lt;div class="logo-panel"&gt;
  &lt;div class="row"&gt;
    &lt;div class="col-xs-12  col-sm-2"&gt;
      &lt;img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/client_01.jpg"&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-12  col-sm-2"&gt;
      &lt;img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/client_02.jpg"&gt;;
    &lt;/div&gt;
    &lt;div class="col-xs-12  col-sm-2"&gt;
      &lt;img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/client_03.jpg"&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-12  col-sm-2"&gt;
      &lt;img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/client_04.jpg"&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-12  col-sm-2"&gt;
      &lt;img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/client_05.jpg"&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-12  col-sm-2"&gt;
      &lt;img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/client_06.jpg"&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-12  col-sm-2"&gt;
      &lt;img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/client_07.jpg"&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-12  col-sm-2"&gt;
      &lt;img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/client_08.jpg"&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-12  col-sm-2"&gt;
      &lt;img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/client_09.jpg"&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-12  col-sm-2"&gt;
      &lt;img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/client_10.jpg"&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-12  col-sm-2"&gt;
      &lt;img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/client_11.jpg"&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-12  col-sm-2"&gt;
      &lt;img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/client_12.jpg"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
	<p>
		Change source of image - <code>src="yourimage.jpg"</code> and your image will be shown.
	</p>
	<h3 id="why-choose-us">Why Choose Us &amp; Who We Are?</h3>
	<p>
		Both widgets are made with <strong>Visual Editor</strong> widget. Here is an example of the output from <strong>Why Choose Us</strong>:
	</p>
<pre>&lt;h6&gt;&lt;span style="color: #fcc71f;"&gt;
[fa icon="fa-check"]&lt;/span&gt; &lt;span style="color: #333333;"&gt;WE ARE PASSIONATE&lt;/span&gt;&lt;/h6&gt;
Our construction managment professio nals organize, lead and manage the people, materials and processes of construction utilizing the latest techno logies within the industry. Our construct ion management Our construction management.
&lt;h6&gt;&lt;span style="color: #fcc71f;"&gt;
[fa icon="fa-check"]&lt;/span&gt; &lt;span style="color: #333333;"&gt;WE LOVE WHAT WE DO&lt;/span&gt;&lt;/h6&gt;
Our construction managment professio nals organize, lead and manage the people, materials and processes of construction utilizing the latest techno logies within the industry. Our construct ion management Our construction management.
&lt;h6&gt;&lt;span style="color: #fcc71f;"&gt;
[fa icon="fa-check"]&lt;/span&gt; &lt;span style="color: #333333;"&gt;WE ARE ALWAYS IMPROVING&lt;/span&gt;&lt;/h6&gt;
Our construction managment professio nals organize, lead and manage the people, materials and processes of construction utilizing the latest techno logies within the industry. Our construct ion management Our construction management.</pre>
	<p>
		And also from <strong>Who We Are?</strong>:
	</p>
<pre>&lt;a href="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/content_24.jpg"&gt;&lt;img class="alignleft wp-image-115 size-medium" src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/content_24-300x168.jpg" alt="Content Image" width="300" height="168" /&gt;&lt;/a&gt;&lt;a href="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/content_23.jpg"&gt;&lt;img class="alignleft wp-image-116 size-medium" src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/content_23-300x168.jpg" alt="Content Image" width="300" height="168" /&gt;&lt;/a&gt;Our construction management professionals organize, lead, and manage the people, materials, and processes of construction utilizing the latest techno logies within the industry.

Our construction management professionals organize, lead, and manage the people, materials, and processes of construction utilizing the latest techno logies within the industry.

Our construction management professionals organize, lead, and manage the people, material.

&lt;strong&gt;&lt;a href="/about-us/" target="_blank"&gt;READ MORE&lt;/a&gt;&lt;/strong&gt;</pre>

	{{!-- Twiter widget --}}
	{{> twiter-widget}}

	<h3 id="brochure-box">Brochure Box</h3>
	<p>
		Brochure box is perfect widget for all kind of documents. All you must do is to upload document, put URL in the widget and select the icon you want. After that you will get the perfect looking download box and that's it. Brochure box can be used in Sidebars or in Page Builder.
	</p>
	<p>
		If you want to see it in action, check it out on BuildPress <a href="https://demo.proteusthemes.com/buildpress/extras/brochure-box/">demo page</a>.
	</p>

	{{!-- Featured Page widget --}}
	{{> featured-page-widget}}

	<h3 id="mailchimp-subscribe">MailChimp Subscribe</h3>
	<p>
		MailChimp Subscribe widget will help you collect emails from your potential clients, so you can email them a newsletter or a promotional offer and so increase your profits. <a href="https://demo.proteusthemes.com/buildpress/coming-soon/" target="_blank">Here is an example of the MailChimp subscribe widget</a>. (This widget is available from BuildPress version 5.0 onwards).
	</p>
	<p>
		This widget is easy to setup. Just follow the instructions in the widget:
	</p>
	<ol>
		<li><a href="https://admin.mailchimp.com/account/api" target="_blank">Visit this URL and login with your mailchimp account</a>,</li>
		<li>Create an API key and paste it in the <b>MailChimp API key</b> input field,</li>
		<li>Click on the Connect button, so that your existing MailChimp lists can be retrieved,</li>
		<li>Select which list you want your visitors to subscribe to, from the dropdown menu,</li>
		<li>Save the widget and update the page.</li>
	</ol>

	<p>
		That's it! The subscribe form will be generated automatically (email field and a submit button) and you will be able to collect emails.
	</p>

	<h3 id="countdown">Countdown</h3>
	<p>
		The Countdown widget is another simple widget, that can be setup in seconds. All you need to do is input the valid date and time format and it will countdown to that exact time. <a href="https://demo.proteusthemes.com/buildpress/coming-soon/" target="_blank">Here is an example of the countdown widget</a>. (This widget is available from BuildPress version 5.0 onwards).
	</p>
	<p>
		Valid date and time formats:
	</p>
	<ul>
		<li>04/25/2017 4:00 pm</li>
		<li>25.4.2017 16:00</li>
		<li>...</li>
	</ul>

</section>
