{# General and Installation #}
{% part "content-includes/general" %}

{# Demo Content #}
{% part "content-includes/demo-content" %}

{# Header #}
{% part "content-includes/theme-header" %}

{# Pages #}
{% part "content-includes/pages" %}

{# Slider #}
{% part "content-includes/slider" %}

{# Theme Options #}
{% part "content-includes/theme-options" %}

{# Shortcodes #}
{% part "content-includes/shortcodes" %}

{# Widgets #}
{% part "content-includes/widgets" %}

{# Plugins #}
{% part "content-includes/plugins" %}

{# Footer #}
{% part "content-includes/theme-footer" %}

{# Translations #}
{% part "content-includes/translations" %}

{# Extras #}
{% part "content-includes/extras" %}