		<footer class="site-footer">
			<div class="container  site-footer__inner">
				<p class="site-footer__copy">© <a href="https://www.proteusthemes.com/">ProteusThemes</a></p>
				<ul class="site-footer__links">
					<li><a href="https://www.proteusthemes.com/help/">Support</a></li>
					<li><a href="https://www.youtube.com/user/ProteusNetCompany">Video Tutorials</a></li>
					<li><a href="https://www.proteusthemes.com/themes.html">Our Themes</a></li>
					<li><a href="{{ theme.changelogUrl }}">Changelog</a></li>
				</ul>
			</div>
		</footer>
	<script src="js/{{ assets[theme.name].js }}"></script>
	<script>
		window.clevrBotSettings = {
			position: "right",
			type: "expanded_bubble",
			launcherTitle: "Chat with us",
		};
		(function (d, t) {
			var BASE_URL = "https://app.clevrbot.com";
			var g = d.createElement(t),
			s = d.getElementsByTagName(t)[0];
			g.src = BASE_URL + "/packs/js/sdk.js";
			g.defer = true;
			g.async = true;
			s.parentNode.insertBefore(g, s);
			g.onload = function () {
			window.clevrBotWidget.run({
				websiteToken: "H7UxsygNZ9R98XjwqeVm5Wja",
				baseUrl: BASE_URL,
			});
			};
		})(document, "script");
	</script>
	</body>
</html>
