<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ theme.themeheadertext }}">
		<meta name="author" content="ProteusThemes">
		<link rel="icon" type="image/ico" href="images/favicon.ico">

		<title>{{ theme.themename }} WordPress Theme Documentation</title>

		<link rel="preconnect" href="https://use.typekit.net" crossorigin>
		<link rel="stylesheet" href="https://use.typekit.net/qco0ktp.css">
		<link rel="stylesheet" href="stylesheets/{{ assets[theme.name].css }}">
		<script>document.documentElement.classList.add("js")</script>
	</head>
	<body>
		<a class="skip-link" href="#content">Skip to content</a>
		{% part "banner" %}
		<header class="site-header">
			<div class="container  site-header__bar">
				<a class="site-header__logo" href="https://www.proteusthemes.com/">
					<img src="images/logo.png" alt="ProteusThemes" width="200" height="90">
				</a>
				<button class="site-header__toggle" type="button" aria-expanded="false" aria-controls="site-nav">Menu</button>
				<nav class="site-nav" id="site-nav" aria-label="ProteusThemes">
					<ul class="site-nav__list">
						<li><a href="https://www.proteusthemes.com/help/">Support</a></li>
						<li><a href="https://www.youtube.com/user/ProteusNetCompany">Video Tutorials</a></li>
						<li><a href="https://www.proteusthemes.com/themes.html">Our Themes</a></li>
						<li><a href="{{ theme.changelogUrl }}">Changelog</a></li>
					</ul>
				</nav>
			</div>

			<div class="hero">
				<div class="container  hero__inner">
					<div class="hero__copy">
						<h1 class="hero__title">{{ theme.themename }} Documentation</h1>
						<p class="hero__text">{{ theme.themeheadertext }}</p>
					</div>
					<img class="hero__cover" src="images/header-cover.jpg" alt="{{ theme.themename }} Cover" width="880" height="660">
				</div>
			</div>
		</header>
		{% part "meta" %}
