<div class="sidebar  navbar-sidebar" data-spy="affix" data-offset-top="610">
	<ul class="nav  sidebar__navigation" role="tablist">
		{% for item in theme.sidebar.items %}
		<li class="{% if item.subitems %}dropdown{% endif %}">
			<a href="#{{ item.link }}">{{ item.name }}</a>
			{% if item.subitems %}
			<ul class="sidebar__navigation__dropdown">
				{% for sub in item.subitems %}
				<li><a href="#{{ sub.link }}">{{ sub.name }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	<hr class="sidebar__divider">
	<div class="sidebar__credits">
		© <a href="https://www.proteusthemes.com">ProteusThemes</a>
	</div>
</div>
