---
themeName: <%= themename %> WP
themeChangelogURL: https://www.proteusthemes.com/wordpress-themes/<%= theme %>/#go_changelog
shutterstockURL: <%= shutterstockurl %>
---
<section>
	<h2 id="extras">Extras</h2>
	{{!-- Demo Images --}}
	{{> demo-images}}
	<h3 id="customizations">Customizations</h3>
	<p>If you need advanced customizations on the theme, we are available for that as well.</p>
	<p>
		Let us know what'd you'd like to change via <a href="https://www.proteusthemes.com/account/#open-new-ticket" target="_blank">support ticket</a> and we will get back to you with a quote.
	</p>
	<h3 id="changelog">Changelog</h3>
	<p>
		<a href="{{extras.themeChangelogURL}}" target="_blank">View the {{extras.themeName}} changelog</a>.
	</p>
	<h3 id="support">Support</h3>
	<p>
		If you need more help after all, you can <a href="https://www.proteusthemes.com/help/" target="_blank">write to us</a>.
	</p>
</section>