---
theme: <%= theme %>
themeName: <%= themename %> WP
---
<section>
	<h2 id="general-and-installation">General &amp; Installation</h2>
	<h3 id="few-words-on-start">Few Words on Start</h3>
	<p>
		{{!-- Intro Text --}}
		{{> intro-text}}
	</p>

	{{!-- Installation --}}
	{{> installation}}

	{{!-- Updates --}}
	{{> updates}}

	{{!-- Theme Customization --}}
	{{> theme-customization}}

</section>