<section>
	<h2 id="pages">Pages</h2>
	<p><b>wp-admin » Pages</b> is the area where you will spend most time when building a site. We added few tools in that process so you can create your pages easier and faster.</p>
	{{!-- Page Templates --}}
	{{> page-templates}}

	{{!-- Page Builder --}}
	{{> page-builder}}

	{{!-- Page Builder Widgets --}}
	{{> page-builder-widgets}}
</section>