<section>
	<h2 id="plugins">Plugins</h2>
	<p>We also use and support some of the best plugins for WordPress.</p>

	{{!-- Required and recommended plugins --}}
	{{> required-and-recommended-plugins}}

	{{!-- Contact Form 7 --}}
	{{> contact-form-7}}

	{{!-- WooCommerce --}}
	{{> woocommerce}}

	{{!-- Visual Composer --}}
	{{> visual-composer}}

	{{!-- Other Plugins --}}
	{{> other-plugins}}
</section>