<section>
	<h2 id="slider">Slider</h2>
	<p>
		Building a Theme slider has never been easier.<br>
		You can create Theme slider on any page you want. The only thing you must do is choose the page template <b>Front Page With Slider</b> (you can use this template even if it's not for front page). After you select this page template there will be a new meta box at the bottom of the page which is called <b>Front page slider</b>. Now add your pictures, your text and your slider will be ready to go. This is an example from one of our themes:
	</p>
	<img src="images/front-page-slider-admin.png" alt="Front Page Slider Admin">
	<p>
		Please take a look at this <a href="https://support.proteusthemes.com/hc/en-us/articles/203540492-Slider-dimensions" target="_blank">slider dimensions article</a> for the recommended size of the slider images for this theme.
	</p>
	<div class="info">
		You can also use Layer/Revolution Slider. We don't include them with the theme but we make sure they work. When you activate page template - <b>Front Page With Layer/Revolution Slider</b> there is new field in which you can put id/alias from Layer/Revolution Slider.
	</div>
</section>