<section>
	<h2 id="header">Header</h2>

	{{!-- Top Bar --}}
	{{> top-bar}}

	{{!-- Logo --}}
	{{> logo}}

	{{!-- Favicon --}}
	{{> favicon}}

	<h3 id="header-widgets">Header Widgets</h3>
	<p>
		You can put a lot of widgets in the <strong>Header</strong> widget area, but your header will look great with the following widgets:
	</p>

	{{!-- Header Widgets --}}
	{{> header-widgets}}

	{{!-- Main Menu --}}
	{{> main-menu}}

	{{!-- Navigation Widgets --}}
	{{> navigation-widgets}}

	{{!-- After Header --}}
	{{> after-header}}
</section>