<section>
	<h2 id="footer">Footer</h2>
	<p>
		Last but not least there is our footer area. Footer area is divided in three - Footer Widgets, Middle Footer and Bottom Footer.
	</p>
	<h3 id="footer-widgets">Footer Widgets</h3>
	<p>
		Footer Widgets is place where you can add the last things to your page. You can add widgets in the <b>Apperance » Widgets » Footer</b>. There are also few options for that area in the <b>Appearance » Customize » Theme Options » Footer</b>. You can changes different colors there.
	</p>
	<h3 id="middle-footer">Middle Footer</h3>
	<p>
		Middle Footer area is place for your additional information like social icons, supported credit cards, copyrights or some other text. Custom text for left or right of middle footer can be added in live customizer <b>Appearance » Customize » Theme Options » Footer</b>. In that area you will also find Back to Top button which can be turned off in the same place in customizer.
	</p>
	<h3 id="bottom-footer">Bottom Footer</h3>
	<p>
		Bottom Footer area is place for copyrights or some custom text. Custom text for left and right side of bottom footer can be added in live customizer <b>Appearance » Customize » Theme Options » Footer</b>.
	</p>
</section>