<h4>Icon Box</h4>
<img class="alignright" src="images/widget-icon-box.jpg" alt="Widget Icon Box" width="390" height="624">
<p>
	With widget Icon Box you can put any kind of title with small text and image in the header. In our demo we use this widget for contact information which we think are very important for customers.
</p>
<p>
	In this widget you can choose Title, Text and Icon from Font Awesome. You can also choose a link for the whole box. If you let that field empty Icon Box will not be click-able.
</p>
<p>
	We give you few Icons to choose from but you can actually use any icon from <a href="https://fortawesome.github.io/Font-Awesome/icons/" target="_blank">519 Font Awesome icons</a>. Just paste the icon title in the Icon field and that's it. How cool is that?
</p>
<p>
	More than one Icon Box widget can be used in the Header.
</p>
<div class="info">
	You can also use <b>tel:</b> and <b>mailto:</b> in the Link area for direct connection with phone or mail. For example: tel:0038631567536 or mailto:info@auto.com.
</div>
<h4>Social Icons</h4>
<p>
	Very easy to use widget. Insert your link to the social network and select your social network. If you want to have more than 8 social networks at once please contact our support and we will help you.
</p>
