<h3 id="top-bar">Top Bar</h3>
<p>
	On the left side you can put Site Tagline <strong>Appearance » Customize » Site Title &amp; Tagline</strong>, very useful for slogans.
</p>
<p>
	On the right side is the top menu area so you can make new menu in the <strong>Appearance » Menus</strong>. You must choose Top Bar Menu theme location and that's it.
</p>
<p>
	What if i don't like Top Bar at all? No problem, you can hide it in our Theme Options in customizer - <strong>Appearance » Customize » Theme Options » Header &amp; Breadcrumbs » Top Bar Visibility</strong>.
</p>