<h3 id="buttons">Buttons</h3>
<p>
	For adding buttons you must use button shortcode which looks like this: <code>[button]Your Text[/button]</code><br>
	There are 6 options with different attributes - <b>text</b>, <b>style</b>, <b>href</b> and <b>target</b>.
</p>
<p>
	<b>Text:</b> You can change the text of the button.<br>
	Example: <code>[button]New Text[/button]</code>
</p>
<p>
	<b>Style:</b> You can choose betwen few styles - <b>primary</b>, <b>secondary</b>, <b>danger</b>, <b>success</b>, <b>info</b> or <b>default</b>.<br>
	Example: <code>[button style="primary"]Your Text[/button]</code>
</p>
<p>
	<b>Href:</b> You can add URL to the button.<br>
	Example: <code>[button href="https://www.proteusthemes.com"]Your Text[/button]</code>
</p>
<p>
	<b>Target:</b> You can choose if you want to open link in the same - <b>"_self"</b> or new - <b>"_blank"</b> window.<br>
	Example: <code>[button target="_blank"]Your Text[/button]</code>
</p>
