<h3 id="top-bar">Top Bar</h3>
<p>
	On both the left and right side of the top there are widget areas. You can put many widgets on Top Left or Top Right widget area: Icon Box, Social Icons, Custom Menu or Text widget.
</p>