<h4 id="icons-growthpress">GrowthPress icons in shortcodes</h4>
<p>
	Shortcode for GrowthPress icons is the same as for the Font Awesome. You are able to use our GrowthPress icons shortcode with the same attributes: <b>icon</b>, <b>href</b>, <b>target</b> and <b>color</b>, so look at how to use these attributes in the Font Awesome shortcode section above. The only difference is, how the icons are passed. Take a look at the example below.
</p>
<p>
	<b>Icon:</b> You can use any <a href="#growth-icons">Growth icon</a>. To set the selected icon, just get the class of the icon, for example "gp gp-bar-chart".<br>
	Example: <code>[fa icon="gp gp-bar-chart"]</code>
</p>


<h2 id="growth-icons">GrowthPress Icons</h2>
<p>
	With this theme, we also include custom Growth icon font, that you can use in our theme widgets, shortcodes and elsewhere on your site.
</p>
<p>
	These lovely icons were made by <a href="http://iconix.si/" target="_blank">Grega Črešnar</a> &hearts;.
</p>
<p>
	To insert a growth icon into your custom text, you can use the HTML <code>i</code> tag:<br>
	<code>&lt;i class=&quot;gp gp-bar-chart&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;</code>
</p>

<p>
	Here is the list of all growth icons:
</p>

<div class="row  pt-growth-icons-list">

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-add" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-add</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-bar-chart" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-bar-chart</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-binoculars" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-binoculars</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-browser" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-browser</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-bug" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-bug</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-chat-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-chat-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-chat-2" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-chat-2</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-chat" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-chat</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-cloud-computing-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-cloud-computing-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-cloud-computing" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-cloud-computing</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-compass-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-compass-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-compass" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-compass</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-computer-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-computer-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-computer" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-computer</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-connection-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-connection-1</code></p>
		</div>
	</div>

		<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-connection" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-connection</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-desk" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-desk</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-directions" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-directions</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-dislike" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-dislike</code></p>
		</div>
	</div>

		<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-dollar-symbol-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-dollar-symbol-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-dollar-symbol" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-dollar-symbol</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-email" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-email</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-group-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-group-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-group-2" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-group-2</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-group" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-group</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-handshake" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-handshake</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-head" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-head</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-hierarchical-structure" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-hierarchical-structure</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-invoice" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-invoice</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-laptop-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-laptop-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-laptop-2" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-laptop-2</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-laptop" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-laptop</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-like-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-like-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-like-2" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-like-2</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-like-3" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-like-3</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-like-4" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-like-4</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-like-5" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-like-5</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-like" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-like</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-list-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-list-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-list" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-list</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-money-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-money-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-money" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-money</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-mouse-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-mouse-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-mouse-2" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-mouse-2</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-mouse" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-mouse</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-network-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-network-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-network" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-network</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-networking-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-networking-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-networking-2" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-networking-2</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-networking-3" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-networking-3</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-networking-4" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-networking-4</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-networking-5" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-networking-5</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-networking" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-networking</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-padlock-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-padlock-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-padlock" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-padlock</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-pencil" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-pencil</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-people" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-people</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-pie-chart-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-pie-chart-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-pie-chart" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-pie-chart</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-piggy-bank-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-piggy-bank-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-piggy-bank" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-piggy-bank</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-placeholder" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-placeholder</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-printer" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-printer</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-route" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-route</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-search" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-search</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-security" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-security</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-server" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-server</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-settings-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-settings-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-settings-2" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-settings-2</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-settings" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-settings</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-sharing" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-sharing</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-shopping-bag" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-shopping-bag</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-smartphone-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-smartphone-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-smartphone" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-smartphone</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-startup" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-startup</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-strategy" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-strategy</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-teamwork" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-teamwork</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-transfer-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-transfer-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-transfer-2" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-transfer-2</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-transfer" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-transfer</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user-2" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user-2</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user-3" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user-3</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user-4" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user-4</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user-5" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user-5</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user-6" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user-6</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user-7" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user-7</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user-8" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user-8</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user-9" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user-9</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user-10" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user-10</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user-11" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user-11</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user-12" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user-12</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user-13" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user-13</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user-14" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user-14</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-user" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-user</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-worldwide-1" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-worldwide-1</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-worldwide-2" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-worldwide-2</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-worldwide" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-worldwide</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-wrench" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-wrench</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="gp gp-wristwatch" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>gp gp-wristwatch</code></p>
		</div>
	</div>

</div>
<h2 id="growth-icons">Scroll for More</h2>
<p>
	Scroll for more is a little attention grabber which can help you keep the focus of your visitors on the website. It is actually not the shortcode but the piece of the HTML code which you can include anywhere on the site.
</p>
<pre>&#x3C;div class=&#x22;scroll-for-more&#x22; style=&#x22;text-align: center;&#x22;&#x3E;
  &#x3C;span class=&#x22;scroll-for-more__text&#x22;&#x3E;Scroll&#x3C;/span&#x3E;
&#x3C;/div&#x3E;</pre>
<p>
	You can also use it without any text. In that case delete <code>&#x3C;span&#x3E;</code> class around the text. Example:
</p>
<pre>&#x3C;div class=&#x22;scroll-for-more&#x22; style=&#x22;text-align: center;&#x22;&#x3E;&#x3C;/div&#x3E;</pre>