<section>
	<h2 id="plugins">Plugins</h2>
	<p>We also use and support some of the best plugins for WordPress.</p>

	{# Required and recommended plugins #}
	{% part "content-includes/plugins/required-and-recommended-plugins" %}

	<p>Older demos used Caldera Forms. For new forms, use <a href="#contact-form-7">Contact Form 7</a>, which is recommended by the theme. Recreate any existing forms in Contact Form 7, replace their embedded shortcodes, and test delivery before removing the old form plugin.</p>

	<h3 id="lifterlms">LifterLMS</h3>
	<p><a href="https://lifterlms.com/">LifterLMS</a> is on a mission to democratize education in the digital classroom by making it easy to create, sell and protect engaging online courses. Just like with many other plugins LifterLMS will look great right away. You will just need to install LifterLMS plugin and add new content. For a quick start, we recommend importing LifterLMS sample.
	</p>

	{# Contact Form 7 #}
	{% part "content-includes/plugins/contact-form-7" %}

	{# WooCommerce #}
	{% part "content-includes/plugins/woocommerce" %}

	{# WPBakery Page Builder #}
	{% part "content-includes/plugins/visual-composer" %}

	{# Breadcrumbs NavXT #}
	{% part "content-includes/plugins/breadcrumbs-navxt" %}

	{# Other Plugins #}
	{% part "content-includes/plugins/other-plugins" %}
</section>
