<h3 id="top-bar">Top Bar</h3>
<p>
	On the left side you can put Site Tagline <b>Appearance » Customize » Site Title &amp; Tagline</b>, very usefull for all kinds of slogans.
</p>
<p>
	The right side is a widget sidebar area called <i>Top</i> so you can customize this area in <b>Appearance » Widgets » Top</b>.
</p>