<h3 id="breadcrumbs">Breadcrumbs NavXT</h3>
<p>
	The breadcrumbs in this theme are powered by the <strong>Breadcrumbs NavXT</strong> plugin.
</p>
<p>
	All the settings for breadcrumbs can be found in <b>Settings » Breadcrumbs NavXT</b>. When you first access this settings page, there might be a notice, which has a link <i>Migrate now</i> at the end, just click it and it will take you to the correct settings page. Here you can define a separator (which should be empty by default for our themes), breadcrumb hierarchies for different pages (pages, custom post types, taxonomy, ...) and set other breadcrumbs related things.
</p>

{{!-- Breadcrumbs NavXT portfolio --}}
{{> breadcrumbs-navxt-portfolio}}