<h3 id="smart-search-plugin">Autosuggest for WordPress Search widgets</h3>
<p>
	For instructions on how to add the autosuggest feature to the WP Search widget or to the WooCommerce search widget, visit this <a href="https://www.proteusthemes.com/help/add-autosuggest-wordpress-search-widget/">support article</a>.
</p>