<h3 id="smart-search-plugin">Autosuggest for WordPress Search widgets</h3>
<p>
	For instructions on how to add the autosuggest feature to the WP Search widget or to the WooCommerce search widget, visit this <a href="https://www.proteusthemes.com/help/add-autosuggest-wordpress-search-widget/">support article</a>.
</p>


<h3 id="woocommerce-product-filter">WooCommerce product filters</h3>
<p>
	For instructions on how to add the WooCommerce product filters to your shop page, visit this <a href="https://www.proteusthemes.com/help/how-to-add-advanced-woocommerce-product-filters-to-your-shop-sidebar/">support article</a>.
</p>
