<h2 id="special-notice">Special Notice</h2>

<h3 id="google-maps-api-key">Google Maps API key needed!</h3>
<div class="warning">
<p>
	Google recently changed the way that Google Maps works. Since June 22 2016 they do not allow map requests without an API key, so you will have to add a key to the theme.
</p>
<strong><a href="https://support.proteusthemes.com/hc/en-us/articles/208650749-Google-Maps-not-working-" target="_blank">Please follow the instructions from this article</a>.</strong>
</div>