<h3 id="updates">Updates</h3>
<p>
<b>Automatic updates</b><br>
	You can register the theme and receive automatic updates. Go to <i>Appearance » Theme Registration</i> and follow the instructions on that page. This will register your copy of the theme and you will get update notifications in the admin dashboard whenever an update is available.
</p>

<p>
	If you have any issues with the automatic updates, please go to you wp-admin to <i>Dashboard » Updates</i> and click on the <b>Check Again</b> button, to refresh the update data.
</p>

<p>
	<b>Manual update</b><br>
	You can also <a href="https://www.proteusthemes.com/help/manually-update-wordpress-theme-newer-version/" target="_blank">update the theme manually</a>.
</p>
