<section>
	<h2 id="header">Header</h2>

	<h3 id="multiple-headers">Multiple Headers</h3>
	<p>
		In Bolts you can choose between two different headers, Kraft (default) of Werk. Header can be choosen in <b>Customize » Theme Options » Header</b>.
	</p>

	{{!-- Top Bar --}}
	{{> top-bar}}

	{{!-- Header Widgets --}}
	{{> header-widgets}}

	{{!-- Logo --}}
	{{> logo}}

	{{!-- Favicon --}}
	{{> favicon}}

	<h3 id="header-widgets">Header Widgets</h3>
	<p>
		Header widget area will work great with Buttons (Text widget), Icon Box, Social Icons, Skype Button or Search widget.
	</p>

	{{!-- Main Menu --}}
	{{> main-menu}}

	{{!-- Navigation Widgets --}}
	{{> navigation-widgets}}
</section>