/*------------------------------------*\
		BuildPress Online Documentation
\*------------------------------------*/

/*
 TABLE OF CONTENTS
	01. Project variables......Imported files, like partials, variables, Compass etc.
	02. Twitter Bootstrap......Bootstrap Things
	03. Tags...................Like <body>, <h1> etc.
	04. Helpers................The general styles like .push-down-15 etc.
	05. Components.............Sass files
*/

/*------------------------------------*\
	01. Project variables

	only visible in SASS source files
\*------------------------------------*/

@import "vars";

/*------------------------------------*\
	02. Twitter Bootstrap

		Remove what is not neccessary
\*------------------------------------*/

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
// @import "bootstrap/breadcrumbs";
// @import "bootstrap/pagination";
// @import "bootstrap/pager";
// @import "bootstrap/labels";
// @import "bootstrap/badges";
// @import "bootstrap/jumbotron";
// @import "bootstrap/thumbnails";
// @import "bootstrap/alerts";
// @import "bootstrap/progress-bars";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/panels";
// @import "bootstrap/responsive-embed";
// @import "bootstrap/wells";
// @import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

/*------------------------------------*\
		03. Tags
\*------------------------------------*/

body {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: $default-font;
	color: #666666;
	position: relative;

	@media (min-width: $screen-md-min) {
		background-color: #f0f0f0;
	}
}

a {
	color: $primary-color;
	text-decoration: underline;

	&:hover {
		color: darken($primary-color, 5);
	}
}

h2,
h3,
h4 {
	margin-top: 0;
	font-weight: bold;
}

h2 {
	font-size: 36px;
	margin-bottom: 30px;
	color: #e03645;
}

h3 {
	font-size: 30px;
	margin-bottom: 20px;
	color: #333333;
}

h4 {
	font-size: 24px;
	margin-bottom: 20px;
	color: #333333;
}

.content {
	h2,
	h3,
	h4 {
		margin-top: 60px;
	}

	section {
		&:first-of-type {
			h2 {
				margin-top: 0;
			}
		}
	}

	h2+h3,
	h3+h4 {
		margin-top: 30px;
	}

	figure,
	pre,
	ul,
	ol,
	div,
	img,
	p {
		margin-bottom: 30px;
	}

	img {
		max-width: 100%;
		height: auto;
		border: 5px solid #f0f0f0;
	}

	li {
		margin-bottom: 5px;
	}
}

code {
	border: 1px solid #e1e1e8;
	white-space: nowrap;
}

figure {
	img {
		&:first-of-type {
			margin-bottom: 0;
		}
	}
}

figcaption {
	background-color: #f0f0f0;
	text-align: center;
	padding: 3px 0;
	font-size: 13px;
}

.info,
.warning {
	position: relative;
	padding: 15px 15px 15px 115px;
	min-height: 75px;
	width: 100%;
	display: inline-block;

	&::before {
		position: absolute;
		font-family: 'Glyphicons Halflings';
		height: 100%;
		width: 100px;
		left: 0;
		top: 0;
		color: #ffffff;
		font-size: 30px;
		text-align: center;
		line-height: 75px;
	}
}

.info {
	background-color: #d9edf7;
	color: #3298cb;
	border: 1px solid #87c2eb;

	&::before {
		content: "\e086";
		background-color: #87c2eb;
	}
}

.warning {
	background-color: #f9f2f4;
	color: #c7254e;
	border: 1px solid #c7254e;

	&::before {
		content: "\e101";
		background-color: #c7254e;
	}
}

.alignleft {
	float: left;
	margin-right: 30px;
}

.alignright {
	float: right;
	margin-left: 30px;
}

.aligncenter {
	display: block;
	margin: 30px auto;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;

	iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

/*------------------------------------*\
		04. Helpers
\*------------------------------------*/

// generates styles: .push-down-5 {margin-bottom: 5px;}, .push-down-10 {margin-bottom: 10px;} etc. to 60px
@for $i from 0 through 12 {
	$i5 : $i*5;
	.push-down-#{$i5} {
		margin-bottom: 5px * $i;
	}
}

.btn {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

// Container
.container--header {
	padding: 0 30px;

	@media (min-width: $screen-md-min) {
		padding: 0 60px;
	}

	&::after {
		position: absolute;
		content: "";
		width: inherit;
		height: 5px;
		background: linear-gradient(to bottom, rgba(102,102,102,0) 0%,rgba(102,102,102,0.5) 100%);
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.container--main {
	background-color: #ffffff;
	padding: 0 15px;

	@media (min-width: $screen-xs-min) {
		padding: 0 30px;
	}

	@media (min-width: $screen-md-min) {
		padding: 60px;
	}
}

/*------------------------------------*\
	05. Components
\*------------------------------------*/

// Elements
@import "components/header";
@import "components/meta";
@import "components/sidebar";
@import "components/affix";

/*------------------------------------*\
		The End :)
\*------------------------------------*/