<h3 id="gallery">Gallery</h3>
<p>
	Special types of gallery were added to Beauty in version <code>v1.2.0</code>. It is using the <a href="https://codex.wordpress.org/The_WordPress_Gallery" target="_blank">default WP gallery functionality</a>, but we've implemented two special styles for the Beauty theme - you want your gallery to look beautiful after all, right?
</p>
<p>
	The gallery is easy to add. There are two ways.
</p>
<p>
	First way is to insert the <code>[gallery]</code> shortcode directly. You can find detailed instructions on <a href="http://codex.wordpress.org/Gallery_Shortcode" target="_blank">official shortcode documentation</a>. The only thing you should additionally add is the <code>type</code> attribute. You can set it to two values: <code>beauty-gallery</code> or <code>beauty-gallery-bigger</code>, like so: <code>[gallery ids="123,337,341,452,652" type="beauty-gallery-bigger"]</code>.
</p>
<p>
	The second way is to create a gallery within the WP media modal window. The process is the same as described on <a href="https://codex.wordpress.org/The_WordPress_Gallery#Step_1_.E2.80.93_Place_your_cursor">official page</a>, except that on <a href="https://codex.wordpress.org/The_WordPress_Gallery#Step_4_.E2.80.93_Edit_Your_Gallery">Step 4</a> you'll be also able to select the <strong>gallery type</strong>:
</p>
<img src="images/beauty-gallery.jpg" alt="beauty gallery">
<p>
	You can select two different gallery types:
</p>
<ul>
  <li><strong>Beauty Gallery</strong> - tiled gallery, all images are of the same width/height.</li>
  <li><strong>Beauty Gallery (bigger first picture)</strong> - same as above, but the first picture in the gallery will be double in size.</li>
</ul>
<p>
	The gallery works nicely with our recommended plugin called <a href="https://wordpress.org/plugins/wp-featherlight/">WP Featherlight</a>.
</p>
<div class="info">
	Bear in mind that the gallery style might clash with other plugins that alter the gallery type, like Jetpack Tiled Galleries.
</div>