<h3 id="visual-composer">Visual Composer</h3>
<p>
	<strong>Visual Composer: Page Builder for WordPress</strong> is supported for our <strong>CargoPress</strong> theme from version 1.5 onwards, so in order to use Visual Composer, it's best to update your CargoPress theme to the latest version.
</p>
<div class="info">
	Please watch our video on <strong><a href="https://www.youtube.com/watch?v=dHN_MQlft0g" target="_blank">How to setup Visual Composer as the main page editor</a></strong>, replacing our default page editor: Page Builder by SiteOrigin.
</div>
<p>
	We have converted our widgets to the Visual Composer content elements, so you can use them in the VC editor. You can add them to your site from the <strong>Add new Element</strong> menu. Our elements are marked with our ProteusThemes icon, so they are easy to spot.
</p>
<img src="images/vc_add_new_element.png" alt="ProteusThemes Visual Editor elements"></p>
<h4>Front Page template for Visual Composer</h4>
<p>
	We've also made it very easy to create our original Front Page layout (demo page) with Visual Composer. All you need to do is:
</p>
<ol>
	<li>Create a new page and set the page template to <strong>Front Page with Slider</strong> and set the slider images below the editor.</li>
	<li>In the Visual Composer editor click on <strong>Templates</strong> icon, click on <strong>Default Templates</strong> tab and then select <strong>CargoPress: Front Page</strong> template (it has the ProteusThems icon):<img src="images/vc_home_page_template.png" alt="Visual Composer default templates"><img src="images/vc_select_front_page_template.png" alt="Visual Composer default templates"></li>
	<li>Close the templates widow and publish/update the page.</li>
</ol>
<h4>Nested Visual Composer Elements</h4>
<p>
	Some of our Visual Composer elements are nested elements. That means that once you select the element you will have to add it's child element in order to achieve the desired result.
</p>
<p>
	Lets take <strong>Social Icons</strong> as an example of the nested element. When you select <strong>Social Icons</strong> element in the VC editor a window will pop up with just a simple option to open links in a new tab and a "container" will be displayed in the editor.
</p>
<img src="images/vc_social_icons.png" alt="Social Icons VC element">
<p>
	Now you have to click the + icon and add a <strong>Social Icon</strong> element, edit it's settings (that will actually add a social icon to the page). With this method you can add as many social Icons as you want. And that's why we use nested elements.
</p>
<p>
	Other nested elements are: <strong>Google Map</strong>, <strong>Number Counter</strong> and <strong>Testimonials</strong>. They all work on the same principle, they enable you to add multiple locations, counters and testimonials.
</p>