<section>
	<h2 id="plugins">Plugins</h2>
	<p>We also use and support some of the best plugins for WordPress.</p>

	{{!-- Required and recommended plugins --}}
	{{> required-and-recommended-plugins}}

	<h3 id="caldera-forms">Caldera Forms</h3>
	<p><a href="https://calderaforms.com/?thnx=68">Caldera Forms</a> is awesome form builder which works out of the box with the Bootstrap 3 style. It will look great right away. If you want to match ConsultPress style you will just need to turn off Form Styles in Caldera Forms -> General Settings -> Form Styles.</p>
	<img src="images/caldera-forms-bootstrap-styles.png" alt="Caldera Forms Bootstrap Styles">
	<p>One last thing is to change button class from <code>btn-default</code> to ConsultPress primary button <code>btn-primary</code>.</p>
	<img src="images/caldera-forms-button-styles.png" alt="Caldera Forms Button Styles">
	<p>That's it! Enjoy playing around with countless possibilities of <a href="https://calderaforms.com/?thnx=68">Caldera Forms</a>.</p>

	<h3 id="lifterlms">LifterLMS</h3>
	<p><a href="https://lifterlms.com/">LifterLMS</a> is on a mission to democratize education in the digital classroom by making it easy to create, sell and protect engaging online courses. Just like with many other plugins LifterLMS will look great right away. You will just need to install LifterLMS plugin and add new content. For a quick start, we recommend importing LifterLMS sample.
	</p>

	{{!-- Contact Form 7 --}}
	{{> contact-form-7}}

	{{!-- WooCommerce --}}
	{{> woocommerce}}

	{{!-- Visual Composer --}}
	{{> visual-composer}}

	{{!-- Breadcrumbs NavXT --}}
	{{> breadcrumbs-navxt}}

	{{!-- Other Plugins --}}
	{{> other-plugins}}
</section>