<section>
	<h2 id="header">Header</h2>

	{{!-- Logo --}}
	{{> logo}}

	{{!-- Favicon --}}
	{{> favicon}}

	<h3 id="header-widgets">Header Widgets</h3>
	<p>
		There is one header widget area in this theme, called <strong>Header</strong>, which is visible on all pages.
	</p>
	<p>
		You can put a lot of widgets in the <strong>Header</strong> widget areas, but your header will look great with the following widgets:
	</p>

	{{!-- Header Widgets --}}
	{{> header-widgets}}

	{{!-- Main Menu --}}
	{{> main-menu}}

	{{!-- After Header --}}
	{{> after-header}}
</section>