<div class="info">
	<strong><a href="https://support.proteusthemes.com/hc/en-us/articles/210147085-How-to-install-the-Shaka-theme-and-import-the-demo-data" target="_blank">Check out our guide on how to install the Shaka theme and how to import its demo data</a></strong>
</div>