<section>
	<h2 id="plugins">Plugins</h2>
	<p>We also use and support some of the best plugins for WordPress.</p>

	{{!-- Required and recommended plugins --}}
	{{> required-and-recommended-plugins}}

	<h3 id="wpforms">WPForms</h3>
	<p><a href="https://wpforms.com/">WPForms</a> is one of the best WordPress contact form plugins, famous for its own drag & drop editor which is rich with features and yet beginner friendly to use. WPForms will work out of the box with our themes. However, if you want to match MedicPress style you will need to change only one setting in the WPForms -> Settings -> Include Form Styling.
	<img src="images/wpforms-change-form-style.jpg" alt="WPForms change form style">
	Change it to Base styling only and you are good to go.</p>

	{{!-- Contact Form 7 --}}
	{{> contact-form-7}}

	{{!-- WooCommerce --}}
	{{> woocommerce}}

	{{!-- Visual Composer --}}
	{{> visual-composer}}

	{{!-- Breadcrumbs NavXT --}}
	{{> breadcrumbs-navxt}}

	{{!-- Other Plugins --}}
	{{> other-plugins}}
</section>