<pre>&#x3C;div class=&#x22;row&#x22;&#x3E;
  &#x3C;div class=&#x22;col-12&#x22;&#x3E;
    [text* your-name class:form-control placeholder &#x22;First Name*&#x22;]
  &#x3C;/div&#x3E;
  &#x3C;div class=&#x22;col-12&#x22;&#x3E;
    [tel your-number class:form-control placeholder &#x22;Phone Number&#x22;]
  &#x3C;/div&#x3E;
  &#x3C;div class=&#x22;col-12&#x22;&#x3E;
    [email* your-email class:form-control placeholder &#x22;E-mail*&#x22;]
  &#x3C;/div&#x3E;
  &#x3C;div class=&#x22;col-12&#x22;&#x3E;
    [textarea your-message class:form-control placeholder &#x22;Message&#x22;][submit class:btn class:pull-right class:btn-light &#x22;Send Message&#x22;]
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>