<section>
	<h2 id="header">Header</h2>

	{{!-- Top Bar --}}
	{{> top-bar}}

	{{!-- Logo --}}
	{{> logo}}

	{{!-- Favicon --}}
	{{> favicon}}

	{{!-- Main Menu --}}
	{{> main-menu}}

	{{!-- After Header --}}
	{{> after-header}}
</section>