<h3 id="demo-images">Demo Images</h3>
<p>
	All images used in {{extras.themeName}} can be found on <a href="{{extras.shutterstockURL}}" target="_blank">Shutterstock</a>.
</p>
<div class="info">
	All the images shown in the demo page of {{extras.themeName}} are copyrighted and come blurry with the theme (demo content).
</div>