<h3 id="top-bar">Top Bar</h3>
<p>
	In GymPress you will find highly customizable Top Bar area. Both left and right top side are made with widgets which can be added or removed here - <b>Appearance » Widgets » Top Left or Top Right</b>.
</p>
<p>Top Bar supported widgets:</p>
<ul>
	<li>Icon Box</li>
	<li>Social Icons</li>
	<li>Custom Menu</li>
	<li>Text Widget</li>
</ul>