<div class="info">
	<strong><a href="https://www.proteusthemes.com/help/install-beauty-theme-import-demo-data/" target="_blank">Check out our guide on how to install the Beauty theme and how to import its demo data</a></strong>
</div>