<div class="info">
	<strong><a href="https://support.proteusthemes.com/hc/en-us/articles/208039975-How-to-install-the-Beauty-theme-and-import-the-demo-data" target="_blank">Check out our guide on how to install the Beauty theme and how to import its demo data</a></strong>
</div>