---
themeforestLink: http://<%= tfurl %>
---
Hairpress is a premium Wordpress Theme for hair salons, beauty salons, wellness centers or any similar local business website. It is very easy to setup and use. Available only on <a href="{{intro-text.themeforestLink}}" target="_blank">ThemeForest!</a>