<div class="info">
	<a href="https://www.proteusthemes.com/help/install-repairpress-theme-import-demo-data/" target="_blank">Check out our guide on how to install the RepairPress theme and how to import it's demo data</a>
</div>