<div class="info">
	<a href="http://support.proteusthemes.com/hc/en-us/articles/205640211-How-to-install-the-RepairPress-theme-and-import-the-demo-data" target="_blank">Check out our guide on how to install the RepairPress theme and how to import it's demo data</a>
</div>