<h4 id="icons-medicpress">MedicPress icons in shortcodes</h4>
<p>
	Shortcode for MedicPress icons is the same as for the Font Awesome. You are able to use our MedicPress icons shortcode with the same attributes: <b>icon</b>, <b>href</b>, <b>target</b> and <b>color</b>, so look at how to use these attributes in the Font Awesome shortcode section above. The only difference is, how the icons are passed. Take a look at the example below.
</p>
<p>
	<b>Icon:</b> You can use any <a href="#medic-icons">Medic icon</a>. To set the selected icon, just get the class of the icon, for example "mp mp-ambulance-car".<br>
	Example: <code>[fa icon="mp mp-ambulance-car"]</code>
</p>


<h2 id="medic-icons">MedicPress Icons</h2>
<p>
	With this theme, we also include our custom Medic icons font, that you can use in our theme widgets, shortcodes and elsewhere on your site.
</p>
<p>
	To insert a medic icon into your custom text, you can use the HTML <code>i</code> tag:<br>
	<code>&lt;i class=&quot;mp mp-ambulance-car&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;</code>
</p>

<p>
	Here is the list of all medic icons:
</p>

<div class="row  pt-medic-icons-list">

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-ambulance-car" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-ambulance-car</code></p>
			<p>code: <code>\e900</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-bandage" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-bandage</code></p>
			<p>code: <code>\e901</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-brain" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-brain</code></p>
			<p>code: <code>\e902</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-breast" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-breast</code></p>
			<p>code: <code>\e903</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-checkin-hospital" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-checkin-hospital</code></p>
			<p>code: <code>\e904</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-clipboard" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-clipboard</code></p>
			<p>code: <code>\e905</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-crutch" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-crutch</code></p>
			<p>code: <code>\e906</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-dental-chair" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-dental-chair</code></p>
			<p>code: <code>\e907</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-dna" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-dna</code></p>
			<p>code: <code>\e908</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-doctor" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-doctor</code></p>
			<p>code: <code>\e909</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-dropper" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-dropper</code></p>
			<p>code: <code>\e90a</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-drugs" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-drugs</code></p>
			<p>code: <code>\e90b</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-eye" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-eye</code></p>
			<p>code: <code>\e90c</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-firstaidkit" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-firstaidkit</code></p>
			<p>code: <code>\e90d</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-firstaidkit-02" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-firstaidkit-02</code></p>
			<p>code: <code>\e90e</code></p>
		</div>
	</div>

		<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-healing" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-healing</code></p>
			<p>code: <code>\e90f</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-heart-rate-monitor" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-heart-rate-monitor</code></p>
			<p>code: <code>\e910</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-heartbeat" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-heartbeat</code></p>
			<p>code: <code>\e911</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-hospital" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-hospital</code></p>
			<p>code: <code>\e912</code></p>
		</div>
	</div>

		<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-hospital-bed" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-hospital-bed</code></p>
			<p>code: <code>\e913</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-hospital-bed02" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-hospital-bed02</code></p>
			<p>code: <code>\e914</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-hospital02" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-hospital02</code></p>
			<p>code: <code>\e915</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-intestine" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-intestine</code></p>
			<p>code: <code>\e916</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-joint" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-joint</code></p>
			<p>code: <code>\e917</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-kidney" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-kidney</code></p>
			<p>code: <code>\e918</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-lung" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-lung</code></p>
			<p>code: <code>\e919</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-medical" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-medical</code></p>
			<p>code: <code>\e91a</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-medical-app" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-medical-app</code></p>
			<p>code: <code>\e91b</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-medical-assist" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-medical-assist</code></p>
			<p>code: <code>\e91c</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-medical-document" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-medical-document</code></p>
			<p>code: <code>\e91d</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-medical-record" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-medical-record</code></p>
			<p>code: <code>\e91e</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-medical-rounded" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-medical-rounded</code></p>
			<p>code: <code>\e91f</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-medicine" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-medicine</code></p>
			<p>code: <code>\e920</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-medicine-bottle" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-medicine-bottle</code></p>
			<p>code: <code>\e921</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-medicine-bottle02" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-medicine-bottle02</code></p>
			<p>code: <code>\e922</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-molecule" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-molecule</code></p>
			<p>code: <code>\e923</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-nurse" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-nurse</code></p>
			<p>code: <code>\e924</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-saline-solution" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-saline-solution</code></p>
			<p>code: <code>\e925</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-saline-solution02" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-saline-solution02</code></p>
			<p>code: <code>\e926</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-stethoscope" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-stethoscope</code></p>
			<p>code: <code>\e927</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-stomach" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-stomach</code></p>
			<p>code: <code>\e928</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-surgery" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-surgery</code></p>
			<p>code: <code>\e929</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-syringe" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-syringe</code></p>
			<p>code: <code>\e92a</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-syringe02" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-syringe02</code></p>
			<p>code: <code>\e92b</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-testube" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-testube</code></p>
			<p>code: <code>\e92c</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-testube02" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-testube02</code></p>
			<p>code: <code>\e92d</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-thermometer" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-thermometer</code></p>
			<p>code: <code>\e92e</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-tooth" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-tooth</code></p>
			<p>code: <code>\e92f</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-uterus" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-uterus</code></p>
			<p>code: <code>\e930</code></p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-sm-3">
			<i class="mp mp-wheelchair" aria-hidden="true"></i>
		</div>
		<div class="col-sm-9">
			<p>class: <code>mp mp-wheelchair</code></p>
			<p>code: <code>\e931</code></p>
		</div>
	</div>

</div>