<h3 id="tables">Tables</h3>
<p>
	Tables are in fact not made with real shortcodes but very simple <a href="https://www.w3schools.com/html/html_tables.asp" target="_blank">html tables</a>.
</p>
<p>
	They must be inserted in the <b>Text</b> page editor or in the Text widget. Look at the images bellow:
</p>
<img src="images/table-text.jpg" alt="Table Text" width="1905" height="952">
<img src="images/table-widget.jpg" alt="Table Widget" width="1905" height="952">
<p>
	After that all you need to do is to add our <code>.legalpress-table</code> class in the <code>&#x3C;table&#x3E;</code> and that's it.
</p>
<p>
	Example for our demo <b>Pricing Tables</b>:
</p>
<pre>&#x3C;table class=&#x22;legalpress-table&#x22;&#x3E;
  &#x3C;thead&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;th&#x3E;SERVICES&#x3C;/th&#x3E;
      &#x3C;th class=&#x22;align-center&#x22;&#x3E;PRICE FOR 10+ hours&#x3C;/th&#x3E;
      &#x3C;th class=&#x22;align-center&#x22;&#x3E;PRICE FOR 50+ hours&#x3C;/th&#x3E;
    &#x3C;/tr&#x3E;
  &#x3C;/thead&#x3E;
  &#x3C;tbody&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;FAMILY LAW&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$15.95&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$12.95&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;BANKRUPTCY LAW&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$22.95&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$232.95&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;CORPORATE LAW&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$16.95&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$166.95&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;PERSONAL INJURY LAW&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$12.95&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$128.95&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;STORAGE&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$15.95&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$154.95&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;CIVIL RIGHTS LAW&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;$9.95&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;&#x3C;a href=&#x22;https://themeforest.net/user/proteusthemes/portfolio?ref=proteusthemes&#x22; taget=&#x22;_blank&#x22;&#x3E;GET IN TOUCH&#x3C;/a&#x3E;&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
  &#x3C;/tbody&#x3E;
&#x3C;/table&#x3E;</pre>
<p>
	Example for our demo <b>Default Tables</b>:
</p>
<pre>&#x3C;table class=&#x22;table&#x22;&#x3E;
  &#x3C;thead&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;th&#x3E;Services&#x3C;/th&#x3E;
      &#x3C;th class=&#x22;align-center&#x22;&#x3E;For Family Law&#x3C;/th&#x3E;
      &#x3C;th class=&#x22;align-center&#x22;&#x3E;For Criminal Law&#x3C;/th&#x3E;
    &#x3C;/tr&#x3E;
  &#x3C;/thead&#x3E;
  &#x3C;tbody&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;Donec suscipit vehicula turpis sed lutpat&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;35&#x20AC;&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;55&#x20AC;&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;Quisque vitae quam neque.&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;32&#x20AC;&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;42&#x20AC;&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;Morbi cilisis placerat dapibus.&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;44&#x20AC;&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;31&#x20AC;&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr class=&#x22;active&#x22;&#x3E;
      &#x3C;td&#x3E;Etiam ultrices nulla ed leo malesuada&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;48&#x20AC;&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;34&#x20AC;&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;Commodo bibendum orci vi verra ;&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;22&#x20AC;&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;33&#x20AC;&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;alesua commodo malesuada commodo&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;16&#x20AC;&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;align-center&#x22;&#x3E;7&#x20AC;&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
  &#x3C;/tbody&#x3E;
&#x3C;/table&#x3E;</pre>
