<div class="info">
	<strong><a href="https://support.proteusthemes.com/hc/en-us/articles/207610759-How-to-install-the-Auto-theme-and-import-its-demo-data" target="_blank">Check out our guide on how to install the Auto theme and how to import its demo data</a></strong>
</div>