<p>You can also watch whole installation process on our video:</p>
<div class="video">
	<iframe src="https://www.youtube.com/embed/Ap97a8h2-KU?list=PLbSzJ9oeSLcdDegWN6Hv4XMsRa717sWqO" allowfullscreen></iframe>
</div>