<h3 id="page-templates">Page Templates</h3>
<img class="alignright" src="images/page-templates.jpg" alt="Page Template" width="390" height="448">
<p>
	You can choose between 3 different Templates - <b>Default Template</b>, <b>Front Page with Slider</b> and <b>Empty Template</b>.
</p>
<p>
	<b>Default Template</b>: Just a default template for simple layouts and Page Builder. First you must choose the Page Builder option under the title and you are ready to go. You can add our widgets here, choose different visual styles and much more. More about that in the next chapter.
</p>
<p>
	<b>Front Page with Slider</b>: This is a unique template which adds an option for a slider in the page options. It can be used with Page Builder. More about that in the Slider chapter. Here you can also choose to use the Layer or Revolution Slider. We don't include these two slider plugins with the theme but we make sure they work nicely, since we know, that some of our customers want to use them. When you select this Layer/Revolution slider option, a new setting will appear in which you can put ID/alias from Layer/Revolution Slider.
</p>
<p>
	<b>Empty Template (no header and footer)</b>: This is an empty page template and it can be used in many different cases. For example a sales page, which should not show any distraction elements (logo, menu, footer,...). When you select this page template, the options for it will display under the content editor, which allow you to enable certain elements, if you need them (logo, menu, footer). The content can be layout out and created with the awesome Page Builder by SiteOrigin editor.
</p>

<h4 id="blog-and-single-post-sidebar">Blog and single post sidebars</h4>
<p>
	The sidebar options for the blog and the single posts are available in <i>Appearance » Customize » Theme Options » Blog</i>.
</p>