<h3 id="page-builder-widgets">Page Builder Widgets</h3>
<p>
	You can use almost any widget in the Page Builder. You can view the showcase of our widgets on our <a href="https://demo.proteusthemes.com/woondershop/all-elements/" target="_blank">All elements</a> page.
</p>
<h4>SiteOrigin Editor Widget</h4>
<p>
	SiteOrigin Editor will create for you the same editor environment as a normal WordPress editor does. You can use this widget if you want normal text editing options. The SiteOrigin Editor Widget is part of <a href="https://wordpress.org/plugins/so-widgets-bundle/" target="_blank">Site Origin Widgets Bundle</a>.
</p>
