<h3 id="favicon">Favicon</h3>
<p>
	Since WordPress version 4.3, the favicon setting can be found in <kbd><kbd><samp>Appearance</samp></kbd> → <kbd><samp>Customize</samp></kbd> → <kbd><samp>Site Identity</samp></kbd></kbd>, where you have to set the <b>Site Icon</b> option.
</p>
