<h3 id="logo-and-favicon">Logo</h3>
<p>
	The logo can be changed in our Theme Options - <kbd><kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Customize</samp></kbd>&nbsp;→ <kbd><samp>Theme Options</samp></kbd>&nbsp;→ <kbd><samp>Logo</samp></kbd></kbd>.
</p>
