<h3 id="main-menu">Main Menu</h3>
<p>
	Main Menu can be set in <kbd><kbd><samp>wp-admin</samp></kbd>&nbsp;→ <kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Menus</samp></kbd></kbd>. Theme locations for Main Menu is called Main Menu.
</p>
<img class="aligncenter" src="images/main-menu-location.png" alt="Page Template">
