<h4 id="featured-page-widget">Featured Page Widget</h4>
<p>
	Featured Page is a really simple widget that we use in <a href="#page-builder">Page Builder</a>. All you have to do is to select the page and one of the two layouts we made for you.
</p>
<p>
	<strong>But how do I change the image and text on the Front Page?</strong>
</p>
<p>
	The image on the Front Page is just the normal <strong>Featured Image</strong> of the selected page. You can change that in the sidebar of every single page. Text can be changed in the <strong>Excerpt field</strong> which can be found at the end of the page settings. If the excerpt field is not there, you must click on the <strong>Screen Option</strong> (at the top of the page) and check Excerpt. For more info please take a look at the screenshot below.
</p>
<a href="images/featured-page.jpg" target="blank">
	<figure>
		<img src="images/featured-page.jpg" alt="Featured Page" width="1719" height="909">
		<figcaption>Click for bigger view.</figcaption>
	</figure>
</a>
