<h4>Latest News Widget</h4>
<p>
	There are two different version of display for this widget. When you add the widget to page builder editor you can select a <strong>Box</strong> or <strong>Inline</strong> display type. Below you can see how the two types look like (Box on the left and inline on the right):
</p>
<img src="images/latest-news-widget-display.png" alt="Latest news widget display types">
<p>
	The options for box or inline display type are different. For box type you have a field <i>Post order number</i> in which you have to specify which post you want to display. If you input number 1 in it, the latest post will get displayed, if you input number 3, the third post will be displayed, and so on. But for the inline type you have to input an interval of which posts you have to display (example: from 1 to 3, would display the three latest posts).
</p>
<p>
	For the <strong>Latest News widget</strong> you can also set the <i>More News</i> link, that will be displayed on the bottom of the widget.
</p>
<div class="info">
	<p>This Widget is limited to 10 latest posts, so the highest number that you can input is 10.</p>
</div>