<h4>Open Position Widget</h4>
<p>
	Open Position is the perfect widget for listing your Jobs. This widget is very easy to use, with clear fields. If you want to use the <b>collapse option</b> with the widget you will need to insert <b>Read More</b> tag as seen below. This tag will hide everything beneath it and will add a collapsible <b>Read More</b> link.
</p>
<img src="images/open-position-read-more.png" alt="Read more Open Position widget">