<h3 id="page-builder">Page Builder</h3>
<p>
	Page Builder is very powerful tool for making pages. Here is one example of how it looks like:
</p>
<img src="images/page-builder-example.png" alt="Page Builder examlpe">
<p>
	You can make any kind of grid with adding new rows and inside them you put widgets. When you are finished with adding widgets you can also move whole rows up and down.
</p>
<p>
	For more information on how to use Page Builder please visit <a href="https://siteorigin.com/page-builder/documentation/" target="_blank">Page Builder by SiteOrigin documentation page</a>.
</p>
<h4 id="page-builder-row-style">Page Builder Row Style</h4>
<p>
	Let's take a look at how we can style Page Builder rows.
</p>
<p>
	To start of we have to click on "Edit Row" for the row that we want to style as shown on the image above. An "Edit Row" window will open, and on the right, there are three setting tabs <b>Attributes</b>, <b>Layout</b> and <b>Design</b>. Here you can customize different things for this particular row.
</p>
<p>
	In the <b>Layout</b> tab you can set <b>Bottom Margin</b>, <b>Padding</b> and change the <b>Row Layout</b> to <b>Full Width</b>. In the <b>Design</b> tab you can set the <b>Background Color</b>, <b>Background Image</b> and other things.
</p>
{{!-- Page Builder widget style --}}
{{> page-builder-widget-style}}