<h3 id="page-templates">Page Templates</h3>
<img class="alignright" src="images/page-templates.jpg" alt="Page Template" width="390" height="448">
<p>
	You can choose between 3 different Templates - <b>Default Template</b>, <b>Front Page with Slider</b> and <b>Front Page With Layer/Revolution Slider</b>.
</p>
<p>
	<b>Default Template</b>: Just default template for simple layouts and Page Builder. First you must choose Page Builder option under the title and you are ready to go. You can add our widgets here, choose different visual styles and much more. More about that in the next chapter.
</p>
<p>
	<b>Front Page with Slider</b>: This is unique template which adds option for slider in the page options. It can be used with Page Builder. More about that in the Slider chapter.
</p>
<p>
	<b>Front Page with Layer/Revolution Slider</b>: We don't include these two slider plugins with the theme but we make sure they work nicely, since we know our customers want to use them. When you activate this template there is a new <strong>Page Slider</strong> meta box in which you can put ID/alias from Layer/Revolution Slider.
</p>