<h3 id="page-builder-widgets">Page Builder Widgets</h3>
<p>
	You can use almost any widget in the Page Builder. Let's take a look at few not so straight forward ones.
</p>
<h4>SiteOrigin Editor Widget</h4>
<p>
	SiteOrigin Editor will create you the same editor environment as a normal WordPress editor does. You can use this widget if you want normal text editing options. SiteOrigin Editor Widget is part of <a href="https://wordpress.org/plugins/so-widgets-bundle/" target="_blank">Site Origin Widgets Bundle</a>.
</p>
<h4>Call to Action Widget</h4>
<p>
	How to add a button? With our custom shortcodes. You can find instructions on <a href="#buttons">Buttons section</a>.
</p>
<h4>Open Position Widget</h4>
<p>
	Open Position is perfect widget for listing your Jobs. Widget is very easy to use, with clear fields. If you want to use <b>collapse option</b> with the widget you will need to insert <b>Read More</b> tag as seen below. This tag will hide everything beneath it and will add a collapsible <b>Read More</b> link.
</p>
<img src="images/open-position-read-more.png" alt="Read more Open Position widget">
<h4>Twitter Widget</h4>
<p>
	This widget can be included everywhere - in page builder and in a normal sidebar. For that widget we use normal WordPress <b>Text Widget</b>.
</p>
<p>
	First, go on <a href="https://twitter.com/settings/widgets" target="_blank">https://twitter.com/settings/widgets</a> and click <b>Create new</b>.
</p>
<img src="images/twitter-settings.jpg" alt="Twitter Settings" width="900" height="560">
<p>
	Now choose your Username, height of the widget, Theme and Link color. When you are happy with your widget click on Create widget button. You will get the code which you copy and paste in the Text Widget in your WordPress site.
</p>
<img src="images/twitter-code.jpg" alt="Twitter Code" width="900" height="600">