<h3 id="breadcrumbs">Breadcrumbs NavXT</h3>
<p>
	The breadcrumbs in this theme are powered by the <strong>Breadcrumbs NavXT</strong> plugin.
</p>
<p>
	All the settings for breadcrumbs can be found in <b>Settings » Breadcrumbs NavXT</b>. When you first access this settings page, there might be a notice, which has a link <i>Migrate now</i> at the end, just click it and it will take you to the correct settings page. Here you can define a separator (which should be empty by default for our themes), breadcrumb hierarchies for different pages (pages, custom post types, taxonomy, ...) and set other breadcrumbs related things.
</p>
<h4>Default Product Breadcrumbs</h4>
<p>
	Let's take a look at how to setup the default breadcrumbs used on this theme for the <b>Products</b> custom post type. Go to <i>Settings » Breadcrumbs NavXT</i> and click on the <b>Post Types</b> tab. Scroll down to the <b>Product</b> section, and set the <b>Product Root Page</b> to <b>Shop</b> page and since we set the root page, we can also disable (uncheck) the <b>Product Archive Display</b> checkbox. Don't forget to save the settings.
</p>

{{!-- Breadcrumbs NavXT portfolio --}}
{{> breadcrumbs-navxt-portfolio}}