<h3 id="contact-form-7">Contact Form 7</h3>
<p>
  We use Contact Form 7 for our Contact Us page. This is the code from our demo:
</p>
{{!-- Contact form 7 code example used in our demo page --}}
{{> contact-form-7-code}}
<p>
  After that just place the plugin's shortcode into your Contact Us page.
</p>