<h3 id="contact-form-7">Contact Form 7</h3>
<p>
  We use Contact Form 7 for our Contact Us page. This is the code from our demo:
</p>
<pre>&#x3C;div class=&#x22;row&#x22;&#x3E;
  &#x3C;div class=&#x22;col-xs-12  col-lg-6&#x22;&#x3E;
    [text* your-name class:form-control placeholder &#x22;First &#x26; Last Name *&#x22;]
  &#x3C;/div&#x3E;
  &#x3C;div class=&#x22;col-xs-12  col-lg-6&#x22;&#x3E;
    [email* your-email class:form-control placeholder &#x22;E-mail *&#x22;]
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row&#x22;&#x3E;
  &#x3C;div class=&#x22;col-xs-12  col-lg-6&#x22;&#x3E;
    [tel your-telephone class:form-control placeholder &#x22;Phone&#x22;]
  &#x3C;/div&#x3E;
  &#x3C;div class=&#x22;col-xs-12  col-lg-6&#x22;&#x3E;
    [text your-subject class:form-control placeholder &#x22;Service&#x22;]
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;row&#x22;&#x3E;
  &#x3C;div class=&#x22;col-xs-12&#x22;&#x3E;
    [textarea your-message class:form-control placeholder &#x22;Message&#x22;]
    &#x3C;div class=&#x22;wpcf7-notice&#x22;&#x3E;Fields with * are required.&#x3C;/div&#x3E;
    [submit class:btn class:btn-primary &#x22;SEND MESSAGE&#x22;]
  &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>
<p>
  After that just place the plugin's shortcode to your contact us page.
</p>