{{!--<h3 id="bookly">8.4. Bookly</h3>
<p>
	Bookly is a great easy-to-use and easy-to-manage booking tool for service providers. Plugin supports wide range of services, provided by business and individuals service providers offering reservations through websites.
</p>
<p>
	In Auto theme we use <strong>free version</strong> of <a href="https://wordpress.org/plugins/bookly-responsive-appointment-booking-tool/">Bookly plugin</a> but you can also buy premium version of plugin if you need more features.
</p> --}}