<h3 id="required-and-recommended-plugins">Required and Recommended Plugins</h3>
<p>
	You can install and activate these plugins by going to <strong>wp-admin » Appearance » Install Plugins</strong>.
</p>
<p>
	The list of required and recommended plugins used in this theme:
</p>

{{!-- List of Required and recommended plugins --}}
{{> list-of-tgm-plugins}}