<h3 id="so-widgets-bundle">SiteOrigin Widgets Bundle</h3>

<p>
	SiteOrigin has many good widgets that you can use in the Page Builder editor or in the sidebars. Let's take a look at the widgets that need special setup.
</p>

<h4>SiteOrigin Google Maps</h4>

<p>
	This is a great Google Maps widget with many settings (you can set a custom marker, add information to the marker, use different styles of maps and much more). What bothers most users is the first setting that they have to set before the widget will work properly, that's the Google Maps API key.
</p>
<p>
	Under the API input field you will find <a href="https://developers.google.com/maps/documentation/javascript/get-api-key" target="_blank">this link to the Google Maps API key page</a>. Go to this page, login to your google account and generate the Google Maps API key. Copy the generated API key to the widget. Now you can start using the Google Maps widget and set other setting of the widget.
</p>
<p>
	Note: If you are using a <b>Static image</b> map type, then you will need to input the static Google Maps API key, so <a href="https://developers.google.com/maps/documentation/static-maps/" target="_blank">go to this Static Google Maps page</a> and click on the <i>"Get a key"</i> button to generate a static Google Maps API key and use that key in the widget instead.
</p>
