<h4>Templates for Visual Composer</h4>
<p>
	We've also made it very easy to create our original demo page layout templates with Visual Composer. You can choose from these pre made templates: <strong>Home Page</strong>, <strong>About Us</strong>, <strong>Contact Us</strong>, and <strong>Our Services</strong>. To recreate the theme Home Page you need to:
</p>
<ol>
	<li>Create a new page and set the page template to <strong>Front Page with Slider</strong> and set the slider images below the editor.</li>
	<li>In the Visual Composer editor click on <strong>Templates</strong> icon, click on <strong>Default Templates</strong> tab and then select <strong>Home Page</strong> template:<img src="images/vc_home_page_template.png" alt="Visual Composer default templates"><img src="images/vc_select_front_page_template.png" alt="Visual Composer home page template"></li>
	<li>Publish/update the page.</li>
</ol>