<h3 id="visual-composer">Visual Composer</h3>
{{!-- VC intro text --}}
{{> visual-composer-intro-text}}

{{!-- VC converted widgets --}}
{{> visual-composer-converted-widgets}}

{{!-- VC templates --}}
{{> visual-composer-templates}}

{{!-- VC nested elements --}}
{{> visual-composer-nested-elements}}

{{!-- VC other nested elements --}}
{{> visual-composer-other-nested-elements}}

{{!-- VC after --}}
{{> visual-composer-after}}