<div class="info">
	Please watch our video on <a href="https://www.youtube.com/watch?v=dHN_MQlft0g" target="_blank">How to setup Visual Composer as the main page editor</a>, replacing our default page editor: Page Builder by SiteOrigin.
</div>
<p>
	We have converted our widgets to the Visual Composer content elements, so you can use them in the VC editor. You can add them to your site from the <strong>Add new Element</strong> menu. Our elements are marked with our ProteusThemes icon, so they are easy to spot.
	<img src="images/vc_add_new_element.png" alt="ProteusThemes Visual Editor elements">
</p>