<p>
	Other nested elements are: <strong>Accordion</strong>, <strong>Testimonials</strong> and <strong>Pricing List</strong>. They all work on the same principle, they enable you to add multiple accordion items, testimonials and so on...
</p>