<h4>Nested Visual Composer Elements</h4>
<p>
	Some of our Visual Composer elements are nested elements. That means that once you select the element you will have to add its child element in order to achieve the desired result.
</p>
<p>
	Let's take <strong>Social Icons</strong> as an example of the nested element. When you select the <strong>Social Icons</strong> element in the VC editor a window will pop up with just a simple option to open links in a new tab and a "container" will be displayed in the editor.
</p>
<img src="images/vc_social_icons.png" alt="Social Icons VC element">
<p>
	Now you have to click the + icon and add a <strong>Social Icon</strong> element, edit its settings (that will actually add a social icon to the page). With this method you can add as many social Icons as you want. And that's why we use nested elements.
</p>
