<h3 id="woocommerce">WooCommerce</h3>
<p>
	This theme supports basic WooCommerce integration.
</p>
<p>
	Once WooCommerce is activated you will see this notice:
</p>
<img src="images/woocommerce-begin-setup.png" alt="WooCommerce Begin Setup">
<p>
	Click on <strong>Run the Setup Wizard</strong> button to begin the WooCommerce install. That will start the setup wizard, where you can set things like <strong>shop pages</strong>, <strong>store locale</strong>, <strong>shipping & tax</strong> and <strong>payments</strong>.
</p>
<img src="images/woocommerce-setup-wizard.png" alt="WooCommerce Setup Wizard">
<p>
	If you want to change some settings, you can change them in <strong>WooCommerce » Settings</strong>. There are many tabs at the top, you can configure to fit your needs.
</p>
<p>
	Next, you can install the demo products by WooCommerce. Go to <strong>Tools » Import » WordPress</strong> and import the demo XML file which can be found in the folder where WooCommerce was installed on your server. Usually this is in <code>wp-content/plugins/woocommerce</code>. Find the file <code>dummy-data.xml</code> there and upload it to the server. Also check the <strong>Download and import file attachments</strong> check-box, so that all product images will be downloaded as well.
</p>
<p>
	When you're done, you should see the products:
</p>
<img src="images/woocommerce-products.jpg" alt="WooCommerce Products" width="1081" height="746">
<div class="info">
	If you want to feature certain products, you can do so by clicking a <strong>star</strong> symbol in the table seen above.
</div>
<p>
	When you are done with the settings, go to <strong>Appearance » Widgets</strong>.
</p>
<p>
	Drag &amp; Drop the WooCommerce widgets that start with "WooCommerce" to the sidebar called <strong>Shop Sidebar</strong>.
</p>
<img class="aligncenter" src="images/woocommerce-shop-sidebar.jpg" alt="WooCommercer Shop Sidebar" width="515" height="481">
<p>
	That's all, your WooCommerce shop is now ready!
</p>
<div class="info">
	All further information and documentation for WooCommerce can be found on the official <a href="http://docs.woothemes.com/documentation/plugins/woocommerce/" target="_blank"><strong>WooCommerce website</strong></a>.
</div>