<h4 id="page-builder-jumbotron-overlap">Page Builder Jumbotron Overlap</h4>
<p>
	For wider screen (1500px +) there is really nice option in Shaka to make first row overlapping over jumbotron. You must edit first row of the page with slider and insert class <code>jumbotron-overlap</code> in the Attributes -> Row Class.
</p>
<h4 id="page-builder-widget-style">Page Builder Widget Style</h4>
<p>
	In Shaka we added one new widget style. You can now set a <b>box around the widget</b> and make widgets stands out.	This option can be chosen for all widgets in the page builder under the tab Design.
</p>
