<h3 id="page-builder-widgets">Page Builder Widgets</h3>
<p>
	You can use almost any widget in the Page Builder. Let's take a look at few not so straight forward ones.
</p>
<h4>SiteOrigin Editor Widget</h4>
<p>
	SiteOrigin Editor will create you the same editor environment as a normal WordPress editor does. You can use this widget if you want normal text editing options. SiteOrigin Editor Widget is part of <a href="https://wordpress.org/plugins/so-widgets-bundle/" target="_blank">Site Origin Widgets Bundle</a>.
</p>

{{!-- Call To Action widget --}}
{{> call-to-action-widget}}

{{!-- Featured Page widget --}}
{{> featured-page-widget}}

<h4 id="portfolio-grid-widget">Portfolio Grid</h4>
<p>
	Portfolio Grid Widget has default light skin, but there is also option to make it look good on darker background. To achieve that, you must edit row where Portfolio Grid is and insert class <code>portfolio-grid--dark</code> in the Attributes -> Row Class.
</p>

<h4 id="instagram-widget">Instagram Widget</h4>
<p>
	You will be able to display your Instagram images in a very nice responsive row and have an optional call-to-action box:
	<img src="images/instagram-widget.png" alt="Instagram widget">
</p>
<p>
	Just follow these instructions and get your <strong>access token</strong> from Instagram and you are good to go:
</p>
<ol>
	<li><a href="https://apps.proteusthemes.com/instagram/get-access-token.php" target="_blank">Login and get your Instagram Access Token</a>,</li>
	<li>Once you complete the authentication steps, copy the Access Token to the appropriate field in the widget settings.</li>
</ol>
<p>
	Note: The instagram data is cached for 30 minutes, so if you add/remove images on your Instagram account and you do not see the changes on your site, that's because the cached data. You can wait for 30 minutes and the images will be displayed or you can reset the cache, by editing/updating the widget ( make a change in the widget. For example: change the widget image number and update the page, then change it back to the desired number and update the page again, that will reset the cache).
</p>

{{!-- Twiter widget --}}
{{> twiter-widget}}