<h3 id="logo-and-favicon">Logo</h3>
<p>
	The default logo can be changed in our Theme Options - <b>Appearance » Customize » Theme Options » Logo</b>.
</p>
<p>
	In Adrenaline theme you can select the alternative logo for the home page templates. If you use one of the <strong>Front Page with Slider</strong> or <strong>Front Page With Layer/Revolution Slider</strong> <a href="#page-templates">page templates</a>, you will find the settings specific to the front page, where you can define alternative logo used on the front page.
</p>
<img src="images/alternative-front-page-logo.jpg" alt="Setting for alternative logo">
<p>
	If you don't specify alternative logo for the front page, the default one set in the customizer will be used.
</p>
