<h3 id="top-bar">Top Bar</h3>
<p>
	On both the left and right side of top there are widget areas. You can put next widgets on Top Left or Top Right widget area: Icon Box, Social Icons, Navigation Menu or Text widget.
</p>
<p>Set <b>Top bar visibility</b> in <b>Appearance &gt; Customize &gt; [PT] Theme Options &gt; Header</b> to Show, Hide or Hide on Mobile. Selecting Hide also removes these widget areas from the widgets screen.</p>
