<h3 id="page-builder-widgets">Page Builder Widgets</h3>
<p>
	You can use almost any widget in the Page Builder. Let's take a look at a few not so straightforward ones.
</p>
<h4>SiteOrigin Editor Widget</h4>
<p>
	SiteOrigin Editor will create for you the same editor environment as a normal WordPress editor does. You can use this widget if you want normal text editing options. The SiteOrigin Editor Widget is part of <a href="https://wordpress.org/plugins/so-widgets-bundle/" target="_blank">Site Origin Widgets Bundle</a>.
</p>
<h5 id="gift-card-example"><strong>Gift Card example</strong></h5>
<p>
	We used the SiteOrigin Editor widget to create a Gift card "widget". We also enabled the <i>box around the widget</i> design described in the <a href="#page-builder-widget-style">Page Builder Widget Style</a> section above. Here is what we put in the editor:
</p>
<pre>
&#x3C;h2&#x3E;A Gift for The Best&#x3C;/h2&#x3E;
Birthday coming up? Get Rush&#xA0;gift card.
&#x3C;img class=&#x22;size-full wp-image-89 alignright&#x22; src=&#x22;https://demo.proteusthemes.com/adrenaline/wp-content/uploads/sites/43/2016/10/partner2.png&#x22; alt=&#x22;partner2&#x22; width=&#x22;208&#x22; height=&#x22;98&#x22; /&#x3E;

[button href=&#x22;#&#x22;]Get gift card[/button]
</pre>
<p>
	And this is how it looks like:
</p>
<img src="images/gift-card.png" alt="Gift card widget code" class="center-block">

{# Call To Action widget #}
{% part "content-includes/pages/call-to-action-widget" %}

{# Featured Page widget #}
{% part "content-includes/pages/featured-page-widget" %}

<h4 id="portfolio-grid-widget">Portfolio Grid</h4>
<p>
	Portfolio Grid Widget will display your Portfolio pages (portfolio pages = activities in this theme) in a nice filterable grid. You can choose from two layouts: grid in multiple rows or a slider in a single row. You can also select which categories to display, enable a CTA, ... If you leave the <i>Label for all items</i> empty, there will be no "All" filter tab.
</p>

<h4 id="instagram-widget">Instagram Feed</h4>
<p>The theme uses <strong>Smash Balloon Social Photo Feed</strong> for Instagram feeds. The former ProteusThemes Instagram widget is no longer included.</p>
<ol>
	<li>Install and activate Smash Balloon Social Photo Feed from the theme's plugin installer.</li>
	<li>Open <strong>Instagram Feed &gt; All Feeds &gt; Add New</strong>, choose <strong>User Timeline</strong>, and add a source. Follow the plugin's account connection prompts.</li>
	<li>Customize and save the feed, then click <strong>Embed</strong> and copy its shortcode.</li>
	<li>Paste the shortcode into a SiteOrigin Editor widget on your page and save the page.</li>
</ol>
<p>For account requirements and connection help, follow <a href="https://smashballoon.com/doc/setting-up-the-free-instagram-feed-wordpress-plugin/" target="_blank">Smash Balloon's setup guide</a>. Configure the feed layout and refresh settings in the plugin.</p>

<h4 id="weather-widget">Weather Widget</h4>
<div class="info">
	The built-in Weather widget is currently unavailable because it uses OpenWeather One Call 2.5, which <a href="https://openweather.co.uk/blog/post/upgrade-your-weather-data-experience-one-call-api-30" target="_blank">OpenWeather discontinued in June 2024</a>. A theme update is needed before this widget can retrieve forecasts again. Creating a new API key or changing the widget settings does not upgrade its API connection.
</div>

{# Twiter widget #}
{% part "content-includes/pages/twiter-widget" %}
