<section>
	<h2 id="header">Header</h2>

	{# Top Bar #}
	{% part "content-includes/theme-header/top-bar" %}

	{# Logo #}
	{% part "content-includes/theme-header/logo" %}

	{# Favicon #}
	{% part "content-includes/theme-header/favicon" %}

	{# Main Menu #}
	{% part "content-includes/theme-header/main-menu" %}
	<h3 id="header-widget-area">Widget area: Header</h3>
	<p>Add widgets to <b>Appearance &rarr; Widgets &rarr; Header</b> to display a cart, search, social icons, or an Icon Box in the header. Adjust its appearance under <b>Appearance &rarr; Customize &rarr; Header &rarr; Header Widgets Area</b>. The placement depends on the active skin.</p>

	{# After Header #}
	{% part "content-includes/theme-header/after-header" %}
</section>
