<h4 id="page-builder-widget-style">Page Builder Widget Style</h4>
<p>Edit a widget and open its <b>Design</b> settings. Enable <b>Set a box around the widget</b> to display a bordered box with a top line and a shadow on hover.</p>
