<h3 id="page-builder-widgets">Page Builder Widgets</h3>
<p>
	You can use almost any widget in the Page Builder. Let's take a look at few not so straight forward ones.
</p>
<h4>Visual Editor Widget</h4>
<p>
	Visual Editor will create you the same editor environment as a normal WordPress editor does. You can use this widget if you want normal text editing options.
</p>

{{!-- Call To Action widget --}}
{{> call-to-action-widget}}

{{!-- Latest News widget --}}
{{> latest-news-widget}}

{{!-- Twiter widget --}}
{{> twiter-widget}}