<h4 id="page-builder-widget-style">Page Builder Widget Style</h4>
<p>
	In RepairPress we added 2 new widget styles. You can now set a <b>box around the widget</b> and you can choose widget with <b>exposed</b> title (bigger font with thin line).
</p>
<p>
	Both options can be chosen for all widgets in the page builder under the Design tab.
</p>