<p>
	To achieve the same design for the testimonial widget as on our demo page you have to click on <b>Layout</b> tab and set the <b>Bottom Margin</b> to <b>75</b>px, <b>Padding</b> to <b>60</b>px and the <b>Row Layout</b> to <b>Full Width</b>. Then click on the <b>Design</b> tab and set the <b>Background Image</b> you want. You can find our background image from demo in <code>assets/images/pttrn.png</code>.
</p>