<section>
	<h2 id="header">Header</h2>

	{{!-- Top Bar --}}
	{{> top-bar}}

	{{!-- Logo --}}
	{{> logo}}

	{{!-- Favicon --}}
	{{> favicon}}

	<h3 id="header-widgets">Header Widgets</h3>
	<p>
		There are two header widget areas in this theme: <strong>Header Left</strong> and <strong>Header Right</strong>, which are visible on all pages except for the front page with slider.
	</p>
	<p>
		You can put a lot of widgets in the <strong>Header</strong> widget areas, but your header will look great with the following widgets:
	</p>

	{{!-- Header Widgets --}}
	{{> header-widgets}}

	<h4>Social icons</h4>
	<p>
		They are perfect for the Header Right widget area. Input the URL of your social network page and select the social network icon.
	</p>

	{{!-- Main Menu --}}
	{{> main-menu}}

	{{!-- After Header --}}
	{{> after-header}}
</section>