<section>
	<h2 id="footer">Footer</h2>
	<p>
		Last but not least there is our footer area. The footer area is divided into:
	</p>
	<h3 id="top-footer">Top Footer</h3>
	<p>
		Top footer is divided in three sections that are explained in the subsections below.
	</p>
	<h4>Footer Logo</h4>
	<p>
		You can disable the Footer logo section in <strong>Appearance » Customize » Theme Options » Footer</strong>, by unchecking the <strong>Enable footer logo</strong> checkbox. Here you can also set the logo and the retina version of the logo, which should be double the size of the normal logo for screens with high DPI (example: your normal logo is 300x150 px, so your retina logo should be 600x300 px).
	</p>
	<h4>Footer Custom Text</h4>
	<p>
		You can disable this custom text area, by deleting the content of the text area <strong>Custom text</strong> in <strong>Apperance » Widgets » Footer</strong>. In this text area, you can add whatever you want (text, images, HTML code, shortcodes, ...).
	</p>
	<h4>Footer Widgets</h4>
	<p>
		Here you can add widgets in the <strong>Apperance » Widgets » Footer</strong>. There are also few options for that area in <strong>Appearance » Customize » Theme Options » Footer</strong>. You can change the layout of the widgets, how many widgets to display and change footer colors.
	</p>
	<h3 id="bottom-footer">Bottom Footer</h3>
	<p>
		The Bottom Footer area has 4 custom text fields. Custom text for the left, center(left), center(right) and right side of the bottom footer can be added in live customizer <strong>Appearance » Customize » Theme Options » Footer</strong>.
	</p>
</section>