<section>
	<h2 id="widgets">Widgets</h2>
	<h3 id="clients">Clients</h3>
	<p>
		This one is actually normal text widget with some html code.
	</p>
<pre>&#x3C;div class=&#x22;logo-panel&#x22;&#x3E;
  &#x3C;img src=&#x22;https://demo.proteusthemes.com/adrenaline/wp-content/uploads/sites/43/2016/10/partner1.png&#x22; alt=&#x22;partner1&#x22;/&#x3E;
  &#x3C;img src=&#x22;https://demo.proteusthemes.com/adrenaline/wp-content/uploads/sites/43/2016/10/partner2.png&#x22; alt=&#x22;partner2&#x22;/&#x3E;
  &#x3C;img src=&#x22;https://demo.proteusthemes.com/adrenaline/wp-content/uploads/sites/43/2016/10/partner3.png&#x22; alt=&#x22;partner3&#x22;/&#x3E;
  &#x3C;img src=&#x22;https://demo.proteusthemes.com/adrenaline/wp-content/uploads/sites/43/2016/10/partner6.png&#x22; alt=&#x22;partner6&#x22;/&#x3E;
  &#x3C;img src=&#x22;https://demo.proteusthemes.com/adrenaline/wp-content/uploads/sites/43/2016/10/partner5.png&#x22; alt=&#x22;partner5&#x22;/&#x3E;
&#x3C;/div&#x3E;</pre>
	<p>
		Change source of image - <code>src="yourimage.jpg"</code> and your image will be shown.
	</p>
</section>
