<h3 id="required-and-recommended-plugins">Required and Recommended Plugins</h3>
<p>
	You can install and activate these plugins by going to <kbd><kbd><samp>wp-admin</samp></kbd>&nbsp;→ <kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Install Plugins</samp></kbd></kbd>.
</p>
<p>
	The list of required and recommended plugins used in this theme:
</p>

{# List of Required and recommended plugins #}
{% part "content-includes/plugins/list-of-tgm-plugins" %}
