<h3 id="visual-composer">WPBakery Page Builder</h3>
{# VC intro text #}
{% part "content-includes/plugins/visual-composer-intro-text" %}

{# VC converted widgets #}
{% part "content-includes/plugins/visual-composer-converted-widgets" %}

{# VC templates #}
{% part "content-includes/plugins/visual-composer-templates" %}

{# VC nested elements #}
{% part "content-includes/plugins/visual-composer-nested-elements" %}

{# VC other nested elements #}
{% part "content-includes/plugins/visual-composer-other-nested-elements" %}

{# VC after #}
{% part "content-includes/plugins/visual-composer-after" %}
