<h4 id="page-builder-widget-style">Page Builder Widget Style</h4>
<p>
	You can now set <b>box around the widget</b> and make selected widgets stand out. This option can be chosen for all widgets in the page builder "widget edit mode" under the Design tab.
</p>