<h3 id="page-builder-widgets">Page Builder Widgets</h3>
<p>
	You can use almost any widget in the Page Builder. Let's take a look at a few not so straightforward ones.
</p>
<h4>SiteOrigin Editor Widget</h4>
<p>
	SiteOrigin Editor will create for you the same editor environment as a normal WordPress editor does. You can use this widget if you want normal text editing options. The SiteOrigin Editor Widget is part of <a href="https://wordpress.org/plugins/so-widgets-bundle/" target="_blank">Site Origin Widgets Bundle</a>.
</p>
<h5 id="gift-card-example"><strong>Gift Card example</strong></h5>
<p>
	We used the SiteOrigin Editor widget to create a Gift card "widget". We also enabled the <i>box around the widget</i> design described in the <a href="#page-builder-widget-style">Page Builder Widget Style</a> section above. Here is what we put in the editor:
</p>
<pre>
&#x3C;h2&#x3E;A Gift for The Best&#x3C;/h2&#x3E;
Birthday coming up? Get Rush&#xA0;gift card.
&#x3C;img class=&#x22;size-full wp-image-89 alignright&#x22; src=&#x22;https://demo.proteusthemes.com/adrenaline/wp-content/uploads/sites/43/2016/10/partner2.png&#x22; alt=&#x22;partner2&#x22; width=&#x22;208&#x22; height=&#x22;98&#x22; /&#x3E;

[button href=&#x22;#&#x22;]Get gift card[/button]
</pre>
<p>
	And this is how it looks like:
</p>
<img src="images/gift-card.png" alt="Gift card widget code" class="center-block">

{{!-- Call To Action widget --}}
{{> call-to-action-widget}}

{{!-- Featured Page widget --}}
{{> featured-page-widget}}

<h4 id="portfolio-grid-widget">Portfolio Grid</h4>
<p>
	Portfolio Grid Widget will display your Portfolio pages (portfolio pages = activities in this theme) in a nice filterable grid. You can choose from two layouts: grid in multiple rows or a slider in a single row. You can also select which categories to display, enable a CTA, ... If you leave the <i>Label for all items</i> empty, there will be no "All" filter tab.
</p>

<h4 id="instagram-widget">Instagram Widget</h4>
<p>
	You will be able to display your Instagram images in a very nice responsive row and have an optional call-to-action box:
	<img src="images/instagram-widget.png" alt="Instagram widget">
</p>
<p>
	Just follow these instructions and get your <strong>access token</strong> from Instagram and you are good to go:
</p>
<ol>
	<li><a href="https://apps.proteusthemes.com/instagram/get-access-token.php" target="_blank">Login and get your Instagram Access Token</a>,</li>
	<li>Once you complete the authentication steps, copy the Access Token to the appropriate field in the widget settings.</li>
</ol>
<p>
	Note: The instagram data is cached for 30 minutes, so if you add/remove images on your Instagram account and you do not see the changes on your site, that's because the cached data. You can wait for 30 minutes and the images will be displayed or you can reset the cache, by editing/updating the widget ( make a change in the widget. For example: change the widget image number and update the page, then change it back to the desired number and update the page again, that will reset the cache).
</p>

<h4 id="weather-widget">Weather Widget</h4>
<p>
	Display weather forecasts on your site with our <strong>Weather widget</strong>.
</p>
<p>
	All you have to do is follow the instructions in the widget settings and the widget will work perfectly. The first thing you will have to do is to <a href="https://developer.forecast.io/" target="_blank">register at forecast.io and get your API key</a>. Once you do that, just paste the API key into the widget settings, configure the location coordinates and other settings of the widget.
</p>
<p>
	Note: The weather widget data is cached for 30 minutes, so the weather data will change every 30 minutes. You can reset the cache, by editing/updating the widget (make a change in the widget. For example: change the number of days to forecast and update the page, then change it back to the desired number and update the page again, that will reset the cache).
</p>
<p>
	This is how the <strong>Weather widget</strong> looks like in this theme:
	<img src="images/weather-widget.png" class="center-block" alt="Weather widget">
</p>

{{!-- Twiter widget --}}
{{> twiter-widget}}