<section>
	<h2 id="slider">Slider</h2>
	<p>
		Building a Theme slider has never been easier.<br>
		You can create a Theme slider on any page you want. The only thing you must do is choose the page template <b>Front Page With Slider</b> (you can use this template even if it's not for the front page). After you select this page template there will be a new meta box at the bottom of the page which is called <b>Front page slider</b>. Now you can add images or videos to your slider.
	</p>
	<p>
		You can add Youtube or Vimeo videos. These two video providers are supported in our theme slider.
	</p>
	<p>
		As you can see on the example image bellow, there is also another tab: <strong>Settings</strong>. In Settings tab, you can change how the slider behaves (change the slider settings).
	</p>
	<p>This is how the slider backend looks like:</p>
	<img src="images/theme-slider-admin.png" alt="Theme slider admin">
	<p>
		Please take a look at this <a href="https://www.proteusthemes.com/help/recommended-slider-dimensions-themes/" target="_blank">slider dimensions article</a> for the recommended size of the slider images for this theme.
	</p>
	<div class="info">
		You can also use Layer/Revolution Slider. We don't include them with the theme but we make sure they work. When you activate page template - <b>Front Page With Layer/Revolution Slider</b> there is new field in which you can put id/alias from Layer/Revolution Slider.
	</div>
</section>