<section>
	<h2 id="header">Header</h2>

	{{!-- Top Bar --}}
	{{> top-bar}}

	{{!-- Logo --}}
	{{> logo}}

	{{!-- Favicon --}}
	{{> favicon}}

	<h3 id="header-widgets">Header Widgets</h3>
	<p>
		You can put a lot of widgets in the <strong>Header</strong> widget area, but your header will look great with the following widgets: Icon Box, Social Icons, Text Widget, Search.
	</p>

	{{!-- Header Widgets --}}
	{{> header-widgets}}

	{{!-- Main Menu --}}
	{{> main-menu}}

	<h3 id="header-widgets">Featured Page in Navigation</h3>
	<p>
		You can select Featured Page or add Featured Custom Link as the last item of the navigation. You will find settings for that in <b>Appearance » Customize » Theme Options » Navigation » Featured Page</b>.
	</p>

	{{!-- After Header --}}
	{{> after-header}}
</section>