<h3 id="buttons">Buttons</h3>
<p>
	For adding buttons you must use the button shortcode which looks like this: <code>[button]Your Text[/button]</code><br>
	There are 7 options with different attributes - <b>style</b>, <b>href</b>, <b>target</b>, <b>fa</b>, <b>corners</b>, <b>fullwidth</b>, <b>class</b> and <b>dashed</b>.
</p>
<p>
	<b>Text:</b> You can change the text of the button.<br>
	Example: <code>[button]New Text[/button]</code>
</p>
<p>
	<b>Style:</b> You can choose between a few styles - <b>primary</b>, <b>secondary</b>, <b>danger</b>, <b>success</b>, <b>info</b> or <b>default</b>.<br>
	Example: <code>[button style="primary"]Your Text[/button]</code>
</p>
<p>
	<b>Href:</b> You can add URL to the button.<br>
	Example: <code>[button href="http://www.proteusthemes.com"]Your Text[/button]</code>
</p>
<p>
	<b>Target:</b> You can choose if you want to open the link in the same - <b>"_self"</b> or new - <b>"_blank"</b> window.<br>
	Example: <code>[button target="_blank"]Your Text[/button]</code>
</p>
<p>
	<b>Font Awesome icon:</b> You can add a font awesome icon to the button.<br>
	Example: <code>[button fa="fa-phone"]Your Text[/button]</code>
</p>
<p>
<p>
	<b>Cornes:</b> You can change the corners of your button to be <b>rounded</b>.<br>
	Example: <code>[button corners="rounded"]Your Text[/button]</code>
</p>
<p>
	<b>Full width:</b> You can stretch your button to full width.<br>
	Example: <code>[button fullwidth="true"]Your Text[/button]</code>
</p>
<p>
	<b>Class:</b> You can add extra custom classes to the button.<br>
	Example: <code>[button class="btn-lg extra-custom-class"]Your Text[/button]</code>
</p>
<p>
	<b>Dashed:</b> You can add dashed style around the button.<br>
	Example: <code>[button dashed="true"]Your Text[/button]</code>
</p>
