{{> header}}
	<div class="container  container--main">
		<div class="row">
			<div class="col-xs-12  col-md-9  col-md-push-3">
				<div class="content">
					{{> content}}
				</div>
			</div>
			<div class="col-xs-12  col-md-3  col-md-pull-9" id="sidebar-menu">
				{{> sidebar}}
			</div>
		</div>
	</div>
{{> footer}}