<h3 id="page-templates">Page Templates</h3>
<img class="alignright" src="images/page-templates.jpg" alt="Page Template" width="390" height="448">
<p>
	You can choose between 4 different Templates - <strong>Default Template</strong>, <strong>Default Template (for Page Builder)</strong>, <strong>Front Page With Layer/Revolution Slider</strong> and <strong>Front Page with Slider</strong>.
</p>
<p>
	<strong>Default Template</strong>: Just default template for simple layouts.
</p>
<p>
	<strong>Default Template (for Page Builder)</strong>: This is where the magic happens. First you must choose Page Builder option under the title and you are ready to go. You can add our widgets here, choose different visual styles and much more. More about that in the next chapter.</a>
</p>
<p>
	<strong>Front Page with Slider</strong>: This is an unique template which adds option for the slider in page options. It can be used with Page Builder. More about that in the Slider chapter.
</p>
<p>
	<strong>Front Page with Layer/Revolution Slider</strong>: We don't include this two sliders with the theme but we make sure they work since we know our customers want to use them. When you activate this template there is a new field in which you can put alias from Layer/Revolution Slider and that's it.
</p>
<p>
	<strong>Empty Template (no header and footer)</strong>: The name says it all. This is an empty page template, without the header or footer section. It's a blank canvas that you can create a landing page, coming soon or any other typo of page. This template also has <b>Full page background</b> settings section, which can add full page background color, image or video. Here is an example of full page background <a href="https://demo.proteusthemes.com/buildpress/coming-soon/" target="_blank">image</a> and <a href="https://demo.proteusthemes.com/buildpress/coming-soon-video/" target="_blank">video</a>. (This page template is available from BuildPress version 5.0 onwards).
</p>

<h3 id="comming-soon-page">Coming Soon Page</h3>
<p>
	In BuildPress version 5.0 we introduced two coming soon pages, one with a full page background <a href="https://demo.proteusthemes.com/buildpress/coming-soon/" target="_blank">image</a> and one with a <a href="https://demo.proteusthemes.com/buildpress/coming-soon-video/" target="_blank">video</a> background. These two pages come with the original BuildPress demo import (BuildPress Classic).
</p>
<p>
	To set the coming soon page, so that users will see it instead of your site (which is "under construction"), you have to set it as your front page. Go to Settings » Reading and set the <b>Front page displays</b> to <i>A static page</i> (if not already set) and then select your <i>coming soon page</i> as the <b>Front Page</b>. Don't forget to save the settings.
</p>
