<h3 id="page-templates">Page Templates</h3>
<img class="alignright" src="images/page-templates.jpg" alt="Page Template" width="390" height="448">
<p>
	You can choose between 4 different Templates - <strong>Default Template</strong>, <strong>Default Template (for Page Builder)</strong>, <strong>Front Page With Layer/Revolution Slider</strong> and <strong>Front Page with Slider</strong>.
</p>
<p>
	<strong>Default Template</strong>: Just default template for simple layouts.
</p>
<p>
	<strong>Default Template (for Page Builder)</strong>: This is where the magic happens. First you must choose Page Builder option under the title and you are ready to go. You can add our widgets here, choose different visual styles and much more. More about that in the next chapter.</a>
</p>
<p>
	<strong>Front Page with Slider</strong>: This is an unique template which adds option for the slider in page options. It can be used with Page Builder. More about that in the Slider chapter.
</p>
<p>
	<strong>Front Page with Layer/Revolution Slider</strong>: We don't include this two sliders with the theme but we make sure they work since we know our customers want to use them. When you activate this template there is a new field in which you can put alias from Layer/Revolution Slider and that's it.
</p>