<h4 id="theme-onboarding-wizard">Theme onboarding wizard</h4>
<p>
	After you activate the theme, an onboarding wizard will run, which will guide you through the theme setup. The wizard is made out of these steps:
</p>
<ul>
	<li>welcome step,</li>
	<li>child theme installation and activation,</li>
	<li>theme registration,</li>
	<li>plugin installation and activation,</li>
	<li>demo content import</li>
</ul>

<p>
	After you complete this wizard, your WordPress website will be ready to go and you'll be on your way creating something amazing! :)
</p>