<div class="info">
	<strong><a href="https://www.proteusthemes.com/help/install-structurepress-theme-import-demo-data/" target="_blank">Check out our guide on how to install the StructurePress theme and how to import its demo data</a></strong>
</div>