<div class="info">
	<strong><a href="http://support.proteusthemes.com/hc/en-us/articles/206399639-How-to-install-the-StructurePress-theme-and-import-the-demo-data" target="_blank">Check out our guide on how to install the StructurePress theme and how to import its demo data</a></strong>
</div>