<h3 id="top-bar">Top Bar</h3>
<p>
	On the left side you can put Site Tagline <kbd><kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Customize</samp></kbd>&nbsp;→ <kbd><samp>Site Title &amp; Tagline</samp></kbd></kbd>, very usefull for all kinds of slogans.
</p>
<p>
	The right side is a widget sidebar area called <i>Top</i> so you can customize this area in <kbd><kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Widgets</samp></kbd>&nbsp;→ <kbd><samp>Top</samp></kbd></kbd>.
</p>