<h3 id="breadcrumbs">Breadcrumb NavXT</h3>
<p>
	The breadcrumbs in this theme are powered by the <strong>Breadcrumb NavXT</strong> plugin.
</p>
<p>
	All the settings for breadcrumbs can be found in <kbd><kbd><samp>Settings</samp></kbd>&nbsp;→ <kbd><samp>Breadcrumb NavXT</samp></kbd></kbd>. Here you can define a separator (which should be empty by default for our themes), breadcrumb hierarchies for different pages (pages, custom post types, taxonomy, ...) and set other breadcrumbs related things.
</p>

{# Breadcrumb NavXT portfolio #}
{% part "content-includes/plugins/breadcrumbs-navxt-portfolio" %}
