<h3 id="custom-icons">WoonderShop Custom Icons</h3>
<p>
	WoonderShop theme also has a set of custom icons. To learn more about these custom icons, read this <a href="https://www.proteusthemes.com/help/woondershop-custom-icons/">help article</a>.
</p>

<h3 id="urgency-countdown-shortcode">Urgency Countdown Shortcode</h3>
<p>
	This theme also has a urgency countdown shortcode and you can learn more about it in this <a href="https://www.proteusthemes.com/help/urgency-countdown-shortcode/">help article</a>.
</p>

<h3 id="time-left-shortcode">Time Left Shortcode</h3>
<p>
	The <a href="https://www.proteusthemes.com/help/time-left-shortcode/">time_left</a> shortcode will count down for the specified time duration. Read more about it in this <a href="https://www.proteusthemes.com/help/time-left-shortcode/">help article</a>.
</p>