<h3 id="urgency-countdown-shortcode">Urgency Countdown Shortcode</h3>
<p>
	This theme also has a urgency countdown shortcode and you can learn more about it in this <a href="https://www.proteusthemes.com/help/urgency-countdown-shortcode/">help article</a>.
</p>