<h3 id="logo-and-favicon">Logo</h3>
<p>
	The default logo can be changed in our Theme Options - <kbd><kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Customize</samp></kbd>&nbsp;→ <kbd><samp>Theme Options</samp></kbd>&nbsp;→ <kbd><samp>Logo</samp></kbd></kbd>.
</p>
<p>
	The <strong>Front Page With Slider</strong> <a href="#page-templates">page template</a> provides alternative logo settings in its <strong>Front page slider and header</strong> box. The <strong>Front Page With Layer/Revolution Slider</strong> template uses the default logo from the Customizer.
</p>
<img src="images/alternative-front-page-logo.jpg" alt="Setting for alternative logo">
<p>
	If you don't specify alternative logo for the front page, the default one set in the customizer will be used.
</p>
