<section>
	<h2 id="header">Header</h2>

	{# Top Bar #}
	{% part "content-includes/theme-header/top-bar" %}

	{# Header Widgets #}
	{% part "content-includes/theme-header/header-widgets" %}

	{# Logo #}
	{% part "content-includes/theme-header/logo" %}

	{# Favicon #}
	{% part "content-includes/theme-header/favicon" %}

	<h3 id="header-widgets">Header Widgets</h3>
	<p>
		There are left and right header widget areas. Both areas can work with Buttons (Text widget), Icon Box, Social Icons, Skype Button or Search widget.
	</p>

	{# Main Menu #}
	{% part "content-includes/theme-header/main-menu" %}

	{# Navigation Widgets #}
	{% part "content-includes/theme-header/navigation-widgets" %}
</section>