<h4>Front Page template for Visual Composer</h4>
<p>
	We've also made it very easy to create our original Front Page layout (demo page) with Visual Composer. All you need to do is:
</p>
<ol>
	<li>Create a new page and set the page template to <strong>Front Page with Slider</strong> and set the slider images below the editor.</li>
	<li>In the Visual Composer editor click on <strong>Templates</strong> icon, click on <strong>Default Templates</strong> tab and then select <strong>LegalPress: Front Page</strong> template (it has the ProteusThems icon):<img src="images/vc_home_page_template.png" alt="Visual Composer default templates"></li>
	<li>Close the templates widow and publish/update the page.</li>
</ol>