---
pagination:
  data: themes
  size: 1
  alias: theme
permalink: "{{ theme.name }}/index.html"
eleventyExcludeFromCollections: true
---
{% part "header" %}
	<div class="container  container--main">
		<div class="row">
			<div class="col-xs-12  col-md-9  col-md-push-3">
				<div class="content">
					{% part "content" %}
				</div>
			</div>
			<div class="col-xs-12  col-md-3  col-md-pull-9" id="sidebar-menu">
				{% part "sidebar" %}
			</div>
		</div>
	</div>
{% part "footer" %}