<section>
	<h2 id="proteusthemes-options">ProteusThemes Options</h2>
	<p>
		You can find all <b>Theme Options</b> in the Customizer: <b>Appearance » Customize</b>. This is a live preview editor for your page.
	</p>
	<p>
		Here you can change:
	</p>
	<ul>
		<li><b>Logo &amp; Favicon</b></li>
		<li><b>Header</b></li>
		<li><b>Navigation</b></li>
		<li><b>Theme Colors</b></li>
		<li><b>Latest Posts</b></li>
		<li><b>Footer</b></li>
		<li><b>Custom Code</b></li>
		<li><b>And Much More ...</b></li>
	</ul>
</section>