<h3 id="contact-form-7">Contact Form 7</h3>
<p>
  We use Contact Form 7 for our Contact Us page. This is the code from our demo:
</p>
{{!-- Contact form 7 code example used in our demo page --}}
{{> contact-form-7-code}}
<p>
	After that just place the plugin's shortcode to your contact us page.
</p>
<p>
	The same goes for <b>Make an Appointment</b> page. Here is the code from our demo:
</p>
<pre>&#x3C;div class=&#x22;row&#x22;&#x3E;
    &#x3C;div class=&#x22;col-xs-12  col-sm-6&#x22;&#x3E;
      [text* your-name placeholder &#x22;Your Name&#x22;]
      [text your-subject placeholder &#x22;Subject&#x22;]
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col-xs-12  col-sm-6&#x22;&#x3E;
      [email* your-email placeholder &#x22;E-mail address&#x22;]
      [date* your-date placeholder &#x22;Pick a Date&#x22;]
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col-xs-12  col-sm-12&#x22;&#x3E;
      [textarea your-message placeholder &#x22;Message&#x22;]
      [submit class:btn class:btn-primary &#x22;SEND MESSAGE&#x22;]
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;</pre>