<h3 id="ecwid">Ecwid</h3>
<p>
	MentalPress fully supports <a href="https://www.ecwid.com/">Ecwid e-commerce</a> integration.
</p>
<p>
	Setting up the Ecwid store in MentalPress is easy, all you have to do is to follow the steps below:
</p>
<ol>
	<li><a href="https://my.ecwid.com/cp/#register">Register a new account</a> on the Ecwid website.</li>
	<li>You can configure your store right away (settings, adding products) or you can leave it as it comes with demo products and you get back to the final configuration later. Their <a href="https://help.ecwid.com/">help center</a> will come in handy.</li>
	<li>
		Install the free WordPress plugin <a href="https://wordpress.org/plugins/ecwid-shopping-cart/">Ecwid Shopping Cart</a> and activate it. <br>
		<img src="images/ecwid-activate.png" alt="activate ecwid">
	</li>
	<li>
		After activation you will see this - click to <strong>Set up Ecwid Store</strong>: <br>
		<img src="images/ecwid-start-setup.png" alt="setup ecwid">
	</li>
	<li>
		It will take you to this page, where you can connect your previously created Ecwid store. Click to <strong>Connect your store to WordPress site</strong>: <br>
		<img src="images/ecwid-connect.png" alt="connect ecwid"> <br>
		You will be redirected to Ecwid site and should give permission WordPress to access your Ecwid store.
	</li>
	<li>
		Once you give permissions, you will be redirected back to wp-admin where you have complete control over the shop and can finish up the Ecwid setup guide: <br>
		<img src="images/ecwid-dashboard.png" alt="ecwid dashboard">
	</li>
</ol>
<p>
	This is it. You are ready to sell. The default location of the shop will be <code>http://example.com/<strong>store/</strong></code> (add <code>/store/</code> to the end of the URL).
</p>
<div class="info">
	All further information and documentation for the Ecwid you can find on official <a href="https://help.ecwid.com/" target="_blank"><strong>Ecwid website</strong></a>.
</div>