<p>
	Other nested elements are: <strong>Accordion</strong>, <strong>Contact Profile</strong>, <strong>Steps</strong>, <strong>Number Counter</strong> and <strong>Testimonials</strong>. They all work on the same principle, they enable you to add multiple accordion items, counters, testimonials and so on...
</p>