---
themeName: <%= themename %> WP
themeChangelogURL: https://www.proteusthemes.com/wordpress-themes/<%= theme %>/#go_changelog
shutterstockURL: <%= shutterstockurl %>
---
<section>
	<h2 id="extras">Extras</h2>
	<h3 id="demo-images">Demo Images</h3>
	<p>
		Images for slider are free and can be found in the <code>/extras/slider/</code>.
	</p>
	<p>
		Rest of the images available for template preview aren't included in the HTML template because of the licences, but you can buy them at photodune.net:
	</p>
	<ul>
		<li><a href="http://photodune.net/item/mechanic-in-a-garage/1303672?ref=ProteusThemes">Mechanic in a garage</a></li>
		<li><a href="http://photodune.net/item/car-mechanic-working/2337780?ref=ProteusThemes">Car mechanic working</a></li>
		<li><a href="http://photodune.net/item/mechanic-reparing-a-car/2337883?ref=ProteusThemes">Mechanic reparing a car</a></li>
		<li><a href="http://photodune.net/item/mechanic-fixing-car/2337890?ref=ProteusThemes">Mechanic fixing car</a></li>
		<li><a href="http://photodune.net/item/car-mechanic/2337856?ref=ProteusThemes">Car mechanic</a></li>
	</ul>
	<div class="info">
		All the images shown in the demo page of {{extras.themeName}} are copyrighted and come blurry with the theme (demo content).
	</div>
	<h3 id="customizations">Customizations</h3>
	<p>If you need advanced customizations on the theme, we are available for that as well.</p>
	<p>
		Let us know what'd you'd like to change via <a href="https://support.proteusthemes.com/hc/en-us/requests/new" target="_blank">support ticket</a> and we will get back to you with a quote.
	</p>
	<p>
		For your general orientation: <a href="https://www.proteusthemes.com/pricelist.html" target="_blank">our pricelist</a>.
	</p>
	<h3 id="changelog">Changelog</h3>
	<p>
		<a href="{{extras.themeChangelogURL}}" target="_blank">View the {{extras.themeName}} changelog</a>.
	</p>
	<h3 id="support">Support</h3>
	<p>
		If you need more help after all, you can <a href="http://support.proteusthemes.com/" target="_blank">write to us</a>.
	</p>
</section>