---
themeName: <%= themename %> WP
themeChangelogURL: https://www.proteusthemes.com/wordpress-themes/<%= theme %>/#go_changelog
shutterstockURL: <%= shutterstockurl %>
---
<section>
	<h2 id="extras">Extras</h2>
	<h3 id="demo-images">Demo Images</h3>
	<p>
		Images for the slider are free and can be found in the <code>/extras/slider/</code> directory.
	</p>
	<p>
		The rest of the images in the demo aren’t included in the One Click Demo Import because of the licenses, but you can buy them at photodune.net:
	</p>
	<ul>
		<li><a href="https://photodune.net/item/mechanic-in-a-garage/1303672?ref=ProteusThemes">Mechanic in a garage</a></li>
		<li><a href="https://photodune.net/item/car-mechanic-working/2337780?ref=ProteusThemes">Car mechanic working</a></li>
		<li><a href="https://photodune.net/item/mechanic-reparing-a-car/2337883?ref=ProteusThemes">Mechanic reparing a car</a></li>
		<li><a href="https://photodune.net/item/mechanic-fixing-car/2337890?ref=ProteusThemes">Mechanic fixing car</a></li>
		<li><a href="https://photodune.net/item/car-mechanic/2337856?ref=ProteusThemes">Car mechanic</a></li>
	</ul>
	<div class="info">
		All the images shown in the demo page of {{extras.themeName}} are copyrighted and come blurry with the theme (demo content).
	</div>
	<h3 id="customizations">Customizations</h3>
	<p>If you need advanced customizations for this theme, we can do that. See our <a href="https://www.proteusthemes.com/services/theme-customization/">Theme Customization</a> page for details.</p>
	<h3 id="changelog">Changelog</h3>
	<p>
		<a href="{{extras.themeChangelogURL}}" target="_blank">View the {{extras.themeName}} changelog</a>.
	</p>
	<h3 id="support">Support</h3>
	<p>
		If you need more help after all, you can <a href="https://www.proteusthemes.com/help/" target="_blank">write to us</a>.
	</p>
</section>
