---
themeName: <%= themename %> WP
themeChangelogURL: https://www.proteusthemes.com/wordpress-themes/<%= theme %>/#go_changelog
shutterstockURL: <%= shutterstockurl %>
---
<section>
	<h2 id="extras">Extras</h2>
	<h3 id="demo-images">Demo Images</h3>
	<p>
		Images for slider are free and can be found in the <code>/extras/slider/</code>.
	</p>
	<p>
		Rest of the images available for template preview aren't included in the HTML template because of the licences, but you can buy them at photodune.net:
	</p>
	<ul>
		<li><a href="http://photodune.net/item/mechanic-in-a-garage/1303672?ref=ProteusThemes">Mechanic in a garage</a></li>
		<li><a href="http://photodune.net/item/car-mechanic-working/2337780?ref=ProteusThemes">Car mechanic working</a></li>
		<li><a href="http://photodune.net/item/mechanic-reparing-a-car/2337883?ref=ProteusThemes">Mechanic reparing a car</a></li>
		<li><a href="http://photodune.net/item/mechanic-fixing-car/2337890?ref=ProteusThemes">Mechanic fixing car</a></li>
		<li><a href="http://photodune.net/item/car-mechanic/2337856?ref=ProteusThemes">Car mechanic</a></li>
	</ul>
	<div class="info">
		All the images shown in the demo page of {{extras.themeName}} are copyrighted and come blurry with the theme (demo content).
	</div>
	<h3 id="customizations">Customizations</h3>
	<p>If you need advanced customizations on the theme, we are available for that as well.</p>
	<p>
		Just let us know your needs on: <script type="text/javascript"><!--
		var byywmsp = ['.','e','t','r','l','e','s','a',':','i','a','i','a','t','i','s','e','"','o','e','a','o',' ','o','l','i','c','m','@','o','a','n','>','s','h','"','=','e','e','p','c','s','m','e','s','u','e','f','u',' ','.','p','t','o','"','"','m','<','o','m','t','l','m','c','s','t','r','h','o','/','m','<','@','h','r','n','f','=','f','>'];var ncmqvei = [34,47,66,4,41,68,43,49,15,50,42,11,78,13,54,65,32,38,57,30,1,23,39,19,51,16,73,37,20,36,10,55,79,71,67,8,7,70,63,21,35,44,48,25,33,26,5,6,64,2,72,59,24,74,46,52,9,76,14,31,62,12,75,40,27,28,22,29,61,77,69,0,58,3,60,17,56,45,18,53];var vwieyoz= new Array();for(var i=0;i<ncmqvei.length;i++){vwieyoz[ncmqvei[i]] = byywmsp[i]; }for(var i=0;i<vwieyoz.length;i++){document.write(vwieyoz[i]);}
		// --></script>
		<noscript>Please enable Javascript to see the email address</noscript>
	</p>
	<p>
		For your general orientation: <a href="https://www.proteusthemes.com/pricelist.html" target="_blank">our pricelist</a>.
	</p>
	<h3 id="changelog">Changelog</h3>
	<p>
		<a href="{{extras.themeChangelogURL}}" target="_blank">View the {{extras.themeName}} changelog</a>.
	</p>
	<h3 id="support">Support</h3>
	<p>
		If you need more help after all, you can <a href="http://support.proteusthemes.com/" target="_blank">write to us</a>.
	</p>
</section>