<section>
	<h2 id="translations">Translations</h2>
	<h3 id="manual-translation">Manual translation</h3>
	<div class="info">
		<p>From version <code>1.6.0</code> Carpress WP theme is translated out of the box to the following languages:</p>
		<ul>
			<li>English</li>
			<li>German</li>
			<li>Spanish</li>
			<li>French</li>
			<li>Dutch</li>
			<li>Russian</li>
			<li>Slovenian</li>
		</ul>
		What you need to do is only install the <a href="http://codex.wordpress.org/Installing_WordPress_in_Your_Language">WordPress in your language</a> and the translations will work out of the box, no translating/coding required.
	</div>
	<p>
		We have an article with the video how to translate our themes <a href="https://proteusthemes.zendesk.com/hc/en-us/articles/200391371-How-to-translate-the-theme-to-some-other-language-">published on this link</a>.
	</p>
	<p>
		When you translate the theme to any new language, you can share the po/mo files with the rest of the community. Please <a href="mailto:info@proteusthemes.com">send us</a> a <code>.po</code> file so can we include it in the next theme update. By doing so, you get a big THANK YOU from us - we make your name immortal in the wall of fame on the <a href="http://themeforest.net/item/carpress-wordpress-theme-for-mechanic-workshops/7042577">CarPress item page</a>, with a link to your profile/blog/website.
	</p>
	<h3 id="wpml">WPML for Multilingual sites</h3>
	<p>
		This theme officially supports WPML. Head over to the <a href="http://wpml.org/" target="_blank">WPML website</a>, <a href="http://wpml.org/purchase/" target="_blank">buy the subscription</a>, then download and install the following plugins:
	</p>
	<ul>
		<li><b>WPML Multilingual CMS</b></li>
		<li><b>WPML String Translation</b></li>
		<li><b>WPML Translation Management</b></li>
	</ul>
	<p>
		After that the WPML wizard will guide you to properly configure the multilingual site.
	</p>
	<p>
		For reference: the widgets and theme options can only be translated using the String Translation.
	</p>
</section>