<h3 id="theme-options">Theme Options</h3>
<p>
	The theme uses Option Three plugin with custom options which you can customize in Appearance » Theme Options:
</p>
<img src="images/option-tree.jpg" alt="Option Tree" width="1736" height="799">
<p>
	When you change any of your settings, make sure you save the changes clicking on the <b>Save Changes</b> button on the top or at the bottom of the page.
</p>
<h3 id="customize-the-appearance">Customize the Appearance</h3>
<p>
	You can fully customize the appearance of the CarPress Theme. Go to the Appearance » Themes and click on the <b>Customize</b> button:
</p>
<img src="images/customize.jpg" alt="Customize CarPress" width="870" height="500">
<p>
	The new window appears and you can now customize the appearance of your theme - upload your custom logo, change the base color theme and color for theme buttons etc.
</p>
<img src="images/customize2.jpg" alt="Customize CarPress" width="1719" height="952">
<h3 id="custom-post-types">Custom Post Types</h3>
<img class="alignright" src="images/post-types.jpg" alt="Post Types" width="353" height="186">
<p>
	The theme comes with 3 different custom post types installed:
</p>
<p>
	<b>Services</b><br>
	Create a new service to display it in the Services Widget on the front page and in the list of all services which is available (by default) at <code>http://www.yourdomain.com/<b>services</b></code>
</p>
<p>
	<b>Gallery</b><br>
	The post type created to display the galleries, create a new gallery with a build-in WP gallery builder. Like Services and Team, the list of all galleries will be available at <code>http://www.yourdomain.com/<b>gallery</b></code>
</p>
<p>
	<b>Testimonials</b><br>
	List of the testimonials for the front page.
</p>

{{!-- Special notice --}}
{{> special-notice}}