<section>
	<h2 id="proteusthemes-options">ProteusThemes Options</h2>
	<p>You can find all <b>Theme Options</b> in the Customizer: <kbd><kbd><samp>Appearance</samp></kbd>&nbsp;→ <kbd><samp>Customize</samp></kbd></kbd>. This is a live preview editor for your page.</p>
	<p>Here you can change:</p>
	<ul>
		<li><b>Logo</b></li>
		<li><b>Header</b></li>
		<li><b>Navigation</b></li>
		<li><b>Page Header Area</b></li>
		<li><b>Breadcrumbs</b></li>
		<li><b>Theme Layout &amp; Colors</b></li>
		<li><b>Footer</b></li>
		<li><b>Custom Code</b></li>
		<li><b>Shop</b> (when WooCommerce is active)</li>
		<li><b>Portfolio</b> (when Portfolio Post Type is active)</li>
		<li><b>Other</b></li>
	</ul>
</section>