<h3 id="demo-images">Demo Images</h3>
<p>
	All images used in {{extras.themeName}} can be found on <a href="{{extras.shutterstockURL}}" target="_blank">Shutterstock</a>.
</p>
<p>
	Here are the images used in the slider:
	<ul>
		<li><a href="https://www.shutterstock.com/pic.mhtml?id=271339157&src=id" target="_blank">https://www.shutterstock.com/pic.mhtml?id=271339157&src=id</a></li>
		<li><a href="https://www.shutterstock.com/pic.mhtml?id=225531028&src=id" target="_blank">https://www.shutterstock.com/pic.mhtml?id=225531028&src=id</a></li>
		<li><a href="https://www.shutterstock.com/pic.mhtml?id=153912581&src=id" target="_blank">https://www.shutterstock.com/pic.mhtml?id=153912581&src=id</a></li>
		<li><a href="https://www.shutterstock.com/pic.mhtml?id=222019063&src=id" target="_blank">https://www.shutterstock.com/pic.mhtml?id=222019063&src=id</a></li>
		<li><a href="https://www.shutterstock.com/pic.mhtml?id=145982744&src=id" target="_blank">https://www.shutterstock.com/pic.mhtml?id=145982744&src=id</a></li>
	</ul>
</p>
<div class="info">
	All the images shown in the demo page of {{extras.themeName}} are copyrighted and come blurry with the theme (demo content).
</div>
