<h3 id="page-builder-widgets">Page Builder Widgets</h3>
<p>
	You can use almost any widget in the Page Builder. Let's take a look at a few not so straightforward ones.
</p>
<h4>SiteOrigin Editor Widget</h4>
<p>
	SiteOrigin Editor will create for you the same editor environment as a normal WordPress editor does. You can use this widget if you want normal text editing options. The SiteOrigin Editor Widget is part of <a href="https://wordpress.org/plugins/so-widgets-bundle/" target="_blank">Site Origin Widgets Bundle</a>.
</p>

{{!-- Call To Action widget --}}
{{> call-to-action-widget}}

{{!-- Featured Page widget --}}
{{> featured-page-widget}}

<h4 id="mailchimp-subscribe">MailChimp Subscribe</h4>
<p>
	MailChimp Subscribe widget will help you collect emails from your potential clients, so you can email them a newsletter or a promotional offer and so increase your profits. <a href="https://demo.proteusthemes.com/gympress/" target="_blank">Here is an example of the MailChimp subscribe widget (in the footer)</a>.
</p>
<p>
	This widget is easy to setup. Just follow the instructions in the widget:
</p>
<ol>
	<li><a href="https://admin.mailchimp.com/account/api" target="_blank">Visit this URL and login with your mailchimp account</a>,</li>
	<li>Create an API key and paste it in the <b>MailChimp API key</b> input field,</li>
	<li>Click on the Connect button, so that your existing MailChimp lists can be retrieved,</li>
	<li>Select which list you want your visitors to subscribe to, from the dropdown menu,</li>
	<li>Save the widget and update the page.</li>
</ol>

<p>
	That's it! The subscribe form will be generated automatically (email field and a submit button) and you will be able to collect emails.
</p>