<section>
	<h2 id="header">Header</h2>

	{# Top Bar #}
	{% part "content-includes/theme-header/top-bar" %}

	{# Logo #}
	{% part "content-includes/theme-header/logo" %}

	{# Favicon #}
	{% part "content-includes/theme-header/favicon" %}

	{# Main Menu #}
	{% part "content-includes/theme-header/main-menu" %}

	{# After Header #}
	{% part "content-includes/theme-header/after-header" %}
</section>