{{!-- The majority of themes does not have the middle footer section. --}}
{{!-- <h3 id="middle-footer">Middle Footer</h3>
<p>
	Middle Footer area is place for your additional information like social icons, supported credit cards, copyrights or some other text. Custom text for left or right of middle footer can be added in live customizer <b>Appearance » Customize » Theme Options » Footer</b>. In that area you will also find Back to Top button which can be turned off in the same place in customizer.
</p> --}}