<p>If the import URLs are unavailable, download the demo files from the store where you bought the theme:</p>
<ul>
  <li><b>ProteusThemes shop:</b> sign in to your <a href="https://www.proteusthemes.com/account/" target="_blank">account</a> and download the theme's extras ZIP.</li>
  <li><b>ThemeForest:</b> download the <b>All files &amp; documentation</b> ZIP and open its <b>extras</b> folder.</li>
</ul>
<p>Use <code>content.xml</code> for the content import and <code>widgets.json</code> for the widget import described above.</p>
